
{% extends "_layouts/layoutHome.html" %}

{% block titelfuerseo %}
{% set entry = craft.entries.section('suchmaschinenoptimierung').slug('consumer-missions').one() %}
{{ entry.titelfeldFuerJens }}
{% endblock %}

{% block headerZusatz %}
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"/>
{% endblock %}

{% block block1 %}

<style>
hr {
  margin-top: -.5rem;
  margin-bottom: .5rem;
}
</style>

<div class="container-fluid text-center" id="ersterContainer" style="padding-top: 7rem; position: relative;">

  <nav aria-label="breadcrumb" id="info">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"> <a href="https://aufbau-website.de/craft/web/fuerSie">Für Sie</a></li>
      <li class="breadcrumb-item"> <a href="https://aufbau-website.de/craft/web/fuerSie/daheim.html">Für Sie daheim</a></li>
      <li class="breadcrumb-item">  Consumer Missions </li>
    </ol>
  </nav>

  <img class="img-fluid" id="welle" src="{{ craft.assets.filename('welle.png').one().getUrl() }}" style="position: absolute; left:0; width: 40%;">

  <div class="container achterspaltenlayout" style="padding-top:0px; position: relative;" id="nachfolge">
    {% set entry = craft.entries.section('fuerSie').slug('gerechtigkeit-consumer').one() %}

      <h1 style="padding-bottom: 2rem;"> {{ entry.title }}  </h1>
      <div id="anleser"> {{ entry.anleser }}</div>
  </div>

  <nav id="myScrollspy">
    <ul class="nav nav-pills flex-column" id="copy">
      <p class="uebersicht text-left"> Übersicht der Inhalte: </p>
      <li class="nav-item">   <a class="nav-link active" href="#nachfolge"> <div>Christusnachfolge</div> </a> </li>
      <li class="nav-item">   <a class="nav-link" href="#verantwortlich"> <div> Verantwortlicher Konsum </div> </a> </li>
      <li class="nav-item">   <a class="nav-link" href="#konsum"> <div> Konsum - Fluch oder Segen </div> </a> </li>
      <li class="nav-item">   <a class="nav-link" href="#jesus"> <div> Jesus als Vorbild </div> </a> </li>
      <li class="nav-item">   <a class="nav-link" href="#mitmachen"> <div> Machen Sie mit </div> </a> </li>
    </ul>
  </nav>

</div>

<div class="container-fluid no-padding" style="background-color: #ffffff; padding-top: 5rem;">
  <div class="container achterspaltenlayout" style="padding-bottom: 4rem;">
    <div id="copy"> {{ entry.text }} </div>
  </div>

  <div class="container achterspaltenlayout" id="verantwortlich" style="padding-bottom: 5rem;">
    {% set entry = craft.entries.section('fuerSie').slug('verantwortlicher-konsum').one() %}
    <h3 style="padding-bottom: 1rem;"> {{ entry.title }} </h3>
    <div id="copy"> {{ entry.anleser }}  </div>

    <h3 id="konsum" style="padding-top:4rem; padding-bottom: 1rem;"> {{ entry.zusatzfeld1 }} </h3>
    <div id="copy"> {{ entry.text }}  </div>
  </div>
</div>


{% include '_layouts/codeschnipsel/karussellmitjs' %}

<style media="screen">

.slick-track{
  display: flex;
}
.slick-slide{
  display: flex;
  height: auto;
  align-items: center; //optional
  justify-content: center; //optional
}
</style>

<div class="container zwoelferspaltenlayout text-center" style="padding-top: 0; padding-bottom: 5rem;">
  {% set entry = craft.entries.section('fuerSie').slug('wuerde-jesus').one() %}
  <h2 style="padding-top: 5rem;"> {{ entry.title }} </h2>

  <div class="karussell">

    {% set entries = entry.children().all() %}
    {% for entry in entries %}
    <div style="padding: 1rem; padding-bottom: 0; margin: 1rem; margin-bottom: 2rem; background-color: white;">
      <div id="copy" style="color: #ed6e2c;"> {{ entry.title }} </div>
      <div id="copy"> {{ entry.anleser }} </div>
    </div>
    {% endfor %}
  </div>

  <div id="info" style="padding-top: 5rem;"> {{ entry.anleser }}  </div>
</div> <!-- Würde Jesus -> durcklickbare Fragen und Container für karussell -->

<div class="container-fluid no-padding" style="background-color: #ffffff; padding-top: 5rem; padding-bottom: 2rem;" id="jesus">
  {% set entry = craft.entries.section('fuerSie').slug('jesus-vorbild').one() %}

  <div class="container achterspaltenlayout">
    <h3 style="padding-bottom: 1rem;"> {{ entry.title }} </h3>
    <div id="copy"> {{ entry.anleser }}  </div>
  </div>
</div> <!-- weißer Hintergrundcontainer -->

<div class="container zwoelferspaltenlayout" style="padding-bottom: 5rem;" id="mitmachen">
  <div class="text-center">
    <h2 style="padding-bottom: 0;"> {{ entry.zusatzfeld1 }} </h2>
    <div id="anleser"> {{ entry.text }}  </div>
  </div>

  {% set entries = entry.children().all() %}
  <div class="row">
    {% for entry in entries %}
    <div class="col-sm-6 col-md-3">
      <div id="copy"> {{ entry.anleser }}  </div>
    </div>
    {% endfor %}
  </div> <!-- Die Spalten mit den verschiedenen Links, durch hr getrennt -->

</div> <!-- zwoelferspaltenlayout container -->

<div class="container-fluid no-padding" style="background-color: white; padding: 5rem 0rem;">

  <p id="anleser" class="text-center" style="padding-bottom: 5rem;"> Einige ganz alltägliche Konsumthemen haben wir für sie recherchiert: </p>

  {% set entry = craft.entries.section('fuerSie').slug('kaffee-unsere-tägliche-chance').one() %}
  {% include '_layouts/weiterleitungkorrekt' %}

  <div style="padding-bottom: 3rem;">  </div>

  {% set entry = craft.entries.section('fuerSie').slug('baeume-fuer-kenia').one() %}
  {% include '_layouts/weiterleitungkorrekt' %}


</div> <!-- Weißer Hintergrundcontainer -->


{% endblock %}
