
{% extends "_layouts/layoutHome.html" %}

{% block titelfuerseo %}
{% set eintrag = craft.entries.section('suchmaschinenoptimierung').slug('blog').one() %}
{{ eintrag.titelfeldFuerJens }}
{% endblock %}

{% block headerZusatz %}
<link rel="stylesheet" type="text/css" href="https://aufbau-website.de/craft/web/CSSundJS/gallery/css/strip.css"/>
{% endblock %}

{% block block1 %}
<script type="text/javascript" src="https://aufbau-website.de/craft/web/CSSundJS/gallery/js/strip.pkgd.min.js"></script>

<script type="text/javascript">

/*Strip.setDefaultSkin('custom');
$(function() {
  $.extend(Strip.Skins, {
    'custom': {
      loop: false,
    }
  });
}); /*Anpassen der Funktionen möglich */
</script>

<style media="screen">
.thumbnail img {
  max-height: 257.77px;
  width: 100%;
}
</style>

<div class="container-fluid text-center" style="padding-top: 7rem; position: relative;">

  <nav aria-label="breadcrumb" id="info">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"> <a href="https://aufbau-website.de/craft/web/blog">Blog</a></li>
  </ol>
</nav>

<img class="img-fluid" id="welle" src="{{ craft.assets.filename('welle.png').one().getUrl() }}" style="position: absolute; left:0; width: 40%;">

  <div class="container achterspaltenlayout" style="padding-bottom: 0; position: relative;">
  <h1> {{ entry.title }} </h1>
  <div id="info" style="padding-bottom: 8rem;"> Veröffentlicht am {{ entry.postDate | date("M d, Y") }} - in <a href="{{ entry.blogKategorie.one().url }}">{{ entry.blogKategorie.one().title }}</a></div>
  </div>
</div>

<div class="container-fluid no-padding" style="background-color: white; padding-top: 0;">
<div class="container achterspaltenlayout">
  <img class="img-fluid" src="{% if entry.bild.one() is not null %} {{ entry.bild.one().url }} {% endif %}" style="padding-bottom: 0; margin-top:-7rem; position: relative;">
  <div id="copy" style="padding-top: 3rem;">{{ entry.restlichertext }}  </div>
</div>

  <div class="container zwoelferspaltenlayout" style="padding-top: 3rem; padding-bottom: 5rem;"> <!-- Der Slider mit den verschiedenen Bildern -->
          {% set bilder = entry.bild.all() %} {% set counter = 0 %}
          <div class="row">
          {% for bild in bilder %} {% set counter = counter + 1 %}
          {% if counter < 7 %} <div class="col-4" style="padding: 0;"> {% endif %}
          {% if counter >= 7 %} <div class="col-4" style="display: none;"> {% endif %}
            <a href="{{bild.url}}" class="strip thumbnail" hideOnClickOutside: false data-strip-group="mygroup">
            <img src="{{bild.url}}" class="img-fluid" style="padding-bottom: 0;">
           </a>
         </div>
          {% endfor %}
        </div>

  </div>

<div class="container achterspaltenlayout" style="overflow: hidden; white-space: nowrap;">
<h3>Mit Anderen Teilen </h3>
{% set bilder = craft.entries.section('spendenfelderUndSo').slug('logosfbtwitteremail').one() %}
<a class="teilen" style="padding-left: 0;" target="_blank" href="{{ 'https://www.facebook.com/sharer/sharer.php?u=https%3A//aufbau-website.de/craft/web/blog/' ~ entry.slug }}">
  <img class="img-fluid" style="padding-bottom: 0; height: 20px;" src="{{ bilder.bild.one().url }}">
  <div>Facebook</div>
</a>

<a class="teilen" target="_blank" href="{{ 'https://twitter.com/home?status=https%3A//aufbau-website.de/craft/web/blog/' ~ entry.slug }}">
  <img class="img-fluid" style="padding-bottom: 0; height: 20px;" src="{{ bilder.bild2.one().url }}">
  <div> Twitter </div>
</a>

<a class="teilen" href="mailto:?subject=Interessanter Artikel&body={{ 'https://aufbau-website.de/craft/web/blog/' ~ entry.slug }}">
  <img class="img-fluid" style="padding-bottom: 0; height: 20px;" src="{{ bilder.bild3.one().url }}">
  <div> Email </div>
</a>
</div> <!-- Achterspaltenlayout - Container -->

<div class="container zwoelferspaltenlayout text-center" id="copy" style="padding-bottom: 3rem;">

<div class="row">
  <div class="col-sm-4">
  {% set criteria = {section: 'blog', orderBy: 'postDate'} %}
  {% set prev = entry.getPrev(criteria) %}
  {% if prev %}
   <a href="{{ prev.url }}" style="text-align: left;"> < Vorheriger Beitrag </a>
  {% endif %}
</div>

<div class="col-sm-4"> <a href="https://aufbau-website.de/craft/web/blog"> Zurück zur Übersicht</a> </div>

<div class="col-sm-4">
{% set criteria = {section: 'blog', orderBy: 'postDate'} %}
{% set next = entry.getNext(criteria) %}
{% if next %}
 <a href="{{ next.url }}" style="text-align: right;"> Nächster Beitrag > </a>
{% endif %}
</div>
</div>
<hr style="border-width:2px; margin-top: 3rem; margin-bottom: 0;">

</div> <!-- Die weiterführenden Links -->


</div> <!-- Weißer Hintergrund-container -->

<style> /* Die Styles für die animierten Bilder */
.bx-wrapper {
  margin: 0 auto;
}
.teilen {
    padding: 0 1rem;
}
.teilen div {
  display: inline-block;
  line-height: 20px;
}
</style>
{% endblock %}
