
{% extends "_layouts/layoutHome.html" %}

{% block titelfuerseo %}
{% set entry = craft.entries.section('suchmaschinenoptimierung').slug('kinderpaten').one() %}
{{ entry.titelfeldFuerJens }}
{% endblock %}

{% block block1 %}

<nav id="myScrollspy">
  <ul class="nav nav-pills flex-column">
       <li class="nav-item">   <a class="nav-link active" href="#start"> </a> <span>Kinderpaten</span> </li>
       <li class="nav-item">   <a class="nav-link" href="#saeulen"></a> <span> Die Säulen </span>  </li>
       <li class="nav-item">   <a class="nav-link" href="#ziel"></a> <span>Das Ziel</span>  </li>
       <li class="nav-item">   <a class="nav-link active" href="#ganzheitlich"></a> <span>Ganzheitliche Begleitung</span> </li>
       <li class="nav-item">   <a class="nav-link" href="#warum"></a> <span>Warum ganzheitlich </span>  </li>
  </ul>
</nav>

<a class="btn btn-primary wandernderButton" href="https://aufbau-website.de/craft/web/spenden/patewerden.html#kind">Kinderpate werden</a>

<div class="container-fluid text-center" style="padding-top: 9rem; position: relative;" id="start">

  <nav aria-label="breadcrumb" id="info">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"> <a href="https://aufbau-website.de/craft/web/projekte">Projekte</a></li>
    <li class="breadcrumb-item"> <a href="https://aufbau-website.de/craft/web/projekte/programme.html">Programme</a></li>
    <li class="breadcrumb-item"> Kinderpate </li>
  </ol>
</nav>

  <img class="img-fluid" id="welle" src="{{ craft.assets.filename('welle.png').one().getUrl() }}" style="position: absolute; left:0; width: 40%;">

  <div class="container achterspaltenlayout" style="padding-top: 0px; padding-bottom: 0; position: relative">

    {% set entry = craft.entries.section('projekte').slug('kinderpaten').one() %}

    <h1 style="padding-bottom: 2rem;"> {{ entry.anleser }}  </h1>
    <div id="anleser" style="padding-bottom: 0;"> {{ entry.text }}</div>
    </div>
  </div>


    <img class="img-fluid" style="padding-bottom: 0;" src=" {{ craft.assets.filename('chance-projekte-programme-kinderpate.jpg').one().getUrl() }} ">

    <div class="container achterspaltenlayout" id="video"></div>

{% set akkordionBilder = craft.entries.section('spendenfelderUndSo').slug('akkordion-bilder').one() %}

  <div class="container achterspaltenlayout" id="saeulen" style="padding-top: 5rem; padding-bottom: 4rem;">
    {% set entry = craft.entries.section('projekte').slug('säulen').one() %}
    <h2 style="padding-bottom: 2rem;"> {{ entry.title }} </h2>
    <div id="anleser"> {{ entry.anleser }} </div>

    {% set entries = craft.entries.section('projekte').slug('säulen').one().children().all() %}

    {% include '_layouts/codeschnipsel/accordion' %}


    {% set entry = craft.entries.section('projekte').slug('klausel').one() %}
    <div id="copy"> {{ entry.text }}  </div>

  </div>

  <div class="container-fluid no-padding" style="padding-top: 4rem; background-color: #ffffff;" id="ziel">
    <div class="container achterspaltenlayout text-center">
      {% set entry = craft.entries.section('projekte').slug('starke-kinder').one() %}
        <h2 style="padding-bottom: 2rem;"> {{ entry.title }} </h2>
        <div id="anleser"> {{ entry.anleser }}    </div>
        <img class="img-fluid mx-auto d-block"  src="  {% if entry.bild.one() is not null %}  {{ entry.bild.one().getUrl() }}  {% endif %}" style="padding-bottom: 0;">
    </div>

    <div class="container zwoelferspaltenlayout" style="padding-bottom: 5rem; padding-top: 3rem;">

      <div class="row">
      {% set entries = craft.entries.section('projekte').slug('starke-kinder').one().children().all() %}

      {% if entries | length %}

      {% for entry in entries %}
      <div class="col-sm-4">
      <div id="copy"> {{ entry.text }} </div>
      </div>

      {% endfor %} {% endif %}
    </div>
  </div>
</div>


{% set entry = craft.entries.section('projekte').slug('kinderpate-werden').one() %}

<div class="container-fluid no-padding"  style="background-image: url({{ entry.bild.one().url }});">
  <div class="container zwoelferspaltenlayout" style="padding-top: 1rem;">
    <div class="row">
    <div class="col-md-5" style="position: relative; min-height: 150px;">   <img class="mx-auto d-block" id="kind" style="max-width: 100%; bottom: 0; left: 0; " src="{{ entry.bild.inReverse().one().url }}"> </div>
    <div class="col-md-7" style="padding-left: 2rem; padding-right: 2rem;">
      <h4 style="color: white;"> {{ entry.title }} </h4>
      <div id="copy" style="color: white;"> {{ entry.text }}</div>
      <div class="row">
        <div class="col-sm-4">
          <a href="https://aufbau-website.de/craft/web/spenden/spende.html?spendenart=Kinderpate%20Peru*" class="btn btn-primary" role="button" style="margin-bottom: 2rem;">Kinderpate in Peru werden</a>
        </div> <div class="col-sm-2">  </div>
        <div class="col-sm-6">
          <a href="https://aufbau-website.de/craft/web/spenden/spende.html?spendenart=Kinderpate%20Kenia*" class="btn btn-primary" role="button" style="margin-bottom: 2rem;">Kinderpate in Kenia werden</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div> <!-- Der orange Berg mit dem Spendenaufruf -->

<div class="container zwoelferspaltenlayout text-center" id="ganzheitlich" style="padding-bottom: 5rem;">
  {% set entry = craft.entries.section('projekte').slug('ganzheitliche-begleitung').one() %}
    <h2> {{ entry.title }} </h2>
    <img class="img-fluid mx-auto d-block"  src="  {% if entry.bild.one() is not null %}  {{ entry.bild.one().getUrl() }}  {% endif %}" style="padding-bottom: 0;">
</div> <!-- ganzheitliche Begleitung -->

<div class="container-fluid no-padding" style="background-color: white; padding-top: 0;" id="warum">
  <div class="container achterspaltenlayout text-center" style="padding-bottom: 0; padding-top: 5rem;">
    {% set entry = craft.entries.section('projekte').slug('warum-ganzheitlich').one() %}

      <h2 style="padding-bottom: 2rem;"> {{ entry.title }} </h2>
      <div id="anleser" style="padding-bottom: 0;"> {{ entry.anleser }}    </div>
  </div>

<div class="container zwoelferspaltenlayout text-center" style="padding-top: 3rem;">
  {% set entry = craft.entries.section('projekte').slug('dorfentwicklung').one() %}
   <hr style="height: 1px; margin-top: 2rem; margin-bottom: 5rem;">
   <div id="anleser" style="padding-bottom: 5rem;"> Lernen Sie unsere weiteren Progamme kennen </div>
</div>

{% include '_layouts/weiterleitungmitzeilenumbruch' %}
<div style="padding-top: 2.5rem;"> </div>

{% set entry = craft.entries.section('projekte').slug('naturschutz').one() %}
{% include '_layouts/weiterleitungmitzeilenumbruch' %}
<div style="padding-top: 2.5rem;"> </div>

{% set entry = craft.entries.section('projekte').slug('themen').one() %}
{% include '_layouts/weiterleitungkorrekt' %}
<div style="height: 5rem;"></div>


  {% endblock %}
