
{% extends "_layouts/layoutHome.html" %}


{% block titelfuerseo %}
{% set entry = craft.entries.section('suchmaschinenoptimierung').slug('umweltschutz').one() %}
{{ entry.titelfeldFuerJens }}
{% endblock %}

{% block headerZusatz %}
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"/>
{% endblock %}

{% block block1 %}


<a class="btn btn-primary wandernderButton" href="https://www.chance-international.org/spenden/patewerden.html#wald">Waldpate werden</a>

<div class="container-fluid text-center" style="padding-top: 7rem; position: relative;" id="start">

  <nav aria-label="breadcrumb" id="info">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"> <a href="https://www.chance-international.org/projekte">Projekte</a></li>
      <li class="breadcrumb-item"> <a href="https://www.chance-international.org/projekte/programme.html">Programme</a></li>
      <li class="breadcrumb-item"> Naturschutz </li>
    </ol>
  </nav>

  <img class="img-fluid" id="welle" src="{{ craft.assets.filename('welle.png').one().getUrl() }}" style="position: absolute; left:0; width: 40%;">


  <div class="container achterspaltenlayout" style="padding-top: 0px; padding-bottom: 0; position: relative;">
    {% set entry = craft.entries.section('projekte').slug('umwelt-und-naturschutz').one() %}

    <h1 style="padding-bottom: 2rem;"> {{ entry.anleser }}  </h1>
    <div id="anleser" style="padding-bottom: 0;"> {{ entry.text }} </div>
  </div>

  <nav id="myScrollspy">
    <ul class="nav nav-pills flex-column" id="copy" >
      <p class="uebersicht text-left"> Übersicht der Inhalte: </p>
      <li class="nav-item">   <a class="nav-link active" href="#start"> <div>Chancen für die Schöpfung</div> </a>  </li>
      <li class="nav-item">   <a class="nav-link" href="#bestandteile"> <div> Die Bestandteile </div>  </a>  </li>
      <li class="nav-item">   <a class="nav-link" href="#ziel"> <div>Das Ziel</div>  </a>  </li>
      <li class="nav-item">   <a class="nav-link active" href="#zahlen"> <div>In Zahlen</div>  </a>  </li>
      <li class="nav-item">   <a class="nav-link" href="#gelingendesLeben"> <div>Gelingendes Leben </div>  </a>  </li>
    </ul>
  </nav>

</div>

<div class="container zwoelferspaltenlayout" style="padding-top: 4rem;">
  {% set entry = craft.entries.section('projekte').slug('umweltverschmutzung').one() %}

  <div class="row">
    <div class="col-sm-6">
      <div id="copy"> {{ entry.anleser}} </div>
    </div>
    <div class="col-sm-6">
      <div id="copy"> {{ entry.text}} </div>
    </div>

  </div>
</div>

<img class="img-fluid fullscreenbild" style="padding-bottom: 0;" src=" {{ craft.assets.filename('chance-projekte-programme-naturschutz.jpg').one().getUrl() }}">

<div class="container achterspaltenlayout" id="video">
  <div class="embed-responsive embed-responsive-16by9 videoStart">
    <iframe src="https://www.youtube.com/embed/X9Z9ueESlOE?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>
<div class="container achterspaltenlayout text-center" id="bestandteile" style="padding-top: 5rem; padding-bottom: 0;">
  {% set entry = craft.entries.section('projekte').slug('bestandteile-naturschutzprogramms').one() %}
  <h2 style="padding-bottom: 2rem;"> {{ entry.title }} </h2>
  <div id="anleser"> {{ entry.anleser }} </div>
  {% set akkordionBilder = craft.entries.section('spendenfelderUndSo').slug('akkordion-bilder').one() %}
</div>
<div class="container achterspaltenlayout" style="padding-bottom: 4rem;">
  {% set entries = craft.entries.section('projekte').slug('bestandteile-naturschutzprogramms').one().children().all() %}
  {% include '_layouts/codeschnipsel/accordion' %}

</div>

<div class="container-fluid no-padding" style="background-color: #ffffff" id="ziel">
  <div class="container achterspaltenlayout text-center" style="padding-top: 3rem; padding-bottom: 0;">
    {% set entry = craft.entries.section('projekte').slug('bewahrung-schöpfung').one() %}
    <h2 style="padding-bottom: 2rem;"> {{ entry.title }} </h2>
    <div id="anleser"> {{ entry.anleser }}    </div>
  </div>

  <div class="container zwoelferspaltenlayout" style="padding-top: 0; padding-bottom: 5rem;">

    <div class="row">
      {% set entries = craft.entries.section('projekte').slug('bewahrung-schöpfung').one().children().all() %}

      {% for entry in entries %}
      <div class="col-sm-4">
        <div id="copy"> {{ entry.text }} </div>
      </div>

      {% endfor %}

    </div>
  </div>
</div>

{% set entry = craft.entries.section('projekte').slug('waldpate-werden').one() %}

<div class="container-fluid"  style="padding-top: 2.5rem; padding-bottom: 2.5rem; background-image: url({{ entry.bild.one().url }}); background-size: cover;">
  <div class="row" id="spende">
    <div class="col-md-1">  </div>
    <div class="col-md-3">   <img  style="position: relative; top: 50%; transform: translateY(-50%);" class="img-fluid mx-auto d-block" src="{% if entry.bild.inReverse().one() is not null %}  {{ entry.bild.inReverse().one().getUrl() }}  {% endif %}"> </div>
    <div class="col-md-7" style="padding-left: 30px;">
      <h2 style="color: white; padding-bottom: 1rem;"> {{ entry.title }} </h2>
      <div id="copy" style="color: white;"> {{ entry.text }}</div>
      <a href="https://www.chance-international.org/spenden/spende.html?spendenart=Naturschutz%20Peru" class="btn btn-primary" role="button">Waldpate werden</a>
    </div>
  </div>
</div> <!-- Der orange Berg mit dem Spendenaufruf -->
<style media="screen"> #spende strong {   color: white;  } </style>

<div class="container achterspaltenlayout text-center" style="padding-top: 5rem;">
  {% set entry = craft.entries.section('projekte').slug('regenwald').one() %}

  <h2 style="padding-bottom: 2rem;"> {{ entry.title }} </h2>
  <div id="anleser" style="padding-bottom: 0;"> {{ entry.anleser }}    </div>
</div>

<div class="container achterspaltenlayout" style="padding-bottom: 0;">
  <div id="copy" style="padding-bottom: 2rem;"> {{ entry.text }}    </div>
  <div id="copy" style="padding-bottom: 2rem;"> {{ entry.zusatzfeld1 }}    </div>
  <div id="copy" style="padding-bottom: 2rem;"> {{ entry.zusatzfeld2 }}    </div>
  <div id="copy" style="padding-bottom: 2rem;"> {{ entry.zusatzfeld3 }}    </div>

</div>

<img class="img-fluid fullscreenbild" src=" {{ craft.assets.filename('chance-projekte-programme-naturschutz_maedchen.jpg').one().getUrl() }}">

{% include '_layouts/codeschnipsel/karussellmitjs' %}

<style media="screen">

.slick-track{
  display: flex;
}
.slick-slide{
  display: flex;
  height: auto;
  align-items: center; //optional
  justify-content: center; //optional
}
</style>

<div class="container zwoelferspaltenlayout text-center" id="zahlen" style="padding-top: 2rem;">
  {% set entry = craft.entries.section('projekte').slug('der-chance-regenwald-in-zahlen').one() %}
  <h2 style="padding-bottom: 4.5rem;"> {{ entry.title }} </h2>

  {% set entry = craft.entries.section('projekte').slug('1-11').one() %}

  <div class="karussell">

    <div style="padding: 1rem; padding-bottom: 0; margin: 1rem; margin-bottom: 2rem; background-color: white;">
      <div id="copy" style="color: #ed6e2c; padding-bottom: 1rem;"> {{ entry.title }} </div>
      <div id="copy"> {{ entry.text }} </div>
    </div>

    {% set entries = craft.entries.section('projekte').slug('der-chance-regenwald-in-zahlen').one().children().all() %}
    {% for entry in entries %}
    <div style="padding: 1rem; padding-bottom: 0; margin: 1rem; margin-bottom: 2rem; background-color: white;">
      <div id="copy" style="color: #ed6e2c; padding-bottom: 1rem;"> {{ entry.title }} </div>
      <div id="copy"> {{ entry.text }} </div>
    </div>
    {% endfor %}
  </div>
  <a target="_blank" href="https://mein-regenwald.de/"> <h3 style="color: #0062ae;"> Mehr Infos: www.mein-regenwald.de </h3> </a>
</div>

<div class="container achterspaltenlayout text-center" style="padding-top: 6rem; padding-bottom: 0;" id="gelingendesLeben">
  {% set entry = craft.entries.section('projekte').slug('gelingenden-leben').one() %}
  <h2 style="padding-bottom: 2rem;"> {{ entry.title }} </h2>
  <div id="anleser" style="padding-bottom: 0;"> {{ entry.anleser }}    </div>
</div>

<div class="container zwoelferspaltenlayout" style="padding-top: 1rem; padding-bottom: 5rem;">
  <a target="_blank" href="https://mein-regenwald.de/">
  <img class="img-fluid "src="{% if entry.bild.one() is not null %}{{ entry.bild.one().url }} {% endif %}">
  </a>
</div>

<div class="container-fluid no-padding" style="background-color: white; padding-bottom: 2.5rem; padding-top: 0;">
  <div class="container zwoelferspaltenlayout text-center">
    {% set entry = craft.entries.section('projekte').slug('dorfentwicklung').one() %}
    <div id="anleser" style="padding-bottom: 5rem;"> Lernen Sie unsere weiteren Progamme kennen </div>
  </div>

  {% include '_layouts/weiterleitungmitzeilenumbruch' %}
  <div style="height: 2.5rem;"> </div>

  {% set entry = craft.entries.section('projekte').slug('kinderpate').one() %}
  {% include '_layouts/weiterleitungmitzeilenumbruch' %}
  <div style="height: 2.5rem;"> </div>

  {% set entry = craft.entries.section('projekte').slug('themen').one() %}
  {% include '_layouts/weiterleitungkorrekt' %}
  <div style="height: 2.5rem;"></div>

</div> <!-- Weißer Hintergrund -->

{% endblock %}
