
{% extends "_layouts/layoutHome.html" %}



{% block block1 %}

<div class="container-fluid text-center" id="ersterContainer" style="padding-top: 120px; position: relative;">


  <img class="img-fluid" src="{{ craft.assets.filename('welle.png').one().getUrl() }}" style="position: absolute; left:0; width: 40%;  z-index: -999;">


  <div class="container achterspaltenlayout" style="padding-top:0px;">
    {% set entry = craft.entries.section('fuerSie').slug('gerechtigkeit-consumer').one() %}

    <div style="padding-bottom:50px; ">
      <h1 style="padding-bottom: 30px;"> {{ entry.title }}  </h1>
      <div id="anleser"> {{ entry.anleser }}</div>
      </div>
    </div>
  </div>

  <div class="container-fluid no-padding" style="background-color: #ffffff;">
    <div class="container achterspaltenlayout">
     <div id="copy"> {{ entry.text }} </div>
    </div>

  <div class="container achterspaltenlayout">
    {% set entry = craft.entries.section('fuerSie').slug('verantwortlicher-konsum').one() %}
    <h3> {{ entry.title }} </h3>
    <div id="copy"> {{ entry.anleser }}  </div>
    <h3> {{ entry.zusatzfeld1 }} </h3>
    <div id="copy"> {{ entry.text }}  </div>
  </div>
</div>

<div class="container zwoelferspaltenlayout text-center">
  {% set entry = craft.entries.section('fuerSie').slug('wuerde-jesus').one() %}
   <h3> {{ entry.title }} </h3>
</div>

<div class="container achterspaltenlayout">
  <div id="copy"> {{ entry.anleser }}  </div>
</div>

<div class="cotainer-fluid no-padding" style="background-color: #ffffff;">
  {% set entry = craft.entries.section('fuerSie').slug('jesus-vorbild').one() %}

<div class="container achterspaltenlayout">
  <h3> {{ entry.title }} </h3>
  <div id="copy"> {{ entry.anleser }}  </div>
</div>
</div> <!-- weißer Hintergrundcontainer -->

<div class="container zwoelferspaltenlayout">
  <div class="text-center">
    <h2> {{ entry.zusatzfeld1 }} </h2>
    <div id="anleser"> {{ entry.text }}  </div>
  </div>

  {% set entries = entry.children().all() %}
  <div class="row">
  {% for entry in entries %}
    <div class="col-sm-6 col-md-3">
      <div id="copy"> {{ entry.anleser }}  </div>
    </div>
  {% endfor %}
  </div>

</div> <!-- zwoelferspaltenlayout container -->


{% endblock %}
