{% block titelfuerseo %}
{% set entry = craft.entries.section('suchmaschinenoptimierung').slug('über-uns').one() %}
{{ entry.titelfeldFuerJens }}
{% endblock %}


{% extends "_layouts/layoutHome.html" %}

{% block headerbildPosition1 %}

<div class="container-fluid no-padding" style="padding-top: 5rem;">
  <img id="headerbild" src="{{ craft.assets.filename('chance-ueber-uns-header.jpg').one().getUrl() }}" style="padding-bottom: 0">
</div>


{% endblock %}

{% block block1 %}
{% set link = craft.assets.filename('welle.png').one().getUrl() %}

<div class="container-fluid no-padding text-center" style="padding-top: 1rem; position: relative;">

  <nav aria-label="breadcrumb" id="info">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">Über Uns</a></li>
    </ol>
  </nav>
  <img class="img-fluid" id="welle" src="{{ craft.assets.filename('welle.png').one().getUrl() }}" style="position: absolute; width: 40%; left: 0px;">

  <div class="container achterspaltenlayout" style="position: relative; padding-bottom: 0;">
    <h1 style="padding-bottom: 2rem;"> Für ein gelingendes, selbstbestimmtes Leben in Einklang mit der Schöpfung  </h1>
    <p id="anleser" style="padding-bottom: 0;"> Begleiten, bestärken, befähigen und bewahren – unser Ansatz zu einem selbstbestimmten und gelingendem Leben.
      Motiviert von der Liebe Gottes für Mensch und Natur.
    </p>
  </div>
</div>


<div class="container zwoelferspaltenlayout">
  <div class="card-deck">
    <div class="row">

      {% set entries = craft.entries.section('ueberUns').level(1).all() %}
      {% set counter = 0 %}

      {% for entry in entries %}  {% set counter = counter + 1 %}
      <div class="col-lg-4 col-md-6 col-sm-6" style="padding-bottom: 40px;">

        <div class="card border-light h-100" style="margin-left: 5px; margin-right: 5px;">
          <a href="{{ entry.reinertext }}">
            <img class="card-img-top" src="  {% if entry.bild.one() is not null %}  {{ entry.bild.one().getUrl() }}  {% endif %}" alt="Card image">
          </a>
          <div class="card-body">
            <h3>{{ entry.title }}</h3>
            <div id="copy"> {{ entry.text }} </div>
          </div>
        </div>
      </div>

      {% if counter == 6 %}  <div class="col-lg-4 col-md-3 col-sm-3"> </div> {% endif %}

      {% endfor %}
    </div>
  </div>
</div>

{% include "_layouts/spendenaufrufmitherz" %}


{% endblock %}
