
{% extends "_layouts/layoutHome.html" %}

{% block titelfuerseo %}
{% set entry = craft.entries.section('suchmaschinenoptimierung').slug('transparenz').one() %}
{{ entry.titelfeldFuerJens }}
{% endblock %}

{% block block1 %}

<div class="container-fluid text-center no-padding" style="padding-top: 9rem; position: relative;">

  <nav aria-label="breadcrumb" id="info">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"> <a href="https://aufbau-website.de/craft/web/ueberUns">Über Uns</a></li>
    <li class="breadcrumb-item"> Transparenz </li>
  </ol>
</nav>
  <img class="img-fluid" id="welle" src="{{ craft.assets.filename('welle.png').one().getUrl() }}" style="position: absolute; width: 40%; left: 0px;">

<div class="container achterspaltenlayout" style="position: relative;">
    <h1 style="padding-bottom: 2rem;"> Ihre Spenden kommen an </h1>
    <p id="anleser"> Mit Ihrer Spende verbessern Sie das Leben von Menschen und Gemeinschaften zielgerichtet und effizient. Ihre Hilfe kommt bei den Menschen vor Ort
      an und setzt dort positive Prozesse in Gang, die die Selbstbestimmung, Armutsbekämpfung und nachhaltige Entwicklung fördern. Erfahren Sie mehr
      über unseren Umgang mit Spenden. </p>
  </div>
</div>


<div class="container-fluid no-padding" style="background-color: #ffffff; padding-bottom: 3rem;">

<div class="container achterspaltenlayout" style="padding-bottom: 0; padding-top: 2rem;">

  {% set entry = craft.entries.section('ueberUns').slug('verwaltungskosten').one() %}
        <h3 style="padding-bottom: 1rem;">{{ entry.title }}</h3>
        <div id="copy" style="padding-bottom: 4rem;"> {{ entry.text }} </div>

  {% set entry = craft.entries.section('ueberUns').slug('spendensiegel').one() %}
      <div style="padding-left: .8rem;">
          <h3 style="padding-bottom: 1rem;">{{ entry.title }}</h3>
          <div id="copy" style="margin-left: -.8rem;"> {{ entry.anleser }} </div>
          <div id="copy" style="text-indent: -.8rem; margin-top: -1rem;"> {{ entry.text }} </div>
          <div id="copy" style="text-indent: -.8rem; margin-top: -1rem;"> {{ entry.langerText }} </div>
          <div id="copy" style="padding-bottom: 4rem; text-indent: -.8rem; margin-top: -1rem;"> {{ entry.zusatzfeld1 }} </div>
        </div>

  {% set entry = craft.entries.section('ueberUns').slug('offenheit').one() %}
        <h3 style="padding-bottom: 1rem;">{{ entry.title }}</h3>
        <div id="copy" style="padding-bottom: 2rem;"> {{ entry.text }} </div>
 </div>

  {% set entry = craft.entries.section('ueberUns').slug('verwaltungskosten').one() %}
  <img class="img-fluid w-100" style="padding-bottom: 0px;" src="{% if entry.bild.one() is not null %} {{ entry.bild.one().getUrl() }}  {% endif %}">

  {% include "_layouts/spendenaufrufmitherz" %}


  <div class="container zwoelferspaltenlayout" style="padding-top: 3rem;">
  <p id="anleser" class="text-center"> Erfahren Sie mehr über uns </p>
  </div>

  {% set entry = craft.entries.section('ueberUns').slug('empfehlungen').one() %}
  {% include "_layouts/weiterleitungkorrekt" %}


</div> <!-- Weißer Hintergrundcontainer -->

{% endblock %}
