
{% extends "_layouts/layoutHome.html" %}


{% block block1 %}

<div class="container-fluid text-center" id="ersterContainer" style="padding-top: 120px; position: relative;">


  <img class="img-fluid" src="{{ craft.assets.filename('welle.png').one().getUrl() }}" style="position: absolute; left:0; width: 40%;  z-index: -999;">


  <div class="container achterspaltenlayout" style="padding-top:0px;">
    {% set entry = craft.entries.section('fuerSie').slug('erfahrungsberichte').one() %}

    <div style="padding-bottom:50px; ">
      <h1 style="padding-bottom: 30px;"> {{ entry.zusatzfeld1 }}  </h1>
      </div>
    </div>
  </div>

  <div class="container zwoelferspaltenlayout">

    <div class="card-columns">

  {% set entries = craft.entries.section('fuerSie').slug('erfahrungsberichte').one().children().all() %}

    {# If there are any entries, loop through them #}
    {% if entries | length %}

        {# For each entry we find, do this #}
        {% for entry in entries %}

        <div class="card bg-white">
          <div class="wrapper" style="background-color: #f8f5f2; max-height: 95px;">
          <img class="card-img-top rounded-circle" style="border:8px solid #f8f5f2; max-height: 160px; max-width: 160px; display: block; margin-left: auto; margin-right: auto;  width: 50;"
          src="{% if entry.bild.one() is not null %}  {{ entry.bild.one().getUrl() }}  {% endif %}" alt="Card image">
        </div>
          <div class="card-body" style="padding-top: 3rem;">
            <p class="card-text">
              <h3> {{ entry.title }} </h3>
              <div id="copy"> {{ entry.anleser }} </div>
            </p>
          </div>
        </div>

        {% endfor %}

    {% endif %}
      </div>
    </div>

{% endblock %}
