
{% extends "_layouts/layoutHome.html" %}



{% block block1 %}

<div class="container-fluid text-center" id="ersterContainer" style="padding-top: 120px; position: relative;">


  <img class="img-fluid" id="welle" src="{{ craft.assets.filename('welle.png').one().getUrl() }}" style="position: absolute; left:0; width: 40%;  z-index: -999;">


  <div class="container achterspaltenlayout" style="padding-top:0px;">
    {% set entry = craft.entries.section('fuerSie').slug('peru-erwartet').one() %}

    <div style="padding-bottom:50px; ">
      <h1 style="padding-bottom: 30px;"> {{ entry.title }}  </h1>
      <div id="anleser"> {{ entry.anleser }}</div>
      </div>
    </div>
  </div>

<div class="container-fluid no-padding" style="background-color: #ffffff;">
  <div class="container achterspaltenlayout">
    <div class="text-center"> <h2> {{ entry.zusatzfeld1 }} </h2> </div>
      <div id="copy">    {{ entry.zusatzfeld3 }}  </div>
    <div class="row">
      <div class="col-sm-6">
        <div id="copy"> {{ entry.text }}</div>
      </div>
      <div class="col-sm-6">
        <div id="copy"> {{ entry.zusatzfeld2 }}</div>
      </div>
    </div>
  </div> <!-- Zweispaltiges Layout mit allgemeinen Infos -->

  <div class="container achterspaltenlayout">
        {% set entry = craft.entries.section('fuerSie').slug('das-team').one() %}
        <div class="text-center">
        <h2> {{ entry.title }} </h2>
        <img class="img-fluid"   src="{% if entry.bild.one() is not null %}  {{ entry.bild.one().getUrl() }}  {% endif %}">
        </div>
        <div id="copy"> {{ entry.anleser }}    </div>
  </div> <!-- Das Team kurz erklärt -->

  <div class="container achterspaltenlayout">
    {% set entry = craft.entries.section('fuerSie').slug('arbeit-freiwilligen').one() %}
    <div class="text-center"> <h2> {{ entry.title }} </h2> </div>
    <div id="copy"> {{ entry.anleser}}</div>
  </div>

  <div class="container achterspaltenlayout">
    {% set entry = craft.entries.section('fuerSie').slug('projektzentrum').one() %}
    <div class="text-center"> <h2> {{ entry.title }} </h2> </div>
    <img class="img-fluid"   src="{% if entry.bild.one() is not null %}  {{ entry.bild.one().getUrl() }}  {% endif %}">
    <div id="copy"> {{ entry.anleser}}</div>
  </div>

  <div class="container achterspaltenlayout">
    {% set entry = craft.entries.section('fuerSie').slug('einsatzgebiet').one() %}
    <div class="text-center"> <h2> {{ entry.title }} </h2> </div>
    <div id="copy"> {{ entry.anleser}}</div>
  </div>

  <img class="img-fluid w-100"   src="{% if entry.bild.one() is not null %}  {{ entry.bild.one().getUrl() }}  {% endif %}">
  <!-- Hintergrundbild des gesamten Teams -->

  <div class="container achterspaltenlayout" style="padding-top: 3rem;">
    <div class="text-center"> <h2> {{ entry.zusatzfeld1 }} </h2> </div>
    <div id="copy"> {{ entry.text}}</div>
  </div>

  <div class="container achterspaltenlayout">
    <div class="text-center"> <h2> {{ entry.zusatzfeld2 }} </h2> </div>
    <div id="copy"> {{ entry.zusatzfeld3}}</div>
  </div>

  <div class="container achterspaltenlayout">
    {% set entry = craft.entries.section('fuerSie').slug('arbeitsalltag-und-kosten').one() %}
    <div class="text-center"> <h2> {{ entry.title }} </h2> </div>
    <div id="copy"> {{ entry.anleser}}</div>
  </div>

  <div class="container achterspaltenlayout">
    {{ entry.text }}
  </div>

</div> <!-- Weißer Hintergrund-Div -->

{% endblock %}
