
{% extends "_layouts/layoutHome.html" %}

{% block block1 %}

<div class="container-fluid text-center" id="ersterContainer" style="padding-top: 7rem; position: relative;">

  <nav aria-label="breadcrumb" id="info">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"> Jetzt Spenden </li>
    </ol>
  </nav>

  <img class="img-fluid" id="welle" src="{{ craft.assets.filename('welle.png').one().getUrl() }}" style="position: absolute; left:0; width: 40%;  z-index: -999;">
  <div class="container achterspaltenlayout text-center" style="padding-top: 0; padding-bottom: 0;">
    {% set entry = craft.entries.section('kontakt').slug('interessieren').one() %}
      <h1 style="padding-bottom: 2rem;"> Vielen Dank für ihre Spende! </h1>
    <img class="img-fluid" style="padding-bottom: 0;" src="{{ craft.assets.filename('chance-ev-spenden-teaser-junge.png').one().getUrl() }}">
  </div>

</div>

<div class="container-fluid no-padding" style="background-color: white;">
  <div class="container zwoelferspaltenlayout">
    <div class="row">
      <div class="col-6">
        <h3> Freundesbrief abbonnieren <h3>
          <p id="anleser"> Lassen Sie sich ungefähr einmal monatlich durch unseren kostenfreien
            Freundesbrief „Chance-Aktuell“ informieren. </p>
      </div>

      <div class="col-6">
          {% include '_layouts/codeschnipsel/macrokontakt' %}
          {% from _self import errorList %}
          <form class="form-inline" method="post" action="" accept-charset="UTF-8">
            {{ csrfInput() }}
            <input type="hidden" name="action" value="contact-form/send">
            {{ redirectInput('kontakt/danke') }}

            <input id="from-email" required class="form-control" type="email" style="padding-top: 9px; background-color: white; margin-right: 1rem; padding-right: 3rem;" name="fromEmail" placeholder="Ihre E-Mail-Adresse" value="{{ message.fromEmail ?? '' }}">
            {{ message is defined and message ? errorList(message.getErrors('fromEmail')) }}
            <input type="submit" value="Anmelden" class="btn btn-primary" style="line-height: 16px;  padding-top: 11px; padding-bottom: 9px;">

            <textarea style="display: none;" rows="10" cols="40" id="message" name="message">Die oben genannte E-Mail-Adresse würde sich gerne für den Newsletter anmelden.</textarea>
            {{ message is defined and message ? errorList(message.getErrors('message')) }}

          </form>

          <p style="padding-top: 2rem; margin-bottom: 0;" id="copy"> Zweimal im Jahr versenden wir zusätzlich einen detaillierten Freundesbrief mit der Post.
            <br> <a href="https://aufbau-website.de/craft/web/kontakt">Melden Sie sich hier für unseren ausführlichen Freundesbrief an. > </a>
          </div>
        </div>

        </div>
      </div>
    </div>


    {% endblock %}
