
{% extends "_layouts/layoutHome.html" %}

{% block titelfuerseo %}
{% set entry = craft.entries.section('suchmaschinenoptimierung').slug('kontakt').one() %}
{{ entry.titelfeldFuerJens }}
{% endblock %}

{% block block1 %}

<div class="container-fluid text-center" id="ersterContainer" style="padding-top: 120px; position: relative;">

  <nav aria-label="breadcrumb" id="info">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"> Kontakt </li>
    </ol>
  </nav>

  <img class="img-fluid" id="welle" src="{{ craft.assets.filename('welle.png').one().getUrl() }}" style="position: absolute; left:0; width: 40%;">

  <div class="container achterspaltenlayout" style="padding-top: 0px; position: relative;">
    {% set entry = craft.entries.section('kontakt').slug('interessieren').one() %}
    <div style="padding-bottom:50px; ">
      <h1 style="padding-bottom: 30px;"> {{ entry.title }}  </h1>
      <div id="anleser"> {{ entry.anleser }}</div>
      </div>
    </div>
  </div>


<div class="container-fluid no-padding" style="background-color: white">

<div class="container achterspaltenlayout" id="info-head" style="padding-top: 2rem; padding-bottom: 5rem;">

  {% macro errorList(errors) %}
    {% if errors %}
        <ul class="errors">
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

{% from _self import errorList %}


<form method="post" action="" accept-charset="UTF-8">
    {{ csrfInput() }}
    <input type="hidden" name="action" value="contact-form/send">
    {{ redirectInput('kontakt/danke') }}

    <div class="row">

  <div class="col-sm-6"  style="padding-bottom: .5rem;">
    <label style="margin-bottom: 0;" for="from-vorname">Vorname*</label>
    <input id="from-vorname" required class="form-control" type="text" name="message[Vorname]" value="">
  </div>

  <div class="col-sm-6" style="padding-bottom: .5rem;">
    <label style="margin-bottom: 0;" for="from-name">Name*</label>
    <input id="from-name" required class="form-control" type="text" name="fromName" value="{{ message.fromName ?? '' }}">
    {{ message is defined and message ? errorList(message.getErrors('fromName')) }}
  </div>

  <div class="col-sm-6"  style="padding-bottom: .5rem;">
    <label style="margin-bottom: 0;" for="adresse">Straße, Hausnr*</label>
    <input id="adresse" required class="form-control" type="text" name="message[Adresse]" value="">
  </div>

  <div class="col-sm-6"  style="padding-bottom: .5rem;">
    <label style="margin-bottom: 0;" for="plz">PLZ*</label>
    <input id="plz" required class="form-control" type="text" name="message[PLZ]" value="">
  </div>

  <div class="col-sm-6"  style="padding-bottom: .5rem;">
    <label style="margin-bottom: 0;" for="wohnort" >Wohnort*</label>
    <input id="wohnort" required class="form-control" type="text" name="message[Wohnort]" value="">
  </div>

  <div class="col-sm-6"> </div>
</div> <!-- row-container -->

<div class="row">

  <div class="col-sm-12"><hr style="margin-top: 2rem; margin-bottom: 2rem;"></div>

  <div class="col-sm-6"  style="padding-bottom: 1.5rem;">
    <label style="margin-bottom: 0;" for="from-email">E-Mail*</label>
    <input id="from-email" required class="form-control" type="email" name="fromEmail" placeholder="name@example.com" value="{{ message.fromEmail ?? '' }}">
    {{ message is defined and message ? errorList(message.getErrors('fromEmail')) }}
  </div>

  <div class="col-sm-6"  style="padding-bottom: 1.5rem;">
    <label style="margin-bottom: 0;" for="telefon" >Telefon</label>
    <input id="telefon" class="form-control" type="text" name="message[Telefon]" value="">
  </div>

<div class="col-12" style="padding-bottom: 1rem;"> *Pflichtfelder  </div>


<div class="col-sm-12"><hr style="margin-top: 1rem; margin-bottom: 2rem;"></div>

<div class="col-sm-12" style="padding-bottom: 1rem;">
  <label style="margin-bottom: 0;" for="message"> Kommentar </label>
  <textarea rows="5" cols="30" class="form-control" id="message" name="message[Kommentar]"> </textarea>
</div>

<div class="col-sm-12">
  <div class="custom-control custom-checkbox">
    <input type="checkbox" required class="custom-control-input" id="customCheck13">
    <label class="custom-control-label" for="customCheck13"> {{ entry.text }}</label>
  </div>
</div>

<div class="col-sm-12"  style="padding-bottom: 2rem;">
  <div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="customCheck14" name="message[Newsletter][]" value="Ja">
    <label class="custom-control-label" for="customCheck14"> {{ entry.zusatzfeld1 }}</label>
  </div>
</div>

  <div class="col-sm-2"> <!-- Buttons im Spaltenlayout -->
  <button onclick="myFunction()" class="btn btn-secondary"> Löschen </button>
  <script>
  function myFunction() {
    $(".form-control").val("");
    $(".custom-control-input").prop("checked", false);
  }
  </script>
  </div>

  <div class="col-sm-8">  </div>

  <div class="col-sm-2">
    <input type="submit" value="Senden" class="btn btn-primary float-right">
  </div>

  </div> <!-- row-container -->

</form>

</div>
</div>

{% set entry = craft.entries.section('projekte').slug('kinderpate-werden').one() %}
<div class="container-fluid no-padding"  style="padding-top: 0; background-image: url({{ entry.bild.one().url }});">

<div class="container zwoelferspaltenlayout" style="padding-bottom: 0;">

  {% set entry = craft.entries.section('spenden').slug('50-euro').one() %}
  <div class="row" style="padding-top: 1.5rem;">
    <div class="col-sm-5" style="position: relative;">
      <img id="kind" class="img-fluid w-100" style="padding-bottom: 0; position: absolute; bottom: 0;" src="{{ entry.bild.one().url }}">
    </div>
    <div class="col-sm-7" style="color: white;" id="copy">
      <h3 style="color: white;">Geben Sie Menschen eine Chance!</h3>
      <div> Egal ob Sie uns regelmäßig oder einmalig unterstützen – bei einem Verwaltungskostenanteil von max. acht Prozent kommen Ihre Spenden bei den Menschen an.  </div>
      <hr style="border-width: 1px; margin-top: 1rem; margin-bottom: 1rem; border-color: white;">
      <div style="padding-bottom: 1rem;"> Mit einer monatlichen Spende von </div>
      <ul class="nav nav-pills" id="pills-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active tab" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">5 Euro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link tab" id="pills-profile-tab" data-toggle="pill" href="#pills-profile1" role="tab" aria-controls="pills-profile" aria-selected="false">20 Euro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link tab"id="pills-profile-tab" data-toggle="pill" href="#pills-profile2" role="tab" aria-controls="pills-profile" aria-selected="false">35 Euro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link tab" id="pills-profile-tab" data-toggle="pill" href="#pills-profile3" role="tab" aria-controls="pills-profile" aria-selected="false">50 Euro</a>
        </li>
      </ul>

      {% set entry = craft.entries.section('spenden').slug('5-euro').one() %}
      <div class="tab-content" id="pills-tabContent" style="padding-top: 1rem;">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
          <div> {{ entry.anleser }}  </div>
        </div>
        {% set entry = craft.entries.section('spenden').slug('20-euro').one() %}
        <div class="tab-pane fade" id="pills-profile1" role="tabpanel" aria-labelledby="pills-profile-tab">
          <div> {{ entry.anleser }}  </div>
        </div>
        {% set entry = craft.entries.section('spenden').slug('35-euro').one() %}
        <div class="tab-pane fade" id="pills-profile2" role="tabpanel" aria-labelledby="pills-profile-tab">
          <div> {{ entry.anleser }}  </div>
        </div>
        {% set entry = craft.entries.section('spenden').slug('50-euro').one() %}
        <div class="tab-pane fade" id="pills-profile3" role="tabpanel" aria-labelledby="pills-profile-tab">
          <div> {{ entry.anleser }}  </div>
        </div>
      </div> <!-- Die Tabs mit den verschiedenen Auswirkungen der Spenden, wechselbar durch klicken -->
      <hr style="border-width: 1px; margin-top: 1rem; margin-bottom: 1rem; border-color: white;">
      <a style="margin-top: 1rem; margin-bottom: 3rem;" id="spendenlink" href="https://aufbau-website.de/craft/web/spenden/spende.html" class="btn btn-primary"> Jetzt Spenden </a>
    </div>
    </div> <!-- Umgebende Row -->
  </div><!-- Umgebender Container -->
</div>

<style> /* Custom style für diese nav-tabs für die spenden-box */
 .nav-link.active.tab {
  background-color: transparent;
  color: white;
  font-weight: bold;
}

 .nav-link.tab {
  font-size: 30px;
  background-color: transparent;
  color: white;
  padding: 3rem;
  padding-left: 0;
  padding-bottom: 0;
  padding-top: 0;
}
</style>



{% endblock %}
