
{% extends "_layouts/layoutHome.html" %}

{% block titelfuerseo %}
{% set entry = craft.entries.section('suchmaschinenoptimierung').slug('dorfentwicklung').one() %}
{{ entry.titelfeldFuerJens }}
{% endblock %}


{% block block1 %}

<nav id="myScrollspy">
  <ul class="nav nav-pills flex-column">
       <li class="nav-item">   <a class="nav-link active" href="#start"> </a> <span>Dorfentwicklung</span> </li>
       <li class="nav-item">   <a class="nav-link" href="#plan"></a> <span> Fünf-Stufen-Plan </span>  </li>
       <li class="nav-item">   <a class="nav-link" href="#ziel"></a> <span>Starke Dörfer</span>  </li>
       <li class="nav-item">   <a class="nav-link active" href="#gelingendesLeben"></a> <span>Gelingendes Leben</span> </li>
       <li class="nav-item">   <a class="nav-link" href="#indigen"></a> <span>Indigene Gemeinschaften </span>  </li>
  </ul>
</nav>

<div class="container-fluid text-center" style="padding-top: 9rem; position: relative;" id="start">

  <nav aria-label="breadcrumb" id="info">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"> <a href="https://aufbau-website.de/craft/web/projekte">Projekte</a></li>
    <li class="breadcrumb-item"> <a href="https://aufbau-website.de/craft/web/projekte/programme.html">Programme</a></li>
    <li class="breadcrumb-item"> Dorfentwicklung </li>
  </ol>
</nav>

  <img class="img-fluid" id="welle" src="{{ craft.assets.filename('welle.png').one().getUrl() }}" style="position: absolute; left:0; width: 40%;">

  <div class="container achterspaltenlayout" style="padding-top: 0px; position: relative;">
    <h1 style="padding-bottom: 2rem;"> Dorfentwicklung <br> Chancen für Dörfer  </h1>
    <p id="anleser" style="padding-bottom: 0;"> Wir befähigen Dorfgemeinschaften, ihr Schicksal selbst in die Hand zu nehmen. Im Zentrum unseres Ansatzes stehen nicht die Probleme der Gemeinschaft,
      sondern das Potential der Dorfbewohner, das wir konsequent fördern. </p>
    </div>
  </div>

  <div class="container zwoelferspaltenlayout" style="padding-top: 2rem;">
    <div class="row">
      <div class="col-sm-4">
        {% set entry = craft.entries.section('projekte').slug('motor').one() %}
        <h4> {{ entry.title}} </h4>
        <div id="copy"> {{ entry.text}} </div>
      </div>

      <div class="col-md-4">
        {% set entry = craft.entries.section('projekte').slug('einsatz-in-peru').one() %}
        <h4> {{ entry.title}} </h4>
        <div id="copy"> {{ entry.text}} </div>
      </div>

      <div class="col-md-4">
        {% set entry = craft.entries.section('projekte').slug('einsatz-in-kenia').one() %}
        <h4> {{ entry.title}} </h4>
        <div id="copy"> {{ entry.text}} </div>
      </div>
    </div>
  </div>

  <img class="img-fluid mx-auto d-block" style="padding-bottom: 0;" src=" {{ craft.assets.filename('chance-projekte-programme-dorfentwicklung.jpg').one().getUrl() }} ">

<div class="container achterspaltenlayout" id="video"></div>


  <div class="container achterspaltenlayout" id="plan" style="padding-top: 5rem;">
    {% set entry = craft.entries.section('projekte').slug('der-fünf-stufen-plan').one() %}
    <h2 style="padding-bottom: 1.5rem;"> {{ entry.title }} </h2>
    <div id="anleser"> {{ entry.anleser }} </div>

    {% set akkordionBilder = craft.entries.section('spendenfelderUndSo').slug('akkordion-bilder').one() %}

    {% set entries = craft.entries.section('projekte').slug('der-fünf-stufen-plan').one().children().all() %}

    <div id="accordion">

      {% if entries | length %}        {% set counter = 0 %}

      {% for entry in entries %} {% set counter = counter + 1 %}
      <div class="card" style=" border-color: white; border-top-color: #ed6e2c; border-width: 1px; margin-bottom: 20px;">
        <div class="card-header bg-white">
        <a class="collapsed card-link" data-toggle="collapse" href="#{{counter}}">
          <div class="row">
            <div class="col-md-11 col-10">
              <h4> {{ entry.title }} </h4>
            </div>
            <div class="col-md-1 col-2">
              <img src="{{ akkordionBilder.bild.one().url }}" style="height: 1rem; float: right; margin-top: .25rem;">
            </div>
          </div>
        </a>
          </div>
          <div id="{{counter}}" class="collapse" data-parent="#accordion">
            <div class="card-body" id="copy">
              {{ entry.text }}
            </div>
          </div>
        </div>
        {% endfor %}
        {% endif %}
      </div>

  </div> <!-- Accordion - Div -->

  <div class="container-fluid no-padding" style="background-color: #9EAC50" id="ziel">
    <div class="container achterspaltenlayout text-center">
      {% set entry = craft.entries.section('projekte').slug('das-ziel-starke-dörfer').one() %}
        <h2 style="color: #ffffff;"> {{ entry.title }} </h2>
        <div id="anleser" style="color: #ffffff;"> {{ entry.anleser }}    </div>
    </div>


    <div class="container zwoelferspaltenlayout" style="padding:0;">

      <div class="row">
      {% set entries = craft.entries.section('projekte').slug('das-ziel-starke-dörfer').one().children().all() %}

      {% if entries | length %}

      {% for entry in entries %}
      <div class="col-sm-4" style="padding-right: 20px; padding-left: 20px;">
      <div id="copy" style="color: #ffffff;"> {{ entry.text }} </div>
      </div>

      {% endfor %}
      {% endif %}

<style> /* Einfärben der horizontal ruler in weiß */
  hr {
    border-color: white;
    opacity: .5;
  }

 .nav-link.active.tab { /*Die Tabs entsprechend anpassen der beiden Grafiken */
      background-color: #f8f5f2;
      color: #0062ae;
      margin: 0;
  }

   .nav-link.tab {
        color: #0062ae;
        margin: 0;
        font-weight: bold;
        padding: .7rem 4rem;
    }

</style>

    </div>
  </div>
  <img class="img-fluid mx-auto d-block"  src="  {% if entry.bild.one() is not null %}  {{ entry.bild.one().getUrl() }}  {% endif %}" style="padding-bottom: 0;">
</div> <!-- Weißer Hintergrundcontainer -->

{% set entry = craft.entries.section('projekte').slug('dorfpate-werden').one() %}
<div class="container-fluid no-padding"  style="padding-top: 2.5rem; padding-bottom: 2.5rem; background-image: url({{ entry.bild.one().url }});">
  <div class="row">
    <div class="col-md-1">  </div>
    <div class="col-md-2">   <img class="img-fluid mx-auto d-block" src="{{ entry.bild.inReverse().one().url }}" style="max-height: 150px; padding-bottom: 10px;"> </div>
    <div class="col-md-1">  </div>
    <div class="col-md-7" style="padding-left: 30px;">
      <h4 style="color: white;"> {{ entry.title }} </h4>
      <div id="copy" style="color: white;"> {{ entry.text }}</div>
      <a href="https://aufbau-website.de/craft/web/spenden/projektbezogen/verschiedenetabs/dorfpate.html" class="btn btn-primary" id="copy" style="color: white;" role="button"> <strong> Dorfpate werden </strong></a>
    </div>
  </div>
</div> <!-- Der orange Berg mit dem Spendenaufruf -->


<div class="container-fluid no-padding" style="background-color: white;" id="gelingendesLeben">
  <div class="container achterspaltenlayout text-center" style="padding-bottom: 0; padding-top: 5rem;">
    {% set entry = craft.entries.section('projekte').slug('gelingendes-leben').one() %}

      <h2 style="padding-bottom: 2rem;"> {{ entry.title }} </h2>
      <div id="anleser" style="padding-bottom: 3rem;"> {{ entry.text }}    </div>
  </div>

</div>

  <ul class="nav nav-pills justify-content-center" id="pills-tab" role="tablist" style="background-color: white;">
  <li class="nav-item">
    <a class="nav-link active tab" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Peru</a>
  </li>
  <li class="nav-item">
    <a class="nav-link tab" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Kenia</a>
  </li>
</ul>
<div class="container zwoelferspaltenlayout" style="padding-top: 0;">

<div class="tab-content" id="pills-tabContent" style="padding-top: 5rem; padding-bottom: 5rem;">
  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
    <img class="img-fluid mx-auto d-block"  src="  {% if entry.bild.one() is not null %}  {{ entry.bild.one().getUrl() }}  {% endif %}" style="padding-bottom: 0;">
</div>
  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
    <img class="img-fluid mx-auto d-block"  src="  {% if entry.bild.inReverse().one() is not null %}  {{ entry.bild.inReverse().one().getUrl() }}  {% endif %}" style="padding-bottom: 0;">
</div>
</div> <!-- Die Tabs mit den verschiedenen Dorfentwicklungsprogrammen, wechselbar durch klicken -->
</div>

{% set entry = craft.entries.section('fuerSie').slug('chancengeber').one() %}
<div class="container-fluid no-padding" style="background-image: url({{ entry.bild.one().url }})">
  <div class="container achterspaltenlayout text-center">
    {% set entries = entry.children().all() %}
    {% set entry = random(entries) %}
    <div id="zitat"  style="padding-bottom: 0px;"> {{ entry.text }}  </div>
    <div id="autor"> {{ entry.title }}  </div>
  </div>
</div> <!-- Das Wolkenbild mit den Zitaten drin -->


<div class="container-fluid no-padding" style="background-color: white; padding-bottom: 1rem; padding-top: 5rem" id="indigen">
  <div class="container achterspaltenlayout text-center">
    {% set entry = craft.entries.section('projekte').slug('warum-indigene-gemeinschaften').one() %}

      <h2 style="padding-bottom: 2rem;"> {{ entry.title }} </h2>
      <div id="anleser"> {{ entry.anleser }}    </div>
    </div>

    <div class="container zwoelferspaltenlayout" style="padding-top: 0;">
      <div class="row">
        <div class="col-md-9">  <div id="copy">{{ entry.text }}  </div>  </div>
        <div class="col-md-3" style="border-left:1px solid #ed6e2c; height: 40%; margin-top: 15px;">
              {% set entries = craft.entries.section('projekte').slug('erfahren-sie-mehr-1').one().children().all() %}
              {% set eintrag = random(entries) %}
              <img style="max-height: 100px;" class="rounded-circle" src="{% if eintrag.bild.one() is not null %} {{ eintrag.bild.one().url }}{% endif %}" alt="">
              <p style="padding-top: 2rem;" id="copy"> Erfahrungsbericht </p>
              <div id="zitat"> {{ eintrag.text }}  </div>
              <div id="autor" > {{ eintrag.zusatzfeld1 }}  </div>
        </div>
    </div>
  </div> <!-- Warum indigene Gemeinschaften -->

  <div class="container zwoelferspaltenlayout text-center">
    <hr style="border:none; height:1px; background-color:grey; margin-bottom: 5rem; margin-top: 0;">

     <div id="anleser" style="padding-bottom: 5rem;"> Lernen Sie unsere weiteren Progamme kennen </div>
  </div>

  {% set entry = craft.entries.section('projekte').slug('patenschaft').one() %}
  {% include "_layouts/weiterleitungmitzeilenumbruch" %}

  <div style="height: 2.5rem;"></div>

  {% set entry = craft.entries.section('projekte').slug('naturschutz').one() %}
  {% include "_layouts/weiterleitungmitzeilenumbruch" %}

  <div style="height: 2.5rem;"></div>

</div>

  {% endblock %}
