
{% extends "_layouts/layoutHome.html" %}



{% block block1 %}

<div class="container-fluid text-center" style="padding-top: 9rem; position: relative;">

  <img class="img-fluid" id="welle" src="{{ craft.assets.filename('welle.png').one().getUrl() }}" style="position: absolute; left:0; width: 40%;  z-index: -999;">

  <div class="container achterspaltenlayout" style="padding-top: 0px;">
    <h1 style="padding-bottom: 30px;"> Dorfentwicklung <br> Chancen für Dörfer  </h1>
    <p id="anleser" style="padding-bottom: 0;"> Wir befähigen Dorfgemeinschaften, ihr Schicksal selbst in die Hand zu nehmen. Im Zentrum unseres Ansatzes stehen nicht die Probleme der Gemeinschaft,
      sondern das Potential der Dorfbewohner, das wir konsequent fördern. </p>
    </div>
  </div>

  <div class="container zwoelferspaltenlayout" style="padding-top: 3rem;">
    <div class="row">
      <div class="col-sm-4">
        {% set entry = craft.entries.section('projekte').slug('motor').one() %}
        <h4> {{ entry.title}} </h4>
        <div id="copy"> {{ entry.text}} </div>
      </div>

      <div class="col-md-4">
        {% set entry = craft.entries.section('projekte').slug('einsatz-in-peru').one() %}
        <h4> {{ entry.title}} </h4>
        <div id="copy"> {{ entry.text}} </div>
      </div>

      <div class="col-md-4">
        {% set entry = craft.entries.section('projekte').slug('einsatz-in-kenia').one() %}
        <h4> {{ entry.title}} </h4>
        <div id="copy"> {{ entry.text}} </div>
      </div>
    </div>
  </div>

    <img class="img-fluid" src=" {{ craft.assets.filename('chance-projekte-programme-dorfentwicklung.jpg').one().getUrl() }} ">

  <div class="container achterspaltenlayout">
    {% set entry = craft.entries.section('projekte').slug('der-fünf-stufen-plan').one() %}
    <h2> {{ entry.title }} </h2>
    <div id="anleser"> {{ entry.anleser }} </div>

    {% set akkordionBilder = craft.entries.section('spendenfelderUndSo').slug('akkordion-bilder').one() %}

    {% set entries = craft.entries.section('projekte').slug('der-fünf-stufen-plan').one().children().all() %}

    <div id="accordion">

      {# If there are any entries, loop through them #}
      {% if entries | length %}        {% set counter = 0 %}

      {% for entry in entries %} {% set counter = counter + 1 %}
      <div class="card" style=" border-color: white; border-top-color: #ed6e2c; border-width: 2px; margin-bottom: 20px;">
        <div class="card-header bg-white">
        <a class="collapsed card-link" data-toggle="collapse" href="#{{counter}}">
          <div class="row">
            <div class="col-11">
              <h4> {{ entry.title }} </h4>
            </div>
            <div class="col-1">
              <img src="{{ akkordionBilder.bild.one().url }}" style="height: 1rem; float: right; margin-top: .25rem;">
            </div>
          </div>
        </a>
          </div>
          <div id="{{counter}}" class="collapse" data-parent="#accordion">
            <div class="card-body" id="copy">
              {{ entry.text }}
            </div>
          </div>
        </div>
        {% endfor %}
        {% endif %}
      </div>

  </div> <!-- Accordion - Div -->

  <div class="container-fluid no-padding" style="background-color: #9EAC50">
    <div class="container achterspaltenlayout text-center">
      {% set entry = craft.entries.section('projekte').slug('das-ziel-starke-dörfer').one() %}
        <h2 style="color: #ffffff;"> {{ entry.title }} </h2>
        <div id="anleser" style="color: #ffffff;"> {{ entry.anleser }}    </div>
    </div>

    <div class="container zwoelferspaltenlayout" style="padding:0;">

      <div class="row">
      {% set entries = craft.entries.section('projekte').slug('das-ziel-starke-dörfer').one().children().all() %}

      {% if entries | length %}

      {% for entry in entries %}
      <div class="col-sm-4" style="padding-right: 20px; padding-left: 20px;">
      <div id="copy" style="color: #ffffff;"> {{ entry.text }} </div>
      </div>

      {% endfor %}
      {% endif %}

<style> /* Einfärben der horizontal ruler in weiß */
  hr {
    border-color: white;
  }
</style>

    </div>
  </div>
  <img class="img-fluid mx-auto d-block"  src="  {% if entry.bild.one() is not null %}  {{ entry.bild.one().getUrl() }}  {% endif %}" style="padding-bottom: 0;">
</div> <!-- Weißer Hintergrundcontainer -->

{% set entry = craft.entries.section('projekte').slug('dorfpate-werden').one() %}
<div class="container-fluid no-padding"  style="padding-top: 2.5rem; padding-bottom: 2.5rem; background-image: url({{ entry.bild.one().url }});">
  <div class="row">
    <div class="col-md-1">  </div>
    <div class="col-md-2">   <img class="img-fluid mx-auto d-block" src="{{ entry.bild.inReverse().one().url }}" style="max-height: 150px; padding-bottom: 10px;"> </div>
    <div class="col-md-1">  </div>
    <div class="col-md-7" style="padding-left: 30px;">
      <h4 style="color: white;"> {{ entry.title }} </h4>
      <div id="copy" style="color: white;"> {{ entry.text }}</div>
      <a href="https://aufbau-website.de/craft/web/spenden/projektbezogen/partnerlandregelmaesig" class="btn btn-primary" id="copy" style="color: white;" role="button"> <strong> Dorfpate werden </strong></a>
    </div>
  </div>
</div> <!-- Der orange Berg mit dem Spendenaufruf -->


<div class="container-fluid no-padding" style="background-color: white;">
  <div class="container achterspaltenlayout text-center" style="padding-bottom: 0;">
    {% set entry = craft.entries.section('projekte').slug('gelingendes-leben').one() %}

      <h2> {{ entry.title }} </h2>
      <div id="anleser" style="padding-bottom: 3rem;"> {{ entry.text }}    </div>
  </div>

</div>

  <ul class="nav nav-pills justify-content-center" id="pills-tab" role="tablist" style="background-color: white;">
  <li class="nav-item">
    <a class="nav-link active tab" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Peru</a>
  </li>
  <li class="nav-item">
    <a class="nav-link tab" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Kenia</a>
  </li>
</ul>
<div class="container zwoelferspaltenlayout" style="padding-top: 0; padding-bottom: 2rem;">

<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
    <img class="img-fluid mx-auto d-block"  src="  {% if entry.bild.one() is not null %}  {{ entry.bild.one().getUrl() }}  {% endif %}" style="padding-bottom: 0;">
</div>
  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
    <img class="img-fluid mx-auto d-block"  src="  {% if entry.bild.inReverse().one() is not null %}  {{ entry.bild.inReverse().one().getUrl() }}  {% endif %}" style="padding-bottom: 0;">
</div>
</div> <!-- Die Tabs mit den verschiedenen Dorfentwicklungsprogrammen, wechselbar durch klicken -->
</div>

{% set entry = craft.entries.section('fuerSie').slug('chancengeber').one() %}
<div class="container-fluid no-padding" style="background-image: url({{ entry.bild.one().url }})">
  <div class="container achterspaltenlayout text-center">
    {% set entries = entry.children().all() %}
    {% set entry = random(entries) %}
    <div id="zitat"  style="padding-bottom: 0px;"> {{ entry.text }}  </div>
    <div id="autor"> {{ entry.title }}  </div>
  </div>
</div> <!-- Das Wolkenbild mit den Zitaten drin -->


<div class="container-fluid no-padding" style="background-color: white;">
  <div class="container achterspaltenlayout text-center">
    {% set entry = craft.entries.section('projekte').slug('warum-indigene-gemeinschaften').one() %}

      <h2> {{ entry.title }} </h2>
      <div id="anleser"> {{ entry.anleser }}    </div>
    </div>

    <div class="container zwoelferspaltenlayout" style="padding-top: 0;">
      <div class="row">
        <div class="col-md-8">  <div id="copy">{{ entry.text }}  </div>  </div>
        <div class="col-md-4" style="border-left:2px solid #ed6e2c; height: 40%; margin-top: 15px;">
              {% set entries = craft.entries.section('projekte').slug('erfahren-sie-mehr-1').one().children().all() %}
              {% set eintrag = random(entries) %}
              <img style="max-height: 100px;" class="rounded-circle" src="{% if eintrag.bild.one() is not null %} {{ eintrag.bild.one().url }}{% endif %}" alt="">
              <p style="padding-top: 2rem;" id="copy"> Erfahrungsbericht </p>
              <div id="zitat"> {{ eintrag.text }}  </div>
              <div id="autor" > {{ eintrag.zusatzfeld1 }}  </div>
        </div>
    </div>
  </div> <!-- Warum indigene Gemeinschaften -->

  <div class="container zwoelferspaltenlayout text-center">
    {% set entry = craft.entries.section('projekte').slug('patenschaft').one() %}
    <hr style="border:none; height:2px; background-color:grey; margin-bottom: 2rem; margin-top: 1rem;">

     <div id="anleser"> Lernen Sie unsere weiteren Progamme kennen </div>
  </div>

  <div class="zwoelferspaltenlayout container" style="background-color: #f8f5f2; padding-top: 0px; margin-bottom: 3rem;">
  <div class="row">
    <div class="col-md-4">
      <img class="img-fluid w-100" style="padding-bottom: 0px;" src="{% if entry.bild.one() is not null %} {{ entry.bild.one().getUrl() }}  {% endif %}">
    </div>
    <div class="col-md-8" style="padding-top: 2rem;">
      <h3> {{ entry.title }} </h3>
      <div id="copy"> {{ entry.text }}</div>
    </div>
  </div>
  </div> <!-- Weitere Informationen zum Freiwilligendienst -->

  {% set entry = craft.entries.section('projekte').slug('naturschutz').one() %}
  <div class="zwoelferspaltenlayout container" style="background-color: #f8f5f2; padding-top: 0px; margin-bottom: 3rem;">
  <div class="row">
    <div class="col-md-4">
      <img class="img-fluid w-100" style="padding-bottom: 0px;" src="{% if entry.bild.one() is not null %} {{ entry.bild.one().getUrl() }}  {% endif %}">
    </div>
    <div class="col-md-8" style="padding-top: 2rem;">
      <h3> {{ entry.title }} </h3>
      <div id="copy"> {{ entry.text }}</div>
    </div>
  </div>
  </div> <!-- Weitere Informationen zum Freiwilligendienst -->

</div>

  {% endblock %}
