
{% extends "_layouts/layoutHome.html" %}


{% block titelfuerseo %}
{% set entry = craft.entries.section('suchmaschinenoptimierung').slug('umweltschutz').one() %}
{{ entry.titelfeldFuerJens }}
{% endblock %}

{% block block1 %}

<nav id="myScrollspy">
  <ul class="nav nav-pills flex-column">
       <li class="nav-item">   <a class="nav-link active" href="#start"> </a> <span>Chancen für die Schöpfung</span> </li>
       <li class="nav-item">   <a class="nav-link" href="#bestandteile"></a> <span> Die Bestandteile </span>  </li>
       <li class="nav-item">   <a class="nav-link" href="#ziel"></a> <span>Das Ziel</span>  </li>
       <li class="nav-item">   <a class="nav-link active" href="#zahlen"></a> <span>In Zahlen</span> </li>
       <li class="nav-item">   <a class="nav-link" href="#gelingendesLeben"></a> <span>Gelingendes Leben </span>  </li>
  </ul>
</nav>

<div class="container-fluid text-center" style="padding-top: 7rem; position: relative;" id="start">

  <nav aria-label="breadcrumb" id="info">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"> <a href="https://aufbau-website.de/craft/web/projekte">Projekte</a></li>
    <li class="breadcrumb-item"> <a href="https://aufbau-website.de/craft/web/projekte/programme.html">Programme</a></li>
    <li class="breadcrumb-item"> Naturschutz </li>
  </ol>
</nav>

<img class="img-fluid" id="welle" src="{{ craft.assets.filename('welle.png').one().getUrl() }}" style="position: absolute; left:0; width: 40%;">


  <div class="container achterspaltenlayout" style="padding-top: 0px; padding-bottom: 0; position: relative;">
    {% set entry = craft.entries.section('projekte').slug('umwelt-und-naturschutz').one() %}

    <h1 style="padding-bottom: 2rem;"> {{ entry.anleser }}  </h1>
    <div id="anleser" style="padding-bottom: 0;"> {{ entry.text }} </div>
  </div>
</div>

<div class="container zwoelferspaltenlayout">
  {% set entry = craft.entries.section('projekte').slug('umweltverschmutzung').one() %}

  <div class="row">
    <div class="col-sm-6">
      <div id="copy"> {{ entry.anleser}} </div>
    </div>
    <div class="col-sm-6">
      <div id="copy"> {{ entry.text}} </div>
    </div>

  </div>
</div>

  <img class="img-fluid mx-auto d-block" src=" {{ craft.assets.filename('chance-projekte-programme-naturschutz.jpg').one().getUrl() }}">

<div class="container achterspaltenlayout text-center" id="bestandteile">
  {% set entry = craft.entries.section('projekte').slug('bestandteile-naturschutzprogramms').one() %}
  <h2> {{ entry.title }} </h2>
  <div id="anleser"> {{ entry.anleser }} </div>
  {% set akkordionBilder = craft.entries.section('spendenfelderUndSo').slug('akkordion-bilder').one() %}

  {% set entries = craft.entries.section('projekte').slug('bestandteile-naturschutzprogramms').one().children().all() %}

  <div id="accordion">

    {# If there are any entries, loop through them #}
    {% if entries | length %}        {% set counter = 0 %}

    {% for entry in entries %} {% set counter = counter + 1 %}
    <div class="card" style=" border-color: white; border-top-color: #ed6e2c; border-width: 2px; margin-bottom: 20px;">
      <div class="card-header bg-white">
      <a class="collapsed card-link" data-toggle="collapse" href="#{{counter}}">
        <div class="row">
          <div class="col-md-11 col-10">
            <h4> {{ entry.title }} </h4>
          </div>
          <div class="col-md-1 col-2">
            <img src="{{ akkordionBilder.bild.one().url }}" style="height: 1rem; float: right; margin-top: .25rem;">
          </div>
        </div>
      </a>
        </div>
        <div id="{{counter}}" class="collapse" data-parent="#accordion">
          <div class="card-body" id="copy">
            {{ entry.text }}
          </div>
        </div>
      </div>
      {% endfor %}
      {% endif %}

    </div>
  </div>

  <div class="container-fluid no-padding" style="background-color: #ffffff" id="ziel">
    <div class="container achterspaltenlayout text-center">
      {% set entry = craft.entries.section('projekte').slug('bewahrung-schöpfung').one() %}
      <h2> {{ entry.title }} </h2>
      <div id="anleser"> {{ entry.anleser }}    </div>
    </div>

    <div class="container zwoelferspaltenlayout" style="padding-top: 0;">

      <div class="row">
        {% set entries = craft.entries.section('projekte').slug('bewahrung-schöpfung').one().children().all() %}

        {% if entries | length %}

        {% for entry in entries %}
        <div class="col-sm-4">
          <div id="copy"> {{ entry.text }} </div>
        </div>

        {% endfor %}

        {% endif %}

      </div>
    </div>
  </div>

  {% set entry = craft.entries.section('projekte').slug('waldpate-werden').one() %}

  <div class="container-fluid no-padding"  style="padding-top: 2.5rem; padding-bottom: 2.5rem; background-image: url({{ entry.bild.one().url }});">
    <div class="row">
      <div class="col-md-1">  </div>
      <div class="col-md-3">   <img  style="position: relative; top: 50%; transform: translateY(-50%);" class="img-fluid mx-auto d-block" src="{% if entry.bild.inReverse().one() is not null %}  {{ entry.bild.inReverse().one().getUrl() }}  {% endif %}"> </div>
      <div class="col-md-7" style="padding-left: 30px;">
        <h4 style="color: white;"> {{ entry.title }} </h4>
        <div id="copy" style="color: white;"> {{ entry.text }}</div>
        <a href="https://aufbau-website.de/craft/web/spenden" class="btn btn-primary" role="button" style="margin-bottom: 2rem;">Waldpate werden</a>
      </div>
    </div>
  </div> <!-- Der orange Berg mit dem Spendenaufruf -->


  <div class="container achterspaltenlayout text-center" style="padding-top: 2rem;">
    {% set entry = craft.entries.section('projekte').slug('regenwald').one() %}

    <h2> {{ entry.title }} </h2>
    <div id="anleser" style="padding-bottom: 0;"> {{ entry.anleser }}    </div>
  </div>

  <div class="container achterspaltenlayout" style="padding-bottom: 0;">
    <div id="copy"> {{ entry.text }}    </div>
  </div>

    <img class="img-fluid" src=" {{ craft.assets.filename('chance-projekte-programme-naturschutz_maedchen.jpg').one().getUrl() }}">

  <div class="container zwoelferspaltenlayout text-center" style="min-height: 372px;" id="zahlen">
    {% set entry = craft.entries.section('projekte').slug('der-chance-regenwald-in-zahlen').one() %}
    <h3 style="padding-bottom: 2rem;"> {{ entry.title }} </h3>

    {% set entry = craft.entries.section('projekte').slug('1-11').one() %}

    <div id="carouselContent" class="carousel slide" data-ride="carousel" data-interval="false">
      <div class="carousel-inner">
        <div class="carousel-item active text-center">
          <div class="row">

            <div class="col-md-4 px-5"> <!-- px-5 steht für Padding rechts und links ne gewisse Breite -->
              <h3> {{ entry.title }} </h3>
              <div id="copy"> {{ entry.text }} </h3> </div>
            </div>

            {% set counter = 0 %}
            {% set entries = craft.entries.section('projekte').slug('der-chance-regenwald-in-zahlen').one().children().all() %}
            {% for entry in entries %} {% set counter = counter + 1 %}

            {% if craft.mobileDetect.isMobile and counter is not divisible by(3) and counter != 11 %} {# Für mobile Geräte wird nach jedem Eintrag das Element geschlossen #}
          </div>
          </div>  <div class="carousel-item text-center"> <div class="row">
            {% endif %}

            {% if counter is divisible by(3) %}
          </div>
        </div>  <div class="carousel-item text-center"> <div class="row"> {% endif %}

            <div class="col-md-4 px-5">
              <h3> {{ entry.title }} </h3>
              <div id="copy"> {{ entry.text }} </h3>  </div>
            </div>

            {% endfor %}
          </div>
        </div>
      </div>

      {% set entry = craft.entries.section('projekte').slug('2-11').one() %}
      <a class="carousel-control-prev" href="#carouselContent" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon mr-md-5 mr-sm-4" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselContent" role="button" data-slide="next">
        <span class="carousel-control-next-icon ml-md-5 ml-sm-4" aria-hidden="true" style="color: red;">
        </span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <div class="container achterspaltenlayout text-center" style="padding-top: 2rem; padding-bottom: 0;" id="gelingendesLeben">
    {% set entry = craft.entries.section('projekte').slug('gelingenden-leben').one() %}
    <h2> {{ entry.title }} </h2>
    <div id="anleser" style="padding-bottom: 0;"> {{ entry.anleser }}    </div>
  </div>

  <div class="container zwoelferspaltenlayout" style="padding-top: 0;">
    <img class="img-fluid "src="{% if entry.bild.one() is not null %}{{ entry.bild.one().url }} {% endif %}">
  </div>

<div class="container-fluid no-padding" style="background-color: white; padding-bottom: 3rem;">
      <div class="container zwoelferspaltenlayout text-center">
      {% set entry = craft.entries.section('projekte').slug('dorfentwicklung-chancen-für-dörfer').one() %}
       <div id="anleser" style="padding-bottom: 3rem;"> Lernen Sie unsere weiteren Progamme kennen </div>
    </div>

    <div class="zwoelferspaltenlayout container" style="background-color: #f8f5f2; padding-top: 0px; margin-bottom: 2rem;">
    <div class="row">
      <div class="col-md-4" style="padding-left: 0;">
        <img class="img-fluid w-100" style="padding-bottom: 0px;" src="{% if entry.bild.one() is not null %} {{ entry.bild.one().getUrl() }}  {% endif %}">
      </div>
      <div class="col-md-8" style="padding-top: 2rem;">
        <h3> {{ entry.anleser }} </h3>
        <div id="copy"> {{ entry.text }}</div>
      </div>
    </div>
    </div> <!-- Weitere Informationen zum Freiwilligendienst -->

    {% set entry = craft.entries.section('projekte').slug('patenschaft').one() %}
    <div class="zwoelferspaltenlayout container" style="background-color: #f8f5f2; padding-top: 0px;">
    <div class="row">
      <div class="col-md-4" style="padding-left: 0;">
        <img class="img-fluid w-100" style="padding-bottom: 0px;" src="{% if entry.bild.one() is not null %} {{ entry.bild.one().getUrl() }}  {% endif %}">
      </div>
      <div class="col-md-8" style="padding-top: 2rem;">
        <h3> {{ entry.anleser }} </h3>
        <div id="copy"> {{ entry.text }}</div>
      </div>
    </div>
    </div> <!-- Weitere Informationen zum Freiwilligendienst -->
  </div> <!-- Weißer Hintergrund -->

  {% endblock %}
