
<div id="navbarDesktop" class="bootstrapiso">

<style>
.nav-item {
  padding-left: 20px;
  padding-right: 20px;
}
</style>

<!-- navbar-light links the colors with the background image -->
<nav class="navbar navbar-expand-lg fixed-top navbar-light" data-toggle="affix" style="padding-top: 0px; margin-top: -10px;">

  <div class="container zwoelferspaltenlayout" style="padding: 0px;">

    <!-- Chance Logo -->
    <a class="navbar-brand"  href="https://aufbau-website.de/craft/web/">
      <img src="{{ craft.assets.filename('chance-logo-rgb.png').one().getUrl() }}" id="logo" alt="Logo" width="160" height="120">
    </a>



    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" id="hamburger" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" id="home" href="https://aufbau-Website.de/craft/web/" style="color:black; font-weight: bold;"> HOME </a>
        </li>
        <div class="dropdown">

          <li class="nav-item dropdown" >
            <a class="nav-link" data-toggle="dropdown"
            href="https://aufbau-Website.de/craft/web/ueberUns" style="color:black; font-weight: bold;"> ÜBER UNS </a>
            <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
              <li class="dropdown-item"> <a href="https://aufbau-Website.de/craft/web/ueberUns/arbeitsweise.html"> Arbeitsweise</a> </li>
              <li class="dropdown-divider"></li>
              <li class="dropdown-item"> <a href="https://aufbau-Website.de/craft/web/ueberUns/konzept.html"> Konzept</a> </li>
              <li class="dropdown-divider"></li>
              <li class="dropdown-item"> <a href="https://aufbau-Website.de/craft/web/ueberUns/leitbild.html"> Leitbild</a> </li>
              <li class="dropdown-divider"></li>
              <li class="dropdown-item"> <a href="https://aufbau-Website.de/craft/web/ueberUns/motivation.html"> Motivation</a> </li>
              <li class="dropdown-divider"></li>
              <li class="dropdown-item"> <a href="https://aufbau-Website.de/craft/web/ueberUns/verein.html"> Der Verein</a> </li>
              <li class="dropdown-divider"></li>
              <li class="dropdown-item"> <a href="https://aufbau-Website.de/craft/web/ueberUns/transparenz.html"> Transparenz</a> </li>
              <li class="dropdown-divider"></li>

              <li class="dropdown-submenu">
                <a  class="dropdown-item" tabindex="-1" href="https://aufbau-Website.de/craft/web/ueberUns/empfehlungen.html">Empfehlungen</a>
              </li>
            </li>
          </ul>
        </div>

        <div class="dropdown">
          <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false" href="https://aufbau-Website.de/craft/web/projekte" style="color:black; font-weight: bold;"> PROJEKTE </a>

            <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
              <li class="dropdown-item"> <a href="https://aufbau-Website.de/craft/web/projekte/wowirarbeiten.html"> Wo wir arbeiten</a> </li>
              <li class="dropdown-divider"></li>
              <li class="dropdown-submenu">
                <a  class="dropdown-item" tabindex="-1" href="https://aufbau-Website.de/craft/web/projekte/programme.html">Programme</a>
                <ul class="dropdown-menu">
                  <li class="dropdown-item"><a tabindex="-1" href="https://aufbau-Website.de/craft/web/projekte/programme/dorfentwicklung.html">Dorfentwicklung</a></li>
                  <li class="dropdown-divider"></li>
                  <li class="dropdown-item"><a href="https://aufbau-Website.de/craft/web/projekte/programme/kinderpate.html">Kinderpaten</a></li>
                  <li class="dropdown-divider"></li>
                  <li class="dropdown-item"><a href="https://aufbau-Website.de/craft/web/projekte/programme/naturschutz.html">Umwelt- und Naturschutz</a></li>
                </ul>
              </li>
              <li class="dropdown-divider"></li>
              <li class="dropdown-item"> <a href="https://aufbau-Website.de/craft/web/projekte/themen.html"> Themen</a> </li>
              <li class="dropdown-divider"></li>
              <li class="dropdown-submenu">
                <a  class="dropdown-item" tabindex="-1" href="https://aufbau-Website.de/craft/web/projekte/erfahrungsberichte.html">Erfahrungsberichte</a>
              </li>

              <li class="dropdown-submenu">
                <a  class="dropdown-item" tabindex="-1" href="https://aufbau-Website.de/craft/web/projekte/projektberichte.html">Projektberichte</a>
              </li>
            </li>
          </ul>
        </div>


        <div class="dropdown">
          <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false" href="https://aufbau-Website.de/craft/web/spenden" style="color:black; font-weight: bold;"> SPENDEN </a>

            <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
              <li class="dropdown-submenu">
                <a  class="dropdown-item" tabindex="-1" href="https://aufbau-Website.de/craft/web/spenden/einmalig.html">Allgemein Spenden</a>
                <ul class="dropdown-menu">
                  <li class="dropdown-item"><a tabindex="-1" href="https://aufbau-Website.de/craft/web/spenden/allgemein/einmaligallgemein.html">Einmalig</a></li>
                  <li class="dropdown-divider"></li>
                  <li class="dropdown-item"><a href="https://aufbau-Website.de/craft/web/spenden/allgemein/regelmaesigallgemein.html">Regelmäßig</a></li>
                </ul>
              </li>

              <li class="dropdown-submenu" style="height: 100px;">
               <a  class="dropdown-item" tabindex="-1" href="https://aufbau-Website.de/craft/web/spenden/projektbezogen/partnerlandeinmal">Projektbezogen Spenden</a>
               <ul class="dropdown-menu">
                 <li class="dropdown-submenu">
                   <a class="dropdown-item" href="https://aufbau-Website.de/craft/web/spenden/projektbezogen/partnerlandeinmal">Einmalig</a>
                   <ul class="dropdown-menu">
                     <li class="dropdown-item"><a href="#">Länderpate</a></li>
                     <li class="dropdown-item"><a href="#">Dorfpate</a></li>
                     <li class="dropdown-item"><a href="#">Waldpate</a></li>
                   </ul>
                   <a class="dropdown-item" href="https://aufbau-Website.de/craft/web/spenden/projektbezogen/partnerlandregelmaesig">Regelmäßig</a>
                   <ul class="dropdown-menu">
                     <li class="dropdown-item"><a href="https://aufbau-Website.de/craft/web/spenden/projektbezogen/partnerlandregelmaesig">Länderpate</a></li>
                     <li class="dropdown-item"><a href="#">Dorfpate</a></li>
                     <li class="dropdown-item"><a href="#">Kinderpate plus</a></li>
                     <li class="dropdown-item"><a href="#">Waldpate</a></li>
                   </ul>
                 </li>
                 <li class="dropdown-item"><a href="https://aufbau-Website.de/craft/web/spenden/projektbezogen/schenkenundspenden">Schenken und Spenden</a></li>
                 <li class="dropdown-item"><a href="https://aufbau-Website.de/craft/web/spenden/projektbezogen/einkaufenundspenden">Einkaufen und Spenden</a></li>
                 <li class="dropdown-item"><a href="#">Lastschrifttermine</a></li>

               </ul>
             </li>
           </li>

            </li>
          </ul>
        </div>


        <div class="dropdown">
          <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false" href="https://aufbau-Website.de/craft/web/fuerSie" style="color:black; font-weight: bold;"> FÜR SIE </a>

            <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
              <li class="dropdown-item"> <a href="https://aufbau-Website.de/craft/web/fuerSie/chancekommt.html"> Chance e.V. kommt zu Ihnen</a> </li>
              <li class="dropdown-divider"></li>

              <li class="dropdown-submenu">
                <a  class="dropdown-item" tabindex="-1" href="https://aufbau-Website.de/craft/web/fuerSie/freiwilligendienst.html">Freiwilligendienst</a>
                <ul class="dropdown-menu">
                  <li class="dropdown-item"><a tabindex="-1" href="https://aufbau-Website.de/craft/web/fuerSie/freiwillig/weltwaerts.html">Mit "weltwärts" nach Peru oder Kenia</a></li>
                  <li class="dropdown-divider"></li>
                  <li class="dropdown-item"><a href="https://aufbau-Website.de/craft/web/fuerSie/freiwillig/peru.html">Weitere Einsatzmöglichkeiten in Peru</a></li>
                  <li class="dropdown-divider"></li>
                  <li class="dropdown-item"><a href="https://aufbau-Website.de/craft/web/fuerSie/freiwillig/bewerbung.html">Deine Bewerbung</a></li>
                  <li class="dropdown-divider"></li>
                  <li class="dropdown-item"><a href="https://aufbau-Website.de/craft/web/fuerSie/freiwillig/erfahrungsberichte.html">Erfahrungsberichte</a></li>
                </ul>
              </li>
              <li class="dropdown-item"> <a href="https://aufbau-Website.de/craft/web/fuerSie/projektbesuch.html">Projektbesuch</a> </li>
              <li class="dropdown-divider"></li>
              <li class="dropdown-submenu">
                <a  class="dropdown-item" tabindex="-1" href="https://aufbau-Website.de/craft/web/fuerSie/daheim.html">Für Sie daheim</a>
                <ul class="dropdown-menu">
                  <li class="dropdown-item"><a tabindex="-1" href="https://aufbau-Website.de/craft/web/fuerSie/daheim/consumermission.html">"Consumer Missions"</a></li>
                  <li class="dropdown-divider"></li>
                  <li class="dropdown-item"><a href="https://aufbau-Website.de/craft/web/fuerSie/daheim/kaffee.html">Kaffee - unsere tägliche Chance</a></li>
                  <li class="dropdown-divider"></li>
                  <li class="dropdown-item"><a href="https://aufbau-Website.de/craft/web/fuerSie/daheim/blumen.html">Bäume für Kenia statt Blumen für Euro</a></li>
                </ul>
              </li>

              <li class="dropdown-item"> <a href="#">Presse und Downloads</a> </li>
              <li class="dropdown-divider"></li>
              <li class="dropdown-item"> <a href="https://aufbau-Website.de/craft/web/fuerSie/literaturtipps.html">Literaturtipps</a> </li>
              <li class="dropdown-divider"></li>
              <li class="dropdown-item"> <a href="https://aufbau-Website.de/craft/web/fuerSie/zitate.html">Zitate</a> </li>

            </li>
          </ul>
        </div>
        <li class="nav-item">
          <a class="nav-link" id="blog" href="https://aufbau-Website.de/craft/web/blog" style="color:black; font-weight: bold;"> BLOG </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="kontakt" href="https://aufbau-Website.de/craft/web/kontakt" style="color:black; font-weight: bold;"> KONTAKT </a>
        </li>

      </ul>
    </div>
  </div>

</nav>

<div class="container-fluid no-padding" style="position:fixed; top:-2px; z-index: 900;">
  <div class="rectangle" id="rechteck"></div>
</div>

</div>

<div id="navbarHandy" style="display: none;">

  <script>
  $(document).ready(function() {
    var counterMenu = 0;

    $("#nav-icon").click(function() { //Nav-icon anklicken -> Logo ausblenden
      if (counterMenu % 2 != 0) {
        $("#nav-icon").text("&#9776;");
        $("#logo").show();

      } else {
        $("#logo").hide();
        $("#nav-icon").text("schließen");
      }
      counterMenu++;
    });
    var counter = 0;

    $("#A").click(function() { //Über uns anklicken -> die anderen ausblenden
      if (counter % 2 != 0) {
        $("#homeBox").show();
        $("#zweiteBox").show();
        $("#dritteBox").show();
        $("#vierteBox").show();
        $("#blogBox").show();         $("#kontaktBox").show();
        $("#pfeil1").css("float", "right");     $("#pfeil1").css("pading-left", "10%");
        $("#linkUeberUns").show();
        $("#ueberUnsSchrift").hide();

      } else {
        $("#homeBox").hide();
        $("#zweiteBox").hide();
        $("#dritteBox").hide();
        $("#vierteBox").hide();
        $("#blogBox").hide();         $("#kontaktBox").hide();
        $("#pfeil1").css("float", "left");    $("#pfeil1").css("padding-left", "0");
        $("#linkUeberUns").hide();
        $("#ueberUnsSchrift").show();
      }
      counter++;
    });

    $("#B").click(function() { // Projekte anklicken --> die anderen ausblenden
      if (counter % 2 != 0) {
        $("#homeBox").show();
        $("#ersteBox").show();
        $("#dritteBox").show();
        $("#vierteBox").show();
        $("#blogBox").show();         $("#kontaktBox").show();
        $("#pfeil2").css("float", "right");     $("#pfeil2").css("pading-left", "10%");
        $("#linkProjekte").show();
        $("#projekteSchrift").hide();
      } else {
        $("#homeBox").hide();
        $("#ersteBox").hide();
        $("#dritteBox").hide();
        $("#vierteBox").hide();
        $("#blogBox").hide();         $("#kontaktBox").hide();
        $("#pfeil2").css("float", "left");    $("#pfeil2").css("padding-left", "0");
        $("#linkProjekte").hide();
        $("#projekteSchrift").show();
      }
      counter++;
    });


    $("#B-A").click(function() { // Programme anklicken --> Dorfentwicklung, Kinderpate sehen

      $("#zweiteBox").hide(); //Zweite Box ganz verstecken
      $("#projekteProgramme").show() //Neues div anzeigen

    });

    $("#B-A1").click(function() { // Programme anklicken --> Dorfentwicklung, Kinderpate sehen

      $("#zweiteBox").show(); //Zweite Box wieder zeigen
      $("#projekteProgramme").hide() //Neues div verstecken

    });

    $("#C").click(function() { // Projekte anklicken --> die anderen ausblenden
      if (counter % 2 != 0) {
        $("#homeBox").show();
        $("#ersteBox").show();
        $("#zweiteBox").show();
        $("#vierteBox").show();
        $("#blogBox").show();         $("#kontaktBox").show();
        $("#pfeil3").css("float", "right");     $("#pfeil3").css("pading-left", "10%");
        $("#linkSpenden").show();
        $("#spendenSchrift").hide();

      } else {
        $("#homeBox").hide();
        $("#ersteBox").hide();
        $("#zweiteBox").hide();
        $("#vierteBox").hide();
        $("#blogBox").hide();         $("#kontaktBox").hide();
        $("#pfeil3").css("float", "left");    $("#pfeil3").css("padding-left", "0");
        $("#linkSpenden").hide();
        $("#spendenSchrift").show();
      }
      counter++;
    });

    $("#C-A").click(function() { // Programme anklicken --> Dorfentwicklung, Kinderpate sehen
      $("#dritteBox").hide(); //Zweite Box ganz verstecken
      $("#spendenAllgemin").show() //Neues div anzeigen
    });

    $("#C-A1").click(function() { // Programme anklicken --> Dorfentwicklung, Kinderpate sehen
      $("#dritteBox").show(); //Zweite Box wieder zeigen
      $("#spendenAllgemin").hide() //Neues div verstecken
    });

    $("#C-B").click(function() { // Programme anklicken --> Dorfentwicklung, Kinderpate sehen
      $("#dritteBox").hide(); //Zweite Box ganz verstecken
      $("#spendenProjektbezogen").show() //Neues div anzeigen
    });

    $("#C-B1").click(function() { // Programme anklicken --> Dorfentwicklung, Kinderpate sehen
      $("#dritteBox").show(); //Zweite Box wieder zeigen
      $("#spendenProjektbezogen").hide() //Neues div verstecken
    });

    $("#C-C").click(function() { // Programme anklicken --> Dorfentwicklung, Kinderpate sehen
      $("#spendenProjektbezogen").hide(); //Zweite Box ganz verstecken
      $("#spendenProjektbezogenEinmalig").show() //Neues div anzeigen
    });

    $("#C-C1").click(function() { // Programme anklicken --> Dorfentwicklung, Kinderpate sehen
      $("#spendenProjektbezogen").show(); //Zweite Box wieder zeigen
      $("#spendenProjektbezogenEinmalig").hide() //Neues div verstecken
    });

    $("#C-D").click(function() { // Programme anklicken --> Dorfentwicklung, Kinderpate sehen
      $("#spendenProjektbezogen").hide(); //Zweite Box ganz verstecken
      $("#spendenProjektbezogenRegelmaesig").show() //Neues div anzeigen
    });

    $("#C-D1").click(function() { // Programme anklicken --> Dorfentwicklung, Kinderpate sehen
      $("#spendenProjektbezogen").show(); //Zweite Box wieder zeigen
      $("#spendenProjektbezogenRegelmaesig").hide() //Neues div verstecken
    });

    $("#D").click(function() { // Projekte anklicken --> die anderen ausblenden
      if (counter % 2 != 0) {
        $("#homeBox").show();
        $("#ersteBox").show();
        $("#zweiteBox").show();
        $("#dritteBox").show();
        $("#blogBox").show();         $("#kontaktBox").show();
        $("#pfeil4").css("float", "right");     $("#pfeil4").css("pading-left", "10%");
        $("#linkFuerSie").show();
        $("#fuerSieSchrift").hide();

      } else {
        $("#homeBox").hide();
        $("#ersteBox").hide();
        $("#zweiteBox").hide();
        $("#dritteBox").hide();
        $("#blogBox").hide();         $("#kontaktBox").hide();
        $("#pfeil4").css("float", "left");    $("#pfeil4").css("padding-left", "0");
        $("#linkFuerSie").hide();
        $("#fuerSieSchrift").show();
      }
      counter++;
    });

    $("#D-A").click(function() { // Programme anklicken --> Dorfentwicklung, Kinderpate sehen
      $("#vierteBox").hide(); //Zweite Box ganz verstecken
      $("#fuerSieFreiwilligendienst").show() //Neues div anzeigen
    });

    $("#D-A1").click(function() { // Programme anklicken --> Dorfentwicklung, Kinderpate sehen
      $("#vierteBox").show(); //Zweite Box wieder zeigen
      $("#fuerSieFreiwilligendienst").hide() //Neues div verstecken
    });

    $("#D-B").click(function() { // Programme anklicken --> Dorfentwicklung, Kinderpate sehen
      $("#vierteBox").hide(); //Zweite Box ganz verstecken
      $("#fuerSieDaheim").show() //Neues div anzeigen
    });

    $("#D-B1").click(function() { // Programme anklicken --> Dorfentwicklung, Kinderpate sehen
      $("#vierteBox").show(); //Zweite Box wieder zeigen
      $("#fuerSieDaheim").hide() //Neues div verstecken
    });

  });
</script>

<style>
/*Global*/
html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: helvetica, sans-serif;
}

/*Func*/

.multi-level, .item ul, .nav input[type="checkbox"] {
    display: none;
}
#menu:checked ~ .multi-level, .item input:checked ~ ul {
    display: block;
}

/*Arrow*/

.arrow {
    width: 12px;
    height: 12px;
    vertical-align: middle;
    float: left;
    z-index: 0;
    margin: 17px 1em 0 2em;
}
.item input + .arrow {
    transform: rotate(-90deg);
    transition: 0.1s;
}
.item input:checked + .arrow {
    transform: rotate(0deg);
    transition: 0.1s;
}



/*Styles*/

label:hover {
    cursor: pointer;
}
label {
    width: 100%;
    display: block;
    z-index: 3;
    position: relative;
}
.nav {
    width: 100%;
    overflow-x: hidden;
}

#nav-icon {
    font-size: 28px;
    line-height: 50px;
    padding-left: 1em;
    color: grey;
}

.nav ul, .nav li, label {
    line-height: 50px;
    margin: 0;
    padding: 0 2em;
    list-style: none;
    text-decoration: none;
    color: #90A4AE;
    font-weight: 100;
    width: 100%;
}
.item ul {
    padding: 0 0.25em;
}
.nav li a {
    line-height: 50px;
    margin: 0;
    padding: 0 4em;
    padding-left: 0;
    list-style: none;
    text-decoration: none;
    color: #90A4AE;
    font-weight: 100;
}

</style>

<div class="nav">
  {% set entry = craft.entries.section('spendenfelderUndSo').slug('navbar') %}

  <a href="https://aufbau-website.de/craft/web/">
    <img style="display: inline;" src="{{ craft.assets.filename('chance-logo-rgb.png').one().getUrl() }}" id="logo" alt="Logo" width="80" height="60">
  </a>

  <input type="checkbox" id="menu"/> <!-- Hamburger Menu, das nach unten klappt -->
  <label for="menu" id="nav-icon" style="width: auto; display: inline; float: right;">&#9776;</label>


  <div class="multi-level">

    <div style="padding-top: 40px; padding-left: 2em;" id="homeBox">
      <a href="#" style="padding-right: 20%; padding-top: 10%;">Home</a>
    </div>

    <div class="item" id="ersteBox" style="padding-left: 2em;">
      <a href="https://aufbau-website.de/craft/web/ueberUns" style="display: inline; padding-right: 20%;" id="linkUeberUns" >Über Uns</a>
      <input type="checkbox" id="A"/>
      <label for="A" style="display: inline;">   <img src=" {{ entry.bild }} " id="pfeil1" class="arrow" style="float: right; padding-left: 10%;">  </label>
      <ul>
        <li id="ueberUnsSchrift"> Über Uns</li>
        <li > <a href="https://aufbau-Website.de/craft/web/ueberUns/arbeitsweise.html"> Arbeitsweise</a> </li> <hr>

        <li > <a href="https://aufbau-Website.de/craft/web/ueberUns/konzept.html"> Konzept</a> </li> <hr>

        <li > <a href="https://aufbau-Website.de/craft/web/ueberUns/leitbild.html"> Leitbild</a> </li> <hr>

        <li > <a href="https://aufbau-Website.de/craft/web/ueberUns/motivation.html"> Motivation</a> </li> <hr>

        <li > <a href="https://aufbau-Website.de/craft/web/ueberUns/verein.html"> Der Verein</a> </li> <hr>

        <li > <a href="https://aufbau-Website.de/craft/web/ueberUns/transparenz.html"> Transparenz</a> </li> <hr>
      </ul>
    </div>

    <div class="item" id="zweiteBox" style="padding-left: 2em;">

      <a href="https://aufbau-Website.de/craft/web/projekte" id="linkProjekte" style="display: inline; padding-right: 20%;">Projekte</a>
      <input type="checkbox" id="B"/>
      <label for="B" style="display: inline;">   <img src=" {{ entry.bild }} " class="arrow" id="pfeil2" style="float: right; padding-left: 10%;">  </label>

      <ul> <!-- Dropdown beginnt -->
        <li id="projekteSchrift"> Projekte</li>

        <li> <a href="https://aufbau-Website.de/craft/web/projekte/wowirarbeiten.html"> Wo wir arbeiten</a> </li>

        <li>
          <div class="sub-item" id="subItemProjekte"> <!-- Zweite Dropdown-Ebene beginnt, also Programme -> Dorfentwicklung und so -->
            <a href="https://aufbau-Website.de/craft/web/projekte/programme.html" style="display: inline; padding-right: 20%;">Programme</a>
            <input type="checkbox" id="B-A"/>
            <label for="B-A" style="display: inline;">   <img src=" {{ entry.bild }} " class="arrow" id="pfeil11" style="float: right; padding-right: 10%; margin: 0; margin-top: 17px;">  </label>
          </div>
        </li>
        <li> <a href="https://aufbau-Website.de/craft/web/projekte/themen.html"> Themen</a> </li>
        <li> <a href="https://aufbau-Website.de/craft/web/projekte/erfahrungsberichte.html">Erfahrungsberichte</a>  </li>
        <li> <a href="https://aufbau-Website.de/craft/web/projekte/projektberichte.html">Projektberichte</a>  </li>

      </ul>
    </div>

    <div id="projekteProgramme" style="padding-left: 2em; display: none;">
      <input type="checkbox" id="B-A1"/>
      <label for="B-A1" style="display: inline;">   <img src=" {{ entry.bild }} " id="pfeil12" class="arrow">  </label>

      <ul>
        <li id="projekteProgramme"> Programme</li>
        <li> <a href="https://aufbau-Website.de/craft/web/projekte/programme/dorfentwicklung.html">Dorfentwicklung</a></li>
        <li> <a href="https://aufbau-Website.de/craft/web/projekte/programme/kinderpate.html">Kinderpaten</a></li>
        <li> <a href="https://aufbau-Website.de/craft/web/projekte/programme/naturschutz.html">Umwelt- und Naturschutz</a></li>
      </ul>
    </div>

    <div class="item" id="dritteBox" style="padding-left: 2em;">
      <a href="https://aufbau-Website.de/craft/web/spenden" id="linkSpenden" style="display: inline; padding-right: 20%;">Spenden</a>
      <input type="checkbox" id="C"/>
      <label for="C" style="display: inline;">   <img src=" {{ entry.bild }} " class="arrow" id="pfeil3" style="float: right; padding-left: 10%;">  </label>

      <ul> <!-- Dropdown beginnt -->
        <li id="spendenSchrift"> Spenden</li>
        <li>
          <div class="sub-item"> <!-- Zweite Dropdown-Ebene beginnt, also Spenden-Allgemein -> Einmalig oder Regelmäßig -->
            <a href="https://aufbau-Website.de/craft/web/spenden/einmalig.html" style="display: inline; padding-right: 20%;">Allgemein Spenden</a>
            <input type="checkbox" id="C-A"/>
            <label for="C-A" style="display: inline;">   <img src=" {{ entry.bild }} " class="arrow" style="float: right; padding-right: 10%; margin: 0; margin-top: 17px;">  </label>
          </div>
        </li>
        <li> <!-- Das List-Element zeigt an, dass auch das Dropdown-Menu auch nur ein List-Element in dem Obermenu ist -->
          <div class="sub-item"> <!-- Zweite Dropdown-Ebene beginnt, also Spenden spezifisch -> Einmalig oder Regelmäßig -->
            <a href="https://aufbau-website.de/craft/web/spenden/projektbezogen/partnerlandeinmal" style="display: inline; padding-right: 20%;">Projektbezogen Spenden</a>
            <input type="checkbox" id="C-B"/>
            <label for="C-B" style="display: inline;">   <img src=" {{ entry.bild }} " class="arrow" style="float: right; padding-right: 10%; margin: 0; margin-top: 17px;">  </label>
          </div>
          </li>
        </ul>
    </div> <!-- Dritte Box (Spenden) - Ende -->

    <div id="spendenAllgemin" style="padding-left: 2em; display: none;">
      <input type="checkbox" id="C-A1"/>
      <label for="C-A1" style="display: inline;">   <img src=" {{ entry.bild }} " id="pfeil12" class="arrow">  </label>
      <ul>
        <li> Allgemein Spenden</li>
        <li> <a href="https://aufbau-Website.de/craft/web/spenden/allgemein/einmaligallgemein.html">Einmalig</a></li>
        <li> <a href="https://aufbau-Website.de/craft/web/spenden/allgemein/regelmaesigallgemein.html">Regelmäßig</a></li>
      </ul>
    </div>

    <div id="spendenProjektbezogen" style="padding-left: 2em; display: none;"> <!-- Die Box mit den verschiedenen Spendenangeboten (Projektbezogen -> Regelmäßig/Einmalig/ schenken und spenden...)-->
      <input type="checkbox" id="C-B1"/>
      <label for="C-B1" style="display: inline;">   <img src=" {{ entry.bild }} " id="pfeil12" class="arrow">  </label>
      <ul>
        <li> Projektbezogen Spenden</li>

        <li> <a href="https://aufbau-website.de/craft/web/spenden/projektbezogen/partnerlandeinmal" style="display: inline; padding-right: 20%;">Einmalig</a>
          <input type="checkbox" id="C-C"/>
          <label for="C-C" style="display: inline;">   <img src=" {{ entry.bild }} " class="arrow" style="float: right; padding-right: 10%; margin: 0; margin-top: 17px;">  </label>
        </li>

        <li> <a href="https://aufbau-Website.de/craft/web/spenden/allgemein/regelmaesigallgemein.html" style="display: inline; padding-right: 20%;">Regelmäßig</a>
          <input type="checkbox" id="C-D"/>
          <label for="C-D" style="display: inline;">   <img src=" {{ entry.bild }} " class="arrow" style="float: right; padding-right: 10%; margin: 0; margin-top: 17px;">  </label>
        </li>

        <li><a href="https://aufbau-Website.de/craft/web/spenden/projektbezogen/schenkenundspenden">Schenken und Spenden</a></li>
        <li><a href="https://aufbau-Website.de/craft/web/spenden/projektbezogen/einkaufenundspenden">Einkaufen und Spenden</a></li>
        <li><a href="#">Lastschrifttermine</a></li>
      </ul>
    </div>


    <div id="spendenProjektbezogenEinmalig" style="padding-left: 2em; display: none;">
      <input type="checkbox" id="C-C1"/>
      <label for="C-C1" style="display: inline;">   <img src=" {{ entry.bild }} " id="pfeil12" class="arrow">  </label>
      <ul>
        <li> Einmalig Projektbezogen Spenden </li>
        <li> <a href="https://aufbau-website.de/craft/web/spenden/projektbezogen/partnerlandregelmaesig">Länderpate</a></li>
        <li> <a href="https://aufbau-website.de/craft/web/spenden/projektbezogen/partnerlandregelmaesig">Dorfpate</a></li>
        <li> <a href="https://aufbau-website.de/craft/web/spenden/projektbezogen/partnerlandregelmaesig">Kinderpate Plus</a></li>
        <li> <a href="https://aufbau-website.de/craft/web/spenden/projektbezogen/partnerlandregelmaesig">Waldpate</a></li>
      </ul>
    </div>


    <div id="spendenProjektbezogenRegelmaesig" style="padding-left: 2em; display: none;">
      <input type="checkbox" id="C-D1"/>
      <label for="C-D1" style="display: inline;">   <img src=" {{ entry.bild }} " id="pfeil12" class="arrow">  </label>
      <ul>
        <li> Regelmäßig Projektbezogen Spenden </li>
        <li> <a href="https://aufbau-website.de/craft/web/spenden/projektbezogen/partnerlandregelmaesig">Länderpate</a></li>
        <li> <a href="https://aufbau-website.de/craft/web/spenden/projektbezogen/partnerlandregelmaesig">Dorfpate</a></li>
        <li> <a href="https://aufbau-website.de/craft/web/spenden/projektbezogen/partnerlandregelmaesig">Kinderpate Plus</a></li>
        <li> <a href="https://aufbau-website.de/craft/web/spenden/projektbezogen/partnerlandregelmaesig">Waldpate</a></li>
      </ul>
    </div>

    <div class="item" id="vierteBox" style="padding-left: 2em;">

      <a href="https://aufbau-website.de/craft/web/fuerSie" id="linkFuerSie" style="display: inline; padding-right: 20%;">Für Sie</a>
      <input type="checkbox" id="D"/>
      <label for="D" style="display: inline;">   <img src=" {{ entry.bild }} " class="arrow" id="pfeil4" style="float: right; padding-left: 10%;">  </label>

      <ul> <!-- Dropdown beginnt -->
        <li id="fuerSieSchrift"> Für Sie</li>
        <li> <a href="https://aufbau-Website.de/craft/web/fuerSie/chancekommt.html"> Chance e.V. kommt zu Ihnen</a> </li>
        <li>
          <div class="sub-item" id="subItemFreiwilligendienst"> <!-- Zweite Dropdown-Ebene beginnt, also Programme -> Dorfentwicklung und so -->
            <a href="https://aufbau-website.de/craft/web/fuerSie/freiwilligendienst.html" style="display: inline; padding-right: 20%;">Freiwilligendienst</a>
            <input type="checkbox" id="D-A"/>
            <label for="D-A" style="display: inline;">   <img src=" {{ entry.bild }} " class="arrow" id="pfeil11" style="float: right; padding-right: 10%; margin: 0; margin-top: 17px;">  </label>
          </div>
        </li>
        <li> <a href="https://aufbau-Website.de/craft/web/fuerSie/projektbesuch.html">Projektbesuch</a> </li>
        <li>
          <div class="sub-item" id="subItemDaheim"> <!-- Zweite Dropdown-Ebene beginnt, also Programme -> Dorfentwicklung und so -->
            <a href="https://aufbau-website.de/craft/web/fuerSie/daheim.html" style="display: inline; padding-right: 20%;">Für Sie daheim</a>
            <input type="checkbox" id="D-B"/>
            <label for="D-B" style="display: inline;">   <img src=" {{ entry.bild }} " class="arrow" id="pfeil11" style="float: right; padding-right: 10%; margin: 0; margin-top: 17px;">  </label>
          </div>
        </li>
        <li> <a href="#">Presse und Downloads</a> </li>
        <li> <a href="https://aufbau-Website.de/craft/web/fuerSie/literaturtipps.html">Literaturtipps</a> </li>
        <li> <a href="https://aufbau-Website.de/craft/web/fuerSie/zitate.html">Zitate</a> </li>
      </ul>
    </div>

    <div id="fuerSieFreiwilligendienst" style="padding-left: 2em; display: none;">
      <input type="checkbox" id="D-A1"/>
      <label for="D-A1" style="display: inline;">   <img src=" {{ entry.bild }} " class="arrow">  </label>
      <ul>
        <li> Freiwilligendienst </li>
        <li><a tabindex="-1" href="https://aufbau-Website.de/craft/web/fuerSie/freiwillig/weltwaerts.html">Mit "weltwärts" nach Peru oder Kenia</a></li>
        <li><a href="https://aufbau-Website.de/craft/web/fuerSie/freiwillig/peru.html">Weitere Einsatzmöglichkeiten in Peru</a></li>
        <li><a href="https://aufbau-Website.de/craft/web/fuerSie/freiwillig/bewerbung.html">Deine Bewerbung</a></li>
        <li><a href="https://aufbau-Website.de/craft/web/fuerSie/freiwillig/erfahrungsberichte.html">Erfahrungsberichte</a></li>
      </ul>
    </div>

    <div id="fuerSieDaheim" style="padding-left: 2em; display: none;">
      <input type="checkbox" id="D-B1"/>
      <label for="D-B1" style="display: inline;">   <img src=" {{ entry.bild }} " class="arrow">  </label>
      <ul>
        <li> Für Sie daheim </li>
        <li><a tabindex="-1" href="https://aufbau-Website.de/craft/web/fuerSie/daheim/consumermission.html">"Consumer Missions"</a></li>
        <li><a href="https://aufbau-Website.de/craft/web/fuerSie/daheim/kaffee.html">Kaffee - unsere tägliche Chance</a></li>
        <li><a href="https://aufbau-Website.de/craft/web/fuerSie/daheim/blumen.html">Bäume für Kenia statt Blumen für Euro</a></li>
      </ul>
    </div>

    <div style="padding-top: 5px; padding-left: 2em;" id="blogBox">
      <a href="https://aufbau-website.de/craft/web/blog">Blog</a>
    </div>

    <div style="padding-top: 20px; padding-left: 2em;" id="kontaktBox">
      <a href="https://aufbau-website.de/craft/web/kontakt">Kontakt</a>
    </div>

  </div>
</div>

</div>
