
{% extends "_layouts/layoutHome.html" %}

{% block titelfuerseo %}
{% set entry = craft.entries.section('suchmaschinenoptimierung').slug('blog').one() %}
{{ entry.titelfeldFuerJens }}
{% endblock %}

{% block block1 %}

<style media="screen">
  p {
    margin-bottom: 0;
  }
</style>

<div class="container-fluid text-center" id="ersterContainer" style="padding-top: 7rem; position: relative;">

  <nav aria-label="breadcrumb" id="info">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"> Blog </li>
    </ol>
  </nav>

  <img class="img-fluid" src="{{ craft.assets.filename('welle.png').one().getUrl() }}" style="position: absolute; left:0; width: 40%;">

  <div class="container achterspaltenlayout" style="padding-top:0px; position: relative;">
    {% set entry = craft.entries.section('spendenfelderUndSo').slug('blog-ueberschrift').one() %}

      <h1 style="padding-bottom: 2rem;"> {{ entry.text }}  </h1>
      <div id="anleser"> {{ entry.textfeld }}  </div>
  </div>
</div>

{% set counter = 0 %}

<div class="container-fluid no-padding" style="background-color: white; padding-bottom: 5rem;">

  <div class="container zwoelferspaltenlayout" style="background-color: padding-bottom: 3rem;">
    <div class="row">
      {% set entries = craft.entries.section('blog').level('1').limit(3) %}
      <div class="col-sm-8">
        {% for entry in entries %}
        <a href="{{ 'https://aufbau-website.de/craft/web/blog/' ~ entry.slug }}">
        <img class="img-fluid" src="{% if entry.bild.one() is not null %} {{ entry.bild.one().url }} {% endif %}" alt="blogbild" style="padding-bottom: 1rem;">
        </a>
        <div id="info"> Veröffentlicht am {{ entry.postDate | date("d M Y") }} - {%if entry.blogKategorie.one() is not null %} in <a href="{{ entry.blogKategorie.one().url }}">{{ entry.blogKategorie.one().title }}</a> {% endif %}
        {%if entry.blogKategorie.inReverse().one() is not null %} und <a href="{{ entry.blogKategorie.inReverse().one().url }}">{{ entry.blogKategorie.inReverse().one().title }}</a> {% endif %}</div>
        <!-- Mit der oberen Zeile wird die Kategorie des Artikels abgerufen und angezeigt und sofort klickbar -->
        <a href="{{ 'https://aufbau-website.de/craft/web/blog/' ~ entry.slug }}">
        <h2 style="padding-bottom: 0;"> {{ entry.title}}</h2>
        </a>
        <div id="copy" style="padding-top: 0; padding-bottom: 5rem;"> {{ entry.anleser }}
        <a href="{{ 'https://aufbau-website.de/craft/web/blog/' ~ entry.slug }}"> Weiterlesen</a>
        </div>
        {% set counter = counter + 1 %}
        {% endfor %}
        <div id="div1">  </div>
        <button id="Laden" type="button" class="btn btn-primary mx-auto d-block" onclick="mehrLadenAjax()"> Weitere Beiträge laden</button>
      </div> <!-- Kurzansicht der Einträge mit Bild -->


<script>
{% set entries = craft.entries.section('blog').level('1').offset(3) %}

var eintraege = [];
{% for entry in entries %} //Alle Zitate werden in ein Feld kopiert aus Craft
  var eintrag = { slug: "{{entry.slug}}", datum: "{{ entry.postDate | date("d M Y") }}", kategorie: "{{entry.blogKategorie.one().title}}", kategorieUrl: "{{entry.blogKategorie.one().url}}", title: "{{entry.title}}", anleser: "{{entry.anleser}}", bild: "{{entry.bild.one().url}}"};
  eintraege.push(eintrag);
{% endfor %}

function mehrLadenAjax() {

  var durchlaeufe = 0;
  if (eintraege.length > 3) { durchlaeufe = 3;  } else { durchlaeufe = eintraege.length }

  for (i = 0; i < durchlaeufe; i++) {
    $("#div1").append("<img class=\"img-fluid\" style=\"padding-bottom: 1rem;\" src=" + eintraege[i].bild + "> </img>");
    $("#div1").append("<div id=\"info\"> Veröffentlicht am " + eintraege[i].datum + " - in <a href=\"" + eintraege[i].kategorieUrl + "\">" + eintraege[i].kategorie + "</a></div>");
    $("#div1").append("<h2 style=\"padding-bottom: 0;\">" + eintraege[i].title + "</h2>");
    $("#div1").append("<div style=\"padding-bottom: 5rem;\" id=\"copy\">" + eintraege[i].anleser + "<a href=\"https://aufbau-website.de/craft/web/blog/" + eintraege[i].slug +"\"> Weiterlesen</a> </div>");
    //$("#div1").html("<img src=" + eintraege[i].bild + "> </img>");
}
for (i = 0; i < durchlaeufe; i++) { //Loeschen der ersten drei angezeigten Elemente
  eintraege.shift();
}
if (eintraege.length == 0) {
  $("#Laden").css("visibility", "hidden");
  $("#Laden").css("display", "none");
}
}

</script>

      <div class="col-sm-4">
        <div id="copy" style="background-color: #f8f5f2; padding: 1.5rem; margin-bottom: 1.5rem;">
          <h4 style="margin-bottom: 0;"> Abonnieren Sie den Chance-Blog <h4>
            <p id="copy"> Um neue Blogbeiträge per E-Mail zu erhalten, hier die E-Mail-Adresse eingeben. </p>
              {% macro errorList(errors) %}
              {% if errors %}
              <ul class="errors">
                {% for error in errors %}
                <li>{{ error }}</li>
                {% endfor %}
              </ul>
              {% endif %}
              {% endmacro %}

              {% from _self import errorList %}

              <form class="form-inline" method="post" action="" accept-charset="UTF-8" style="padding-top: 1rem;">
                {{ csrfInput() }}
                <input type="hidden" name="action" value="contact-form/send">
                {{ redirectInput('kontakt/danke') }}

                <input id="from-email" required class="form-control" type="email" style="background-color: white; margin-right: 1rem; padding-right: 3rem; margin-bottom: .5rem;" name="fromEmail" placeholder="Ihre E-Mail-Adresse" value="{{ message.fromEmail ?? '' }}">
                {{ message is defined and message ? errorList(message.getErrors('fromEmail')) }}
                <input type="submit" value="Anmelden" class="btn btn-primary">

                <textarea style="display: none;" rows="10" cols="40" id="message" name="message">Die oben genannte E-Mail-Adresse würde sich gerne für den neue Blog-Einträge anmelden.</textarea>
                {{ message is defined and message ? errorList(message.getErrors('message')) }}

              </form>

          </div> <!-- Newsletter-Anmeldung -->

        <div id="copy" style="background-color: #f8f5f2; padding: 1.5rem; margin-bottom: 1.5rem;">
          <p> <strong> Letzte Beiträge </strong> </p>
          {% set entries = craft.entries.section('blog').level('1').limit(5) %}
          {% for entry in entries %}
          <a href="{{ 'https://aufbau-website.de/craft/web/blog/' ~ entry.slug }}"> {{ entry.title }}</a>
          <hr style="margin-top: .25rem; margin-bottom: .25rem;">
          {% endfor %}
        </div>

        <div id="copy" style="background-color: #f8f5f2; padding: 1.5rem;">
          <p> <strong> Kategorien </strong> </p>
          {% set allCategories = craft.categories().all() %}
          {% for category in allCategories %}
            <a href="{{ category.url }}">{{ category.title }}</a>
            <hr style="margin-top: .25rem; margin-bottom: .25rem;">
        {% endfor %}
      </div> <!-- Alle Kategorien anzeigen -->

      </div>
    </div>

  </div>
</div>



{% endblock %}
{# Alles, was bis zu dem endblock-Tag kommt, überschreibt den Block in layoutHome #}
