
{% extends "_layouts/layoutHome.html" %}

{% block titelfuerseo %}
{% set entry = craft.entries.section('suchmaschinenoptimierung').slug('einkaufen-und-spenden').one() %}
{{ entry.titelfeldFuerJens }}
{% endblock %}

{% block block1 %}

<style media="screen">
h2 {
  padding-bottom: 1.5rem;
}
</style>

<div class="container-fluid text-center" id="ersterContainer" style="padding-top: 7rem; padding-bottom: 3rem;">

  <nav aria-label="breadcrumb" id="info">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"> <a href="https://aufbau-website.de/craft/web/spenden">Spenden</a></li>
      <li class="breadcrumb-item"> Einkaufen und Spenden </li>
    </ol>
  </nav>

  <img class="img-fluid" id="welle" src="{{ craft.assets.filename('welle.png').one().getUrl() }}" style="position: absolute; left:0; width: 40%; z-index: -1;">
  <div class="container achterspaltenlayout text-center" style="padding-top: 0px; position: relative;">    {% set entry = craft.entries.section('spenden').slug('partnerland').one() %}
    <div>
      <h1 style="padding-bottom: 3rem;"> Geben Sie Menschen eine Chance!  </h1>
    </div>
  </div>
</div>

<div class="container-fluid no-padding" style="padding: 5rem 2rem; background-image: url({{ entry.bild.one().url }}); background-repeat: no-repeat; background-size: cover;">
  <div class="container zwoelferspaltenlayout" style="background-color: white; padding: 4rem 2rem;">

    {% set entry = craft.entries.section('spenden').slug('einkaufen-und-spenden').one() %}
    <div id="copy"> {{ entry.anleser }}</div>
  </div>

  <div class="container zwoelferspaltenlayout" style="background-color: white; padding: 0;">
    <img style="padding: 0;" class="img-fluid" src="{% if entry.bild.one() is not null %} {{ entry.bild.one().url }} {% endif %}" alt="schenken2">
  </div>
</div>


{% endblock %}
{# Alles, was bis zu dem endblock-Tag kommt, überschreibt den Block in layoutHome #}
