
{% extends "_layouts/layoutHome.html" %}

{% block titelfuerseo %}
{% set entry = craft.entries.section('suchmaschinenoptimierung').slug('einkaufen-und-spenden').one() %}
{{ entry.titelfeldFuerJens }}
{% endblock %}

{% block block1 %}

<div class="container-fluid text-center" id="ersterContainer" style="padding-top: 7rem; padding-bottom: 3rem;">

  <nav aria-label="breadcrumb" id="info">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"> <a href="https://aufbau-website.de/craft/web/spenden">Spenden</a></li>
      <li class="breadcrumb-item"> Einkaufen und Spenden </li>
    </ol>
  </nav>

  <div class="container achterspaltenlayout" style="padding-top:0px; background-image: url({{ craft.assets.filename('chance-ev-spenden-allgemein-icon.png').one().getUrl() }}); background-repeat: no-repeat;">
    {% set entry = craft.entries.section('spenden').slug('partnerland').one() %}
    <div>
      <h1 style="padding-bottom: 3rem;"> Geben Sie Menschen eine Chance!  </h1>
    </div>
  </div>
</div>

<div class="container-fluid no-padding" style="background-image: url({{ entry.bild.one().url }}); padding-bottom: 4rem; background-repeat: no-repeat; background-color: #f8f5f2;">
  <div class="container zwoelferspaltenlayout" style="background-color: white; padding: 0;">

    {% set entry = craft.entries.section('spenden').slug('einkaufen-und-spenden').one() %}
    <div id="copy" style="padding: 3rem;"> {{ entry.anleser }}</div>

    <div id="copy" style="padding: 3rem;"> {{ entry.zusatzfeld1 }} </div>

    <img style="padding: 0;" class="img-fluid" src="{% if entry.bild.one() is not null %} {{ entry.bild.one().url }} {% endif %}" alt="schenken2">
</div>
</div>


{% endblock %}
{# Alles, was bis zu dem endblock-Tag kommt, überschreibt den Block in layoutHome #}
