
{% extends "_layouts/layoutHome.html" %}

{% block titelfuerseo %}
{% set entry = craft.entries.section('suchmaschinenoptimierung').slug('spenden').one() %}
{{ entry.titelfeldFuerJens }}
{% endblock %}

{% block headerbildPosition1 %}

<div class="container-fluid no-padding" style="padding-top: 70px; background-color: #ee6e2d;">

</div>

  <img class="img-fluid w-100" src=" {{ craft.assets.filename('chance-spenden-header.jpg').one().getUrl() }} ">

{% endblock %}

{% block block1 %}
<style media="screen"> /*Anpassen der Spendennavbar an die Vorgabe */

.stylevorgaben2 .rectangle {
  height: 70px;
  background-color: #ed6e2c;
  }

.stylevorgaben2 #naviUeberschrift {
  font-size: 16px;
  line-height: 22px;
  color: white;
  font-family: 'source_sans_probold';
}

</style>


<div class="container-fluid text-center" id="ersterContainer" style="position: relative;">

  <nav aria-label="breadcrumb" id="info">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"> Spenden </li>
    </ol>
  </nav>
  <img class="img-fluid" id="welle" src="{{ craft.assets.filename('welle.png').one().getUrl() }}" style="position: absolute; left:0; width: 40%;">

  <div class="container achterspaltenlayout" style="padding-top:0px; position: relative;">
    {% set entry = craft.entries.section('spenden').slug('spende').one() %}
      <h1 style="padding-bottom: 30px;"> {{ entry.title }} </h1>
      <div id="anleser" style="padding-bottom: 0;"> {{ entry.anleser }}  </div>
      <a href="https://aufbau-website.de/craft/web/spenden/jetztspenden.html" class="btn btn-primary" role="button">Jetzt Spenden</a>
    </div>
  </div>



  <div class="container-fluid no-padding" style="background-image: url({{ entry.bild.one().url }});">
    {% set entry = craft.entries.section('spenden').slug('pate-werden').one() %}
    <div class="row">
      <div class="col-sm-1"> </div>
      <div class="col-sm-3">
      <img src="{{ entry.bild.one().url }}" style="float: right">
      </div>
      <div class="col-sm-6">
        <h3 style="color: white;"> {{ entry.title }} </h3>
        <span id="copy" style="color: white;"> {{ entry.anleser }} </span>
        <a style="margin-bottom: 3rem;" href="https://aufbau-website.de/craft/web/spenden/patewerden.html" class="btn btn-primary" role="button">Jetzt Pate werden</a>
      </div>
      <div class="col-sm-2"> </div>
    </div>
</div> <!-- container-fluid von jetzt pate werden -->

    <div class="container achterspaltenlayout text-center" style="padding-top: 3rem;">
        {% set entry = craft.entries.section('spenden').slug('eine-spende').one() %}
        <h2> {{ entry.title }} </h2>
        <div id="copy"> {{ entry.anleser }}</div>

        {% set akkordionBilder = craft.entries.section('spendenfelderUndSo').slug('akkordion-bilder').one() %}

        <div id="accordion">
          {% set entries = entry.children().all() %}
          {% if entries | length %}        {% set counter = 0 %}
          {% for entry in entries %} {% set counter = counter + 1 %}
          <div class="card" style=" border-color: white; border-top-color: #ed6e2c; border-width: 1px; margin-bottom: 20px;">
            <div class="card-header bg-white">
            <a class="collapsed card-link" data-toggle="collapse" href="#{{counter}}">
              <div class="row">
                <div class="col-md-11 col-10">
                  <h4> {{ entry.title }} </h4>
                </div>
                <div class="col-md-1 col-2">
                  <img src="{{ akkordionBilder.bild.one().url }}" style="height: 1rem; float: right; margin-top: .25rem;">
                </div>
              </div>
            </a>
              </div>
              <div id="{{counter}}" class="collapse" data-parent="#accordion">
                <div class="card-body" id="copy">
                  {{ entry.text }}
                </div>
              </div>
            </div>
            {% endfor %}
            {% endif %}
          </div>

      </div> <!-- Akkordion -->



<div class="container achterspaltenlayout" style="padding-top: 2rem;">
  {% set entry = craft.entries.section('spenden').slug('spendenmultiplikator').one() %}
  <div class="text-center">
    <h2> {{ entry.title }} </h2>
    <div id="copy"> {{ entry.anleser }}  </div>
  </div>
    <div class="card-deck">
    <div class="card" style="background-color: #ffffff;">
      <div class="wrapper" style="background-image: url({{ entry.bild.one().url }});">
      <img class="card-img-top mx-auto d-block" style="max-height: 160px; max-width: 160px; margin-top: 2rem; margin-bottom: 2rem;"
       src="  {% if entry.bild2.one() is not null %}  {{ entry.bild2.one().getUrl() }}  {% endif %}" alt="Card image">
     </div>
     <div class="card-body">
      <h3> {{ entry.text }} </h3>
      <div id="copy"> {{ entry.zusatzfeld1 }}  </div>
    </div>
    </div>

    <div class="card" style="background-color: #ffffff;">
      <div class="wrapper" style="background-image: url({{ entry.bild.one().url }});">
      <img class="card-img-top mx-auto d-block" style="max-height: 160px; max-width: 160px; margin-top: 2rem; margin-bottom: 2rem;"
       src="  {% if entry.bild3.one() is not null %}  {{ entry.bild3.one().getUrl() }}  {% endif %}" alt="Card image">
     </div>
     <div class="card-body">
      <h3> {{ entry.zusatzfeld2 }} </h3>
      <div id="copy"> {{ entry.zusatzfeld3 }}  </div>
    </div>
    </div>
  </div>
</div> <!-- Die zwei Boxen mit Spenden/Schenken & Einkaufen/Spenden -->


{% endblock %}
