
{% extends "_layouts/layoutHome.html" %}

{% block titelfuerseo %}
{% set entry = craft.entries.section('suchmaschinenoptimierung').slug('spenden').one() %}
{{ entry.titelfeldFuerJens }}
{% endblock %}

{% block headerbildPosition1 %}

<div class="container-fluid no-padding" style="padding-top: 4rem; background-color: #ee6e2d;">

</div>

  <img class="img-fluid" style="padding-bottom: 1rem;" id="headerbild" src=" {{ craft.assets.filename('chance-spenden-header.jpg').one().getUrl() }} ">

{% endblock %}

{% block block1 %}
<style media="screen"> /*Anpassen der Spendennavbar an die Vorgabe */

 .rectangle {
  height: 70px;
  background-color: #ed6e2c;
  }

.navbar-light .navbar-nav .nav-link {
  color: white;
}
h3 p {
  margin-bottom: 0;
}
.navbar-light .navbar-nav .nav-link.active { color: #0062ae; }
</style>


<div class="container-fluid text-center" id="ersterContainer" style="position: relative;">

  <nav aria-label="breadcrumb" id="info">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"> Spenden </li>
    </ol>
  </nav>
  <img class="img-fluid" id="welle" src="{{ craft.assets.filename('welle.png').one().getUrl() }}" style="position: absolute; left:0; width: 40%;">

  <div class="container achterspaltenlayout" style="padding-top:0px; padding-bottom: 5rem; position: relative;">
    {% set entry = craft.entries.section('spenden').slug('spende').one() %}
      <h1 style="padding-bottom: 2rem;"> {{ entry.title }} </h1>
      <div id="anleser"> {{ entry.anleser }}  </div>
      <a href="https://aufbau-website.de/craft/web/spenden/jetztspenden.html" class="btn btn-primary" role="button">Jetzt Spenden</a>
    </div>
  </div>



  <div class="container-fluid" style="padding: 3rem 0; background-image: url({{ entry.bild.one().url }});">
    {% set entry = craft.entries.section('spenden').slug('pate-werden').one() %}
    <div class="row">
      <div class="col-sm-1"> </div>
      <div class="col-sm-3">
      <img src="{{ entry.bild.one().url }}" style="float: right">
      </div>
      <div class="col-sm-6">
        <h3 style="color: white;"> {{ entry.title }} </h3>
        <span id="copy" style="color: white;"> {{ entry.anleser }} </span>
        <a href="https://aufbau-website.de/craft/web/spenden/patewerden.html" class="btn btn-primary" role="button">Jetzt Pate werden</a>
      </div>
      <div class="col-sm-2"> </div>
    </div>
</div> <!-- container-fluid von jetzt pate werden -->

    <div class="container achterspaltenlayout" style="padding-top: 5rem;">
        {% set entry = craft.entries.section('spenden').slug('eine-spende').one() %}
        <div class="text-center">
          <h2 style="padding-bottom: 1.5rem;"> {{ entry.title }} </h2>
          <div id="anleser"> {{ entry.anleser }}</div>
        </div>
        {% set akkordionBilder = craft.entries.section('spendenfelderUndSo').slug('akkordion-bilder').one() %}
        {% set entries = entry.children().all() %}
        {% include '_layouts/codeschnipsel/accordion' %}

      </div> <!-- Akkordion -->



<div class="container achterspaltenlayout" style="padding-top: 2rem; padding-bottom: 5rem;">
  {% set entry = craft.entries.section('spenden').slug('spendenmultiplikator').one() %}
  <div class="text-center" style="padding-bottom: 2rem;">
    <h2 style="padding-bottom: 1.5rem;"> {{ entry.title }} </h2>
    <div id="anleser"> {{ entry.anleser }}  </div>
  </div>
    <div class="card-deck">
    <div class="card" style="background-color: #ffffff;">
      <div class="wrapper" style="background-image: url({{ entry.bild.one().url }});">
        <a href="https://aufbau-website.de/craft/web/spenden/schenkenundspenden.html">
      <img class="card-img-top mx-auto d-block" style="max-height: 160px; max-width: 160px; margin-top: 2rem; margin-bottom: 2rem;"
       src="  {% if entry.bild2.one() is not null %}  {{ entry.bild2.one().getUrl() }}  {% endif %}" alt="Card image">
     </a>
     </div>
     <div class="card-body">
      <h3> {{ entry.text }} </h3>
      <div id="copy"> {{ entry.zusatzfeld1 }}  </div>
    </div>
    </div>

    <div class="card" style="background-color: #ffffff;">
      <div class="wrapper" style="background-image: url({{ entry.bild.one().url }});">
        <a href="https://aufbau-website.de/craft/web/spenden/einkaufenundspenden">
      <img class="card-img-top mx-auto d-block" style="max-height: 160px; max-width: 160px; margin-top: 2rem; margin-bottom: 2rem;"
       src="  {% if entry.bild3.one() is not null %}  {{ entry.bild3.one().getUrl() }}  {% endif %}" alt="Card image">
     </a>
     </div>
     <div class="card-body">
      <h3> {{ entry.zusatzfeld2 }} </h3>
      <div id="copy"> {{ entry.zusatzfeld3 }}  </div>
    </div>
    </div>
  </div>
</div> <!-- Die zwei Boxen mit Spenden/Schenken & Einkaufen/Spenden -->


{% endblock %}
