
{% extends "_layouts/layoutHome.html" %}

{% block titelfuerseo %}
{% set entry = craft.entries.section('suchmaschinenoptimierung').slug('pate-werden').one() %}
{{ entry.titelfeldFuerJens }}
{% endblock %}

{% block block1 %}

<div class="container-fluid text-center" id="ersterContainer" style="padding-top: 8rem; padding-bottom: 3rem;">

  <nav aria-label="breadcrumb" id="info">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"> <a href="https://aufbau-website.de/craft/web/spenden">Spenden</a></li>
      <li class="breadcrumb-item"> Pate werden </li>
    </ol>
  </nav>

  <img class="img-fluid" id="welle" src="{{ craft.assets.filename('welle.png').one().getUrl() }}" style="position: absolute; left:0; width: 40%;">

  <div class="container achterspaltenlayout" style="padding-top:0px; padding-bottom: 5rem; position: relative;">
    {% set entry = craft.entries.section('spenden').slug('partnerland').one() %}
    <div>
      <h1 style="padding-bottom: 2rem;"> {{ entry.anleser }}  </h1>
    </div>
  </div>
</div>

<div class="container-fluid no-padding" style="background-image: url({{ entry.bild.one().url }}); padding-bottom: 5rem; padding-top: 5rem; background-repeat: no-repeat; background-color: #f8f5f2;">
  <div class="container" style="max-width: 1280px;">
    <div class="row">
      <div class="col-md-2">
        <ul class="nav nav-pills flex-column" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active tab land" style="padding: 1rem;" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Länderpate</a>
          </li>
          <li class="nav-item">
            <a class="nav-link tab dorf" style="padding: 1rem;" id="pills-profile-tab" data-toggle="pill" href="#pills-profile1" role="tab" aria-controls="pills-profile" aria-selected="false">Dorfpate</a>
          </li>
          <li class="nav-item">
            <a class="nav-link tab kind" style="padding: 1rem;" id="pills-profile-tab" data-toggle="pill" href="#pills-profile2" role="tab" aria-controls="pills-profile" aria-selected="false">Kinderpate plus</a>
          </li>
          <li class="nav-item">
            <a class="nav-link tab wald" style="padding: 1rem;" id="pills-profile-tab" data-toggle="pill" href="#pills-profile3" role="tab" aria-controls="pills-profile" aria-selected="false">Waldpate</a>
          </li>
        </ul>
      </div>

      <div class="col-md-10" style="background-color: white; padding-right: 0; padding-left: 0;"> <!--Spaltenlayout, um die jetzt-spenden spalte mit 4 spalten dann zu integrieren -->
          <div class="tab-content" id="pills-tabContent"> <!-- tab-content fuer alle Pills -->

            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
              {% set entry = craft.entries.section('spenden').slug('partnerland').one() %}
              <div class="row">
                <div class="col-md-9" style="padding: 2rem 3rem;">
                  <h2 style="padding-bottom: 0; margin-bottom: 0;"> {{ entry.title }} </h2>
                  <div id="copy"> {{ entry.text }}  </div>
                </div>
                  <div class="col-md-3" style="background-color: white; padding-top: 3rem;"> <!-- der Spendenaufruf in eigener Spalte -->
                    <span id="copy"> <strong> Werden Sie: </strong> </span>
                    <div class="row">
                      <div class="col-12">
                        <a style="margin: 4%; margin-left: 0;" href="https://aufbau-website.de/craft/web/spenden/spende.html?spendenart=Peru" class="btn btn-primary" role="button">Länderpate in Peru</a>
                      </div>
                      <div class="col-12">
                        <a style="margin: 4%; margin-left: 0;" href="https://aufbau-website.de/craft/web/spenden/spende.html?spendenart=Kenia" class="btn btn-primary" role="button">Länderpate in Kenia</a>
                      </div>
                    </div>
                    <div id="info" style="padding-top: 10%"> {{ entry.zusatzfeld2 }}</div>
                  </div>
                </div>
                <img class="img-fluid" src="  {% if entry.bild2.one() is not null %}  {{ entry.bild2.one().getUrl() }}  {% endif %}">
            </div>
            <div class="tab-pane fade" id="pills-profile1" role="tabpanel" aria-labelledby="pills-profile-tab">
              {% set entry = craft.entries.section('spenden').slug('partnerdorf').one() %}
              <div class="row">
                <div class="col-md-9" style="padding: 2rem 3rem;">
                  <h2 style="padding-bottom: 0; margin-bottom: 0;"> {{ entry.title }} </h2>
                  <div id="copy"> {{ entry.anleser }}  </div>
                </div>
                  {% set entry = craft.entries.section('spenden').slug('partnerland').one() %}
                  <div class="col-md-3" style="background-color: white; padding-top: 3rem;"> <!-- der Spendenaufruf in eigener Spalte -->
                    <span id="copy"> <strong> Werden Sie: </strong> </span>
                    <div class="row">
                      <div class="col-12">
                        <a style="margin: 4%; margin-left: 0;" href="https://aufbau-website.de/craft/web/spenden/spende.html?spendenart=D%C3%B6rfer%20Peru" class="btn btn-primary" role="button">Dorfpate in Peru</a>
                      </div>
                      <div class="col-12">
                        <a style="margin: 4%; margin-left: 0;" href="https://aufbau-website.de/craft/web/spenden/spende.html?spendenart=D%C3%B6rfer%20Kenia" class="btn btn-primary" role="button">Dorfpate in Kenia</a>
                      </div>
                    </div>
                    <div id="info" style="padding-top: 10%"> {{ entry.zusatzfeld2 }}</div>
                  </div>
              </div>
              {% set entry = craft.entries.section('spenden').slug('partnerdorf').one() %}
              <img class="img-fluid" src="  {% if entry.bild2.one() is not null %}  {{ entry.bild2.one().getUrl() }}  {% endif %}">
            </div>
            {% set entry = craft.entries.section('spenden').slug('partnerkind').one() %}
            <div class="tab-pane fade" id="pills-profile2" role="tabpanel" aria-labelledby="pills-profile-tab">
              <div class="row">
                <div class="col-md-9" style="padding: 2rem 3rem;">
                  <h2 style="padding-bottom: 0; margin-bottom: 0;"> {{ entry.title }} </h2>
                  <div id="copy"> {{ entry.anleser }}  </div>
                </div>
                  <div class="col-md-3" style="background-color: white; padding-top: 3rem;"> <!-- der Spendenaufruf in eigener Spalte -->
                    {% set entry = craft.entries.section('spenden').slug('partnerland').one() %}
                    <span id="copy"> <strong> Werden Sie: </strong> </span>
                    <div class="row">
                      <div class="col-12">
                        <a style="margin: 4%; margin-left: 0;" href="https://aufbau-website.de/craft/web/spenden/spende.html?spendenart=Kinderpate%20Peru*" class="btn btn-primary" role="button">Kinderpate in Peru</a>
                      </div>
                      <div class="col-12">
                        <a style="margin: 4%; margin-left: 0;" href="https://aufbau-website.de/craft/web/spenden/spende.html?spendenart=Kinderpate%20Kenia*" class="btn btn-primary" role="button">Kinderpate in Kenia</a>
                      </div>
                    </div>
                    <div id="info" style="padding-top: 10%"> {{ entry.zusatzfeld2 }}</div>
                  </div>
                  {% set entry = craft.entries.section('spenden').slug('partnerkind').one() %}
              </div>
              <img class="img-fluid" src="{% if entry.bild2.one() is not null %}  {{ entry.bild2.one().getUrl() }}  {% endif %}">
            </div>
            {% set entry = craft.entries.section('spenden').slug('partnerwald').one() %}
            <div class="tab-pane fade" id="pills-profile3" role="tabpanel" aria-labelledby="pills-profile-tab">
              <div class="row">
                <div class="col-md-9" style="padding: 2rem 3rem;">
                  <h2 style="padding-bottom: 0; margin-bottom: 0;"> {{ entry.title }} </h2>
                  <div id="copy"> {{ entry.anleser }}  </div>
                </div>
                  <div class="col-md-3" style="background-color: white; padding-top: 3rem;"> <!-- der Spendenaufruf in eigener Spalte -->
                    {% set entry = craft.entries.section('spenden').slug('partnerland').one() %}
                    <span id="copy"> <strong> Werden Sie: </strong> </span>
                    <div class="row">
                      <div class="col-12">
                        <a style="margin: 4%; margin-left: 0;" href="https://aufbau-website.de/craft/web/spenden/spende.html?spendenart=Naturschutz%20Peru" class="btn btn-primary" role="button">Waldpate in Peru</a>
                      </div>
                    </div>
                    <div id="info" style="padding-top: 10%"> {{ entry.zusatzfeld2 }}</div>
                  </div>
                  {% set entry = craft.entries.section('spenden').slug('partnerwald').one() %}
              </div>
              <img class="img-fluid" src="  {% if entry.bild2.one() is not null %}  {{ entry.bild2.one().getUrl() }}  {% endif %}">
            </div>
          </div> <!-- Die Tabs mit den verschiedenen Auswirkungen der Spenden, wechselbar durch klicken -->
      </div>
  </div>
</div>
</div>

<style media="screen">
  .img-fluid {
    padding-bottom: 0;
  }
</style>

<script type="text/javascript">
var url = window.location.href;
if (url.includes('#')) {
    url = url.replace("https://aufbau-website.de/craft/web/spenden/patewerden.html#", "");
    url = '.' + url;
    $('.nav-link.tab').removeClass('active');
    $(url).addClass('active');  
  }
</script>

{% endblock %}
{# Alles, was bis zu dem endblock-Tag kommt, überschreibt den Block in layoutHome #}
