
{% extends "_layouts/layoutHome.html" %}

{% block titelfuerseo %}
{% set entry = craft.entries.section('suchmaschinenoptimierung').slug('schenken-und-spenden').one() %}
{{ entry.titelfeldFuerJens }}
{% endblock %}

{% block block1 %}

<style media="screen">
  h2 {
    padding-bottom: 1.5rem;
  }
</style>

<div class="container-fluid text-center" id="ersterContainer" style="padding-top: 8rem; padding-bottom: 3rem;">

  <nav aria-label="breadcrumb" id="info">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"> <a href="https://aufbau-website.de/craft/web/spenden">Spenden</a></li>
      <li class="breadcrumb-item"> Schenken und Spenden </li>
    </ol>
  </nav>

  <img class="img-fluid" id="welle" src="{{ craft.assets.filename('welle.png').one().getUrl() }}" style="position: absolute; left:0; width: 40%;">

  <div class="container achterspaltenlayout text-center" style="padding-top: 0px; position: relative;">
  {% set entry = craft.entries.section('spenden').slug('partnerland').one() %}
    <div>
      <h1 style="padding-bottom: 3rem;"> Geben Sie Menschen eine Chance!  </h1>
    </div>
  </div>
</div>

<div class="container-fluid no-padding" style="padding: 5rem 2rem; background-image: url({{ entry.bild.one().url }}); background-repeat: no-repeat;">
  <div class="container zwoelferspaltenlayout" style="background-color: white; padding: 4rem 3rem;">

    {% set entry = craft.entries.section('spenden').slug('spenden-und-schenken').one() %}
    <div id="copy"> {{ entry.text }}</div>

    <div class="row" style="padding: 1rem 0;">
      <div class="col-sm-1"> </div>
      <div class="col-sm-5"> <img class="img-fluid" style="padding-bottom: 0;" src=" {% if entry.bild.one() is not null %} {{ entry.bild.one().url }} {% endif %}" alt="schenken1">   </div>
      <div class="col-sm-5"> <img class="img-fluid" style="padding-bottom: 0;" src=" {% if entry.bild2.one() is not null %} {{ entry.bild2.one().url }} {% endif %}" alt="schenken2">   </div>
    </div>

    <div id="copy"> {{ entry.zusatzfeld1 }}     </div>
    <div id="copy" style="padding-top: 1rem;"> {{ entry.zusatzfeld2 }}     </div>
  </div>

  <div class="container zwoelferspaltenlayout" style="background-color: white; padding: 0;">
    <img class="img-fluid" style="padding-top: 0; padding-bottom: 0;" src="{% if entry.bild3.one() is not null %} {{ entry.bild3.one().url }} {% endif %}" alt="schenken2">
</div>
</div>


{% endblock %}
{# Alles, was bis zu dem endblock-Tag kommt, überschreibt den Block in layoutHome #}
