{% extends "_layouts/layoutHome.html" %}

{% block block1 %}

<div class="container-fluid text-center" id="ersterContainer" style="padding-top: 7rem; padding-bottom: 3rem; position: relative;">

  <nav aria-label="breadcrumb" id="info">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"> <a href="https://aufbau-website.de/craft/web/spenden/jetztspenden.html">Spenden</a></li>
      <li class="breadcrumb-item"> Regelmäßig Spenden </li>
    </ol>
  </nav>

  <img class="img-fluid" id="welle" src="{{ craft.assets.filename('welle.png').one().getUrl() }}" style="position: absolute; left:0; width: 40%;">

  <div class="container achterspaltenlayout text-center" style="padding-top: 0px; position: relative;">    {% set entry = craft.entries.section('spenden').slug('menschen-chance3').one() %}
      <h1 style="padding-bottom: 2rem;"> {{ entry.title }}  </h1>
    </div>
</div>


<div class="modal fade" id="myModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal body -->
      <div class="modal-body" style="padding: 2rem;">
        {% set entry = craft.entries.section('spendenfelderUndSo').slug('lastschrift').one() %}
        {{ entry.text }}
        <div id="info"> {{ entry.textfeld }} </div>
      </div>

    </div>
  </div>
</div>


{% set entry = craft.entries.section('spenden').slug('partnerland').one() %}

<div class="container-fluid no-padding" id="eingabeFelder" style="padding: 5rem 2rem; background-image: url({{ entry.bild.one().url }}); background-repeat: no-repeat;">

  <div class="container zwoelferspaltenlayout" style="background-color: white; padding: 4rem 2rem;">
    {% set entry = craft.entries.section('spenden').slug('menschen-chance3').one() %}
    <div id="copy" style="padding-bottom: 2rem;">  <h2 style="padding-bottom: 1.5rem;"> SEPA-Lastschriftmandat </h2>
    Eine regelmäßige Spende können Sie durch das Ausfüllen des folgenden Formulars bequem online einrichten. Alternativ können Sie das <a target="_blank" href="{{entry.bild.one().url}}">SEPA-Lastschriftmandat herunterladen</a> und eigenständig ausfüllen oder aber Sie richten einen Dauerauftrag ein.
  </div>

    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="zahlungsermaechtigung" name="Ermaechtigung" required>
      <label class="custom-control-label" for="zahlungsermaechtigung"> <p>Hiermit ermächtige(n) ich/wir Chance e.V. Zahlungen von meinem/unserem Konto mittels Lastschrift einzuziehen. Zugleich weise(n) ich/wir mein/unser Kreditinstitut an, die von Chance e.V. auf mein/unser Konto gezogenen Lastschriften einzulösen. <br> Hier können Sie die <a href="#myModal" data-toggle="modal" data-target="#myModal">Termine der Einzüge unserer SEPA-Lastschriften</a> einsehen.</p>
 </label>
    </div>
    <p id="fehlermeldungErmaechtigung"> </p>

    <p> Intervall: </p>

    <!-- Default inline 1-->
    <div class="custom-control custom-radio custom-control-inline">
      <input type="radio" value="monatlich" class="custom-control-input intervall" id="defaultInline1" name="intervall">
      <label class="custom-control-label" for="defaultInline1">monatlich</label>
    </div>

    <!-- Default inline 2-->
    <div class="custom-control custom-radio custom-control-inline">
      <input type="radio" value="quartalsweise" class="custom-control-input intervall" id="defaultInline2" name="intervall">
      <label class="custom-control-label" for="defaultInline2">quartalsweise</label>
    </div>

    <!-- Default inline 3-->
    <div class="custom-control custom-radio custom-control-inline">
      <input type="radio" value="halbjährlich" class="custom-control-input intervall" id="defaultInline3" name="intervall">
      <label class="custom-control-label" for="defaultInline3">halbjährlich</label>
    </div>

    <!-- Default inline 4-->
    <div class="custom-control custom-radio custom-control-inline">
      <input type="radio" value="jährlich" class="custom-control-input intervall" id="defaultInline4" name="intervall">
      <label class="custom-control-label" for="defaultInline4">jährlich</label>
    </div>
    <p id="fehlermeldungCheckbox"> </p>

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group" style="padding-top: 3rem;">
          <label for="sel1" id="copy">Verwendungszweck</label>
          <select class="form-control" id="sel1" name="zweck" style="height: auto;">
            <option>Allgemein Spenden</option>
            <option>Peru</option>
            <option>Kenia</option>
            <option>Dorfpate Peru</option>
            <option>Dorfpate Kenia</option>
            <option>Naturschutz Peru</option>
            <option>Kinderpate Peru</option>
            <option>Kinderpate Kenia</option>
          </select>
        </div>
      </div>

      {% include '_layouts/codeschnipsel/spendenjs' %}

      <div class="col-sm-6">  </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="usr">Name der Bank</label>
          <input type="text" name="bank" id="bank" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="usr">Betrag in Euro</label>
          <input type="number" name="betrag" id="betrag" class="form-control" placeholder="" required>
        </div>
        <div class="form-group">
          <label for="usr">IBAN</label>
          <input type="text" name="iban" id="iban" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="usr">BIC</label>
          <input type="text" name="bic" id="bic" class="form-control" required>
        </div>

      </div>

      <div class="col-sm-6">

        <div class="form-group">
          <label for="usr">Kontoinhaber (Vorname, Name)</label>
          <input type="text" name="inhaber" id="inhaber" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="usr">Straße, Hausnummer</label>
          <input type="text" name="adresse" id="adresse" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="usr">PLZ, Ort</label>
          <input type="text" name="plz" id="plz" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="usr">E-Mail-Adresse (freiwillig)</label>
          <input type="email" name="email" id="email" class="form-control">
        </div>
      </div>
    </div>

    <p> <h3>Achtung, sind Sie mit beidem einverstanden? </h3> </p>

      <div class="custom-control custom-checkbox" style="padding-bottom: 1rem;">
        <input type="checkbox" class="custom-control-input" id="customCheck2" name="newsletter">
        <label class="custom-control-label" for="customCheck2">Ja, ich möchte darüber informiert bleiben, was mit meinen Spenden geschieht und fordere den Newsletter von Chance e.V. an. Per E-Mail einmal im Monat. Per Brief zweimal im Jahr.</label>
        </div>

        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="datenschutz" name="datenschutz" required>
          <label class="custom-control-label" for="datenschutz">Ich bin damit einverstanden, dass Chance e. V. meine Daten sicher speichert <a href="https://aufbau-website.de/craft/web/fuerSie/rechtliches/datenschutz">(Infos zum Datenschutz)</a>
            und diese nicht an Dritte weiter gibt. Ohne diese Daten können wir Ihnen keine Zuwendungsbescheinigung zusenden.</label>
        </div>
          <p id="fehlermeldungDatenschutz"> </p>
            <button onclick="myFunction()" class="btn btn-primary float-right">Weiter</button>

      </div>
    </div> <!-- Hintergrundcontainer für Eingabe der Daten -->

    <div class="container-fluid no-padding" id="Kontrollansicht" style="display: none;">


      {% macro errorList(errors) %}
      {% if errors %}
      <ul class="errors">
        {% for error in errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      {% endmacro %}

      {% from _self import errorList %}

      <div id="craftFormulare" style="display: none;">

        <form method="post" action="" accept-charset="UTF-8">
          {{ csrfInput() }}
          <input type="hidden" name="action" value="contact-form/send">
          {{ redirectInput('kontakt/dankespende') }}

          <label style="margin-bottom: 0;" for="inhaberCraft">Vorname*</label>
          <input id="inhaberCraft" required class="form-control" type="text" name="message[Inhaber]" value="">

          <label style="margin-bottom: 0;" for="plzCraft">PLZ*</label>
          <input id="plzCraft" required class="form-control" type="text" name="message[PLZ]" value="">

          <label style="margin-bottom: 0;" for="bankCraft">Name der Bank*</label>
          <input id="bankCraft" required class="form-control" type="text" name="message[Name der Bank]" value="">

          <label style="margin-bottom: 0;" for="betragCraft">Betrag*</label>
          <input id="betragCraft" required class="form-control" type="text" name="message[Betrag]" value="">

          <label style="margin-bottom: 0;" for="zweckCraft">Verwendungszweck*</label>
          <input id="zweckCraft" required class="form-control" type="text" name="message[Verwendungszweck]" value="">

          <label style="margin-bottom: 0;" for="ibanCraft">IBAN*</label>
          <input id="ibanCraft" required class="form-control" type="text" name="message[IBAN]" value="">

          <label style="margin-bottom: 0;" for="bicCraft">BIC*</label>
          <input id="bicCraft" required class="form-control" type="text" name="message[BIC]" value="">

          <label style="margin-bottom: 0;" for="intervallCraft">Intervall*</label>
          <input id="intervallCraft" required class="form-control" type="text" name="message[Intervall]" value="">

          <label style="margin-bottom: 0;" for="from-email">E-Mail*</label>
          <input id="from-email" class="form-control" type="email" name="fromEmail" placeholder="name@example.com" value="{{ message.fromEmail ?? '' }}">
          {{ message is defined and message ? errorList(message.getErrors('fromEmail')) }}

          <label style="margin-bottom: 0;" for="message"> Kommentar </label>
          <textarea rows="5" cols="30" class="form-control" id="message" name="message[Kommentar]"> </textarea>
        </div>

        <div class="container zwoelferspaltenlayout" style="padding-bottom: 5rem;">  <!-- Der Container wo der Text automatisch reingerendert wird -->

          <h2 style="padding-bottom: 1.5rem;"> Auftrag prüfen und absenden</h2>
          <p id="copy"> Ich/wir ermächtige(n) Chance e.V. Zahlungen von meinem/unserem Konto mittels Lastschrift einzuziehen. Zugleich weise(n) ich/ wir mein/unser Kreditinstitut an,
            die von Chance e.V. auf mein/unser Konto gezogenen Lastschriften einzulösen. </p>

            <div class="row" style="padding-bottom: 2rem;">
              <div class="col-3"> Kontoinhaber   </div> <div class="col-9">  <span id="inhaberK"></span>  </div>

              <div class="col-3"> Straße, Hausnummer   </div> <div class="col-9">  <span id="adresseK"></span>  </div>

              <div class="col-3"> PLZ, Ort   </div> <div class="col-9">  <span id="plzK"></span>  </div>

              <div class="col-3"> Name der Bank   </div> <div class="col-9">  <span id="bankK"></span>  </div>

              <div class="col-3"> Betrag   </div> <div class="col-9">  <span id="betragK"></span>  </div>

              <div class="col-3"> Verwendungszweck   </div> <div class="col-9">  <span id="verwendungszweckK"></span>  </div> <!-- Selektor 1 ist der Verwendungszweck -->

              <div class="col-3"> IBAN   </div> <div class="col-9">  <span id="ibanK"></span>  </div>

              <div class="col-3"> BIC   </div> <div class="col-9">  <span id="bicK"></span>  </div>

              <div class="col-3"> Intervall   </div> <div class="col-9">  <span id="sel1K"></span>  </div>

              <div class="col-3"> E-Mail   </div> <div class="col-9">  <span id="emailK"></span>  </div>
            </div>

            <div class="row">
              <div class="col-4">
                <button type="button" onclick="bearbeiten()" class="btn btn-primary">Bearbeiten</button>
              </div>
              <div class="col-5">
                <button type="button" onclick="pdfErstellen()" class="btn btn-primary">Ausdrucken</button>
              </div>
              <div class="col-3">
                <input type="submit" value="Senden" class="btn btn-primary">
              </div>
            </div>
          </form>
        </div> <!-- Die Kontrollansicht mit den Feldern -->

      </div> <!-- Kontrollansicht - Hintergrundcontainer -->
      <!-- Einbinden der PDF-Erstell-Bibliothek -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.debug.js" integrity="sha384-CchuzHs077vGtfhGYl9Qtc7Vx64rXBXdIAZIPbItbNyWIRTdG0oYAqki3Ry13Yzu" crossorigin="anonymous"></script>


      {% endblock %}
      {# Alles, was bis zu dem endblock-Tag kommt, überschreibt den Block in layoutHome #}
