<style media="screen">
#vorschau  .card-img-top {
    border-radius: 0;
    overflow: hidden;
    height: 200px;
  }
  #vorschau p {
    margin-bottom: 0;
}
</style>

<script>

$(function() {
    mehrLadenAjax();
});

{% set entries = craft.entries.section('blog').level('1').all() %}

var eintraege = [];
{% for entry in entries %} //Alle blogeintrage werden in ein Feld kopiert aus Craft
  var eintrag = { slug: "{{entry.slug}}", blogOderProjekt: "blog", title: "{{entry.title}}", anleser: "{{entry.anleser}}", bild: "{{entry.bild.one().url}}" };
  eintraege.push(eintrag);
{% endfor %}

{% set entries = craft.entries.section('projektberichte').all() %}

{% for entry in entries %} //Alle projektberichte werden in ein Feld kopiert aus Craft
  var eintrag = { slug: "{{entry.slug}}", blogOderProjekt: "projekt", title: "{{entry.title}}", anleser: "{{entry.anleser}}", bild: "{{entry.bild.one().url}}" };
  eintraege.push(eintrag);
{% endfor %}

eintraege = shuffle(eintraege);

function mehrLadenAjax() {

  var durchlaeufe = 0;
  var button;
  if (eintraege.length > 3) { durchlaeufe = 3;  } else { durchlaeufe = eintraege.length } //Damit feld nicht überlauft

  for (i = 0; i < durchlaeufe; i++) {
    if(eintraege[i].blogOderProjekt == 'blog') {
    var link = "https://aufbau-website.de/craft/web/blog/" + eintraege[i].slug;
    button = "Blogeintrag";
  } else {
    var link = "https://aufbau-website.de/craft/web/projekte/projektberichte/" + eintraege[i].slug;
    button = "Projektbericht";
  }
    $("#vorschau").append("<div class=\"col-md-4\" style=\"padding: 20px 15px;\"> <div class=\"card border-light h-100\"> <a href=\"" + link  + "\"> <img style=\"border-radius: 0;\" class=\"card-img-top\" src=" + eintraege[i].bild + "> <button class=\"btn btn-primary reiter\" role=\"button\">" + button + "</button> </a> <div class=\"card-body\" style=\"padding-top: 0;\"> <h3>" + eintraege[i].title + "</h3> <div id=\"copy\">" + eintraege[i].anleser + "<a href=\"" + link  + "\"> Weiterlesen > </a> </div> </div> </div>");
}
for (i = 0; i < durchlaeufe; i++) { //Loeschen der ersten drei angezeigten Elemente
  eintraege.shift();
}
if (eintraege.length == 0) {
  $("#Laden").css("visibility", "hidden");
  $("#Laden").css("display", "none");
}
}

function shuffle(array) {
  var currentIndex = array.length, temporaryValue, randomIndex;

  // While there remain elements to shuffle...
  while (0 !== currentIndex) {

    // Pick a remaining element...
    randomIndex = Math.floor(Math.random() * currentIndex);
    currentIndex -= 1;

    // And swap it with the current element.
    temporaryValue = array[currentIndex];
    array[currentIndex] = array[randomIndex];
    array[randomIndex] = temporaryValue;
  }

  return array;
}

</script>
