<script> //Script um das passende Spendenfeld auszuwählen
$(function() {
var welcheSpende =  '{{ craft.request.getQueryStringWithoutPath() }}';
welcheSpende = welcheSpende.replace('spendenart=', '');
welcheSpende = welcheSpende.replace('%20', ' ');       welcheSpende = welcheSpende.replace('*', '');

if (welcheSpende.match(/Allgemein/)) {
  $('#sel1').val('Allgemein Spenden'); }

if (welcheSpende == 'Peru') {
    $('#sel1').val('Peru'); }

if (welcheSpende == 'Kenia') {
    $('#sel1').val('Kenia'); }

if (welcheSpende.match(/rfer Peru/)) {
    $('#sel1').val('Dorfpate Peru'); }

if (welcheSpende.match(/rfer Kenia/)) {
    $('#sel1').val('Dorfpate Kenia'); }

if (welcheSpende.match(/Naturschutz Peru/)) {
  $('#sel1').val('Naturschutz Peru');
  $("#betrag").attr("placeholder", "mind. 5 Euro/Monat");
}

if (welcheSpende.match(/Kinderpate Peru/)) {
  $('#sel1').val('Kinderpate Peru');
  $("#betrag").attr("placeholder", "mind. 35 Euro/Monat");
}

if (welcheSpende.match(/Kinderpate Kenia/)) {
  $('#sel1').val('Kinderpate Kenia');
  $("#betrag").attr("placeholder", "mind. 35 Euro/Monat");
 }
});

 $( "#sel1" ).change(function() {
   platzhalterAnpasen();
});

function platzhalterAnpasen () {
  if ($('#sel1').val() == 'Kinderpate Peru') {
       $("#betrag").attr("placeholder", "mind. 35 Euro/Monat");
  }
  if ($('#sel1').val() == "Kinderpate Kenia") {
       $("#betrag").attr("placeholder", "mind. 35 Euro/Monat");
  }
  if ($('#sel1').val() == "Naturschutz Peru") {
       $("#betrag").attr("placeholder", "mind. 5 Euro/Monat");
  }
}
</script>

<!--Styleanweisungen für das Modal -->
<style media="screen">
  #myModal h2 {
    padding-bottom: 1rem;
  }
  #myModal h4 {
    margin-bottom: 0;
  }
  .modal.fade.show {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
  }
  .form-control {
    border-radius: 0;
    border-color: transparent;
    padding: .75rem;
  }
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
</style>
