
{% extends "_layouts/layoutHome.html" %}

{% block titelfuerseo %}
{% set entry = craft.entries.section('suchmaschinenoptimierung').slug('themen').one() %}
{{ entry.titelfeldFuerJens }}
{% endblock %}

{% block headerZusatz %}
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"/>
{% endblock %}

{% block block1 %}

<div class="container-fluid text-center" id="ersterContainer" style="padding-top: 7rem; position: relative;">

  <nav aria-label="breadcrumb" id="info">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"> <a href="https://aufbau-website.de/craft/web/projekte">Projekte</a></li>
      <li class="breadcrumb-item"> Themen </li>
    </ol>
  </nav>

  <img class="img-fluid" id="welle" src="{{ craft.assets.filename('welle.png').one().getUrl() }}" style="position: absolute; left:0; width: 40%;">

  <div class="container achterspaltenlayout" style="position: relative;">
    <h1 style="padding-bottom: 2rem;"> Themen, die uns bewegen  </h1>
    <p id="anleser"> Diese Themenbereiche sind für unsere Arbeit von besonderer Bedeutung. </p>
  </div>
</div>

<div class="container-fluid no-padding" style="background-color: #ffffff;">

  <div class="container achterspaltenlayout text-center" style="padding-top: 3rem; padding-bottom: 1rem;">
    {% set entry = craft.entries.section('projekte').slug('armutsbekämpfung').one() %}
    <h2 style="padding-bottom: 2rem;"> {{ entry.title }} </h2>
    <div id="anleser" style="padding-bottom: 0px;"> {{ entry.anleser }}</div>
  </div>

  <div class="container achterspaltenlayout" style="padding-bottom: 5rem;">
    <div id="copy">    {{ entry.text }}   </div>
    <div id="copy" style="padding-top: 1rem;">    {{ entry.zusatzfeld1 }}   </div>
  </div>

</div> <!-- Weißer Hintergrundcontainer -->

{% include '_layouts/codeschnipsel/karussellmitjs' %}

<div class="container zwoelferspaltenlayout text-center" style="padding-top: 0;">

  {% set entry = craft.entries.section('projekte').slug('17-000-kinder').one() %}

  <div class="karussell">

    {% set entries = craft.entries.section('projekte').slug('armutsbekämpfung').one().children().all() %}
    {% for entry in entries %}
    <div style="padding: 0 1rem;">
      <img class="img-fluid mx-auto d-block" style="max-height: 150px; padding-bottom: 0;" src="  {% if entry.bild.one() is not null %}  {{ entry.bild.one().getUrl() }}  {% endif %}">
      <h4> {{ entry.title }} </h4>
      <div id="copy" style="margin-top: -.5rem"> {{ entry.anleser }} </div>
    </div>
    {% endfor %}
  </div>
</div> <!-- Container für Carousel -->


<div class="container-fluid no-padding" style="background-color: #ffffff; padding-top: 5rem;">

  <div class="container achterspaltenlayout text-center" style="padding-bottom: 0;">
    {% set entry = craft.entries.section('projekte').slug('bildung').one() %}
    <h2 style="padding-bottom: 2rem;"> {{ entry.title }} </h2>
    <div id="anleser" style="padding-bottom: 0px;"> {{ entry.anleser }}</div>
  </div>

  <div class="container achterspaltenlayout">
    <div id="copy">    {{ entry.text }}   </div>
  </div>

</div> <!-- Weißer Hintergrundcontainer -->

<div class="container zwoelferspaltenlayout text-center" style="padding-top: 0;">

  <div class="karussell">

    {% set entries = craft.entries.section('projekte').slug('bildung').one().children().all() %}
    {% for entry in entries %}
    <div style="padding: 0 1rem;">
      <img class="img-fluid mx-auto d-block" style="max-height: 150px; padding-bottom: 0;" src="  {% if entry.bild.one() is not null %}  {{ entry.bild.one().getUrl() }}  {% endif %}">
      <h4> {{ entry.title }} </h4>
      <div id="copy" style="margin-top: -.5rem"> {{ entry.anleser }} </div>
    </div>
    {% endfor %}

  </div>
</div> <!-- Container für Carousel -->

<div class="container-fluid no-padding" style="background-color: #ffffff; padding-top: 5rem;">

  <div class="container achterspaltenlayout text-center" style="padding-bottom: 0px;">
    {% set entry = craft.entries.section('projekte').slug('engagement').one() %}
    <h2 style="padding-bottom: 2rem;"> {{ entry.title }} </h2>
    <div id="anleser" style="padding-bottom: 0px;"> {{ entry.anleser }}</div>
  </div>

  <div class="container achterspaltenlayout">
    <div id="copy">    {{ entry.text }}   </div>
  </div>

</div> <!-- Weißer Hintergrundcontainer -->

<div class="container zwoelferspaltenlayout text-center" style="padding-top: 0;">
  <div class="karussell">

    {% set entries = craft.entries.section('projekte').slug('engagement').one().children().all() %}
    {% for entry in entries %}
    <div style="padding: 0 1rem;">
      <img class="img-fluid mx-auto d-block" style="max-height: 150px; padding-bottom: 0;" src="  {% if entry.bild.one() is not null %}  {{ entry.bild.one().getUrl() }}  {% endif %}">
      <h4> {{ entry.title }} </h4>
      <div id="copy" style="margin-top: -.5rem"> {{ entry.anleser }} </div>
    </div>
    {% endfor %}
  </div>
</div> <!-- Container für Carousel -->


<div class="container-fluid no-padding" style="background-color: #ffffff; padding-top: 5rem;">

  <div class="container achterspaltenlayout text-center" style="padding-bottom: 0px;">
    {% set entry = craft.entries.section('projekte').slug('soziales').one() %}
    <h2 style="padding-bottom: 2rem;"> {{ entry.title }} </h2>
    <div id="anleser" style="padding-bottom: 0px;"> {{ entry.anleser }}</div>
  </div>

  <div class="container achterspaltenlayout">
    <div id="copy">    {{ entry.text }}   </div>
  </div>

</div> <!-- Weißer Hintergrundcontainer -->

<div class="container zwoelferspaltenlayout text-center" style="padding-top: 0;">

  <div class="karussell">
    {% set entries = craft.entries.section('projekte').slug('soziales').one().children().all() %}
    {% for entry in entries %}

    <div style="padding: 0 1rem;">
      <img class="img-fluid mx-auto d-block" style="max-height: 150px; padding-bottom: 0;" src="  {% if entry.bild.one() is not null %}  {{ entry.bild.one().getUrl() }}  {% endif %}">
      <h4> {{ entry.title }} </h4>
      <div id="copy" style="margin-top: -.5rem"> {{ entry.anleser }} </div>
    </div>
    {% endfor %}

  </div>
</div> <!-- Container für Carousel -->

<div class="container-fluid no-padding" style="background-color: #ffffff; padding-top: 5rem;">

  <div class="container achterspaltenlayout text-center" style="padding-bottom: 0px;">
    {% set entry = craft.entries.section('projekte').slug('umwelt-und-naturschutz-1').one() %}
    <h2 style="padding-bottom: 2rem;"> {{ entry.title }} </h2>
    <div id="anleser" style="padding-bottom: 0px;"> {{ entry.anleser }}</div>
  </div>

  <div class="container achterspaltenlayout">
    <div id="copy">    {{ entry.text }}   </div>
  </div>

</div> <!-- Weißer Hintergrundcontainer -->

<div class="container zwoelferspaltenlayout text-center" style="padding-top: 0;">

  <div class="karussell">
          {% set entries = craft.entries.section('projekte').slug('umwelt-und-naturschutz-1').one().children().all() %}
          {% for entry in entries %}

          <div style="padding: 0 1rem;">
            <img class="img-fluid mx-auto d-block" style="max-height: 150px; padding-bottom: 0;" src="  {% if entry.bild.one() is not null %}  {{ entry.bild.one().getUrl() }}  {% endif %}">
            <h4> {{ entry.title }} </h4>
            <div id="copy" style="margin-top: -.5rem"> {{ entry.anleser }} </div>
          </div>

      {% endfor %}

</div>
</div> <!-- Container für Carousel -->

{% set entry = craft.entries.section('fuerSie').slug('fuelleintrag').one() %}
<div class="container-fluid spendenaufruf"  style="padding-top: 2.5rem; padding-bottom: 2.5rem; background-image: url({{ entry.bild.one().url }});">
  <div class="row">
    <div class="col-md-1">  </div>
    <div class="col-md-2">   <img class="img-fluid mx-auto d-block" src="{{ entry.bild2.one().url }}" style="max-height: 150px; padding-bottom: 10px;"> </div>
    <div class="col-md-1">  </div>
    <div class="col-md-7" style="padding-left: 30px;">
      <h4 style="color: white;"> {{ entry.zusatzfeld2 }} </h4>
      <div id="copy" style="color: white;"> {{ entry.zusatzfeld3 }}</div>
      <a href="https://aufbau-website.de/craft/web/spenden" class="btn btn-primary" role="button">Jetzt Spenden</a>
    </div>
  </div>
</div> <!-- Der orange Berg mit dem Spendenaufruf -->


<div class="container-fluid no-padding" style="background-color: #ffffff; padding-bottom: 3rem;">

  <div class="container achterspaltenlayout" id="info" style="padding-bottom: 0px;">
    <h4 style="margin-bottom: 0;"> Quellen: </h4>
    <sub>*</sub> &nbsp; http://www.unric.org/html/german/mdg/MP_PovertyFacts.pdf <br>
    <sup>1</sup> &nbsp; Deutschlandfunk: „Durchwachsene Bilanz im Kampf gegen die Armut“ 23.03.15, http://www.deutschlandfunk.de/entwicklungslaender-durchwachsene-bilanz-im-kampf-gegen-die.724.de.html?dram:article_id=314962 <br>
    <sup>2</sup> &nbsp; UNICEF, „The State of the World’s Children 2015: Reimagine the Future“, http://sowc2015.unicef.org, Under-5 mortality rate (2013) S.31, New York 2015. <br>
    <sup>3</sup> &nbsp; Ravallion, M; Chen, S; Sangraula, P. Dollar a Day Revisited. World Bank Economic Review. 23, 2, 163-184, 2009. <br>
    <sup>4</sup> &nbsp; Worldbank: http://data.worldbank.org/indicator/SI.POV.DDAY/countries?display=graph <br>
    <sup>5</sup> &nbsp; UNICEF, „The State of the World’s Children 2010“, http://www.unicef.org/rightsite/sowc/ <br>
    <sup>6</sup> &nbsp; WHO, World Hunger and Poverty Statistics, 2013, http://www.worldhunger.org/articles/Learn/world%20hunger%20facts%202002.htm <br>
    <sup>7</sup> &nbsp; FAO, State of Food Insecurity in the World, 2015. http://www.fao.org/3/a-i4646e.pdf <br>
    <sup>8</sup> &nbsp; Welthungerhilfe: „FACT-Sheet. Fakten und Zahlen zu Wasser“, 2013, http://www.welthungerhilfe.de/fileadmin/user_upload/Themen/ <br>

  </div>

  <div class="container zwoelferspaltenlayout text-center">
    {% set entry = craft.entries.section('projekte').slug('erfahrungsberichte').one() %}
    <hr style="height: 1px;">
    <div id="anleser" style="padding-top: 4rem; padding-bottom: 5rem;"> Erfahren Sie, was die Menschen vor Ort berichten </div>
  </div>

{% include '_layouts/weiterleitungkorrekt' %}
<div style="height: 2.5rem;"> </div>

</div> <!-- Weißer Hintergrundcontainer -->

{% endblock %}
