
{% extends "_layouts/layoutHome.html" %}

{% block titelfuerseo %}
{% set entry = craft.entries.section('suchmaschinenoptimierung').slug('wo-wir-arbeiten').one() %}
{{ entry.titelfeldFuerJens }}
{% endblock %}

{% block block1 %}

<nav id="myScrollspy">
  <ul class="nav nav-pills flex-column">
       <li class="nav-item">   <a class="nav-link active" href="#peru"> </a> <span>Peru</span> </li>
       <li class="nav-item">   <a class="nav-link" href="#kenia"></a> <span> Kenia </span>  </li>
  </ul>
</nav>


<div class="container-fluid text-center" style="padding-top: 150px; position: relative;">

  <nav aria-label="breadcrumb" id="info">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"> <a href="https://aufbau-website.de/craft/web/projekte">Projekte</a></li>
    <li class="breadcrumb-item"> Wo wir arbeiten </li>
  </ol>
</nav>

<img class="img-fluid" id="welle" src="{{ craft.assets.filename('welle.png').one().getUrl() }}" style="position: absolute; left:0; width: 40%;">

<div class="container achterspaltenlayout" style="padding-top: 0px; padding-bottom: 0; position: relative;"> <!-- position: relative; das sich der container nicht von der Welle beeinflussen lässt -->
  <div style="padding-bottom:3rem; ">
    <h1 style="padding-bottom: 30px;"> Chance e.V. ist in Peru und Kenia aktiv   </h1>
    <p id="anleser" style="padding-bottom: 0;"> In den Regenwäldern Amazoniens und den Savannen am Rande der Maasai Mara.  </p>
    </div>
  </div>
</div>


<div class="container-fluid no-padding" style="background-color: #ffffff; padding-bottom: 3rem; padding-top: 5rem;" id="peru">
  {% set entry = craft.entries.section('projekte').slug('peru').one() %}
<div class="container achterspaltenlayout text-center" style="padding-bottom: 5rem;">
  <h2 style="padding-bottom: 2rem;"> {{ entry.title }} </h2>
  <div id="anleser" style="padding-bottom: 0;"> {{ entry.anleser }} </div>
</div>

  <div class="container zwoelferspaltenlayout" style="padding-top: 0;">
    <img class="img-fluid mx-auto d-block"  src="  {% if entry.bild.one() is not null %}  {{ entry.bild.one().getUrl() }}  {% endif %}" alt="Card image">
  </div>

<div class="container achterspaltenlayout" style="padding-top: 2rem;">

  {% set entries = craft.entries.section('projekte').slug('peru').one().children().all() %}

  {% if entries | length %}

      {% set counter = 0 %}

      {# For each entry we find, do this #}
      {% for entry in entries %}      {% set counter = counter + 1 %}

        <h4 style="padding-bottom: 1rem;">{{ entry.title }}</h4>
        <div id="copy" style="padding-bottom: 2rem;"> {{ entry.text }} </div>

      {% if counter == 1 %}   </div>
      <div class="container-fluid no-padding" style="background-color: #f8f5f2; padding-top: 0;">
        <div class="row">
          <div class="col-md-3 col-sm-1 col-1"> </div>
          <div class="col-md-3 col-sm-5 col-5" id="copy" style="display: flex; align-items: center;">
            <span style="width: 100%;">
            <p> <strong> Provinz Oxapampa </strong>  </p>
            19000 km² <hr style="border-top: 1px solid #ed6e2c; margin-bottom: 1rem; margin-top: .5rem;">
            Regenwald <hr style="border-top: 1px solid #ed6e2c; margin-bottom: 1rem; margin-top: .5rem;">
            Andenvorgebirge <hr style="border-top: 1px solid #ed6e2c; margin-bottom: 1rem; margin-top: .5rem;">
            XXX Einwohner <hr style="border-top: 1px solid #ed6e2c; margin-bottom: 1rem; margin-top: .5rem;">
          </span>
          </div>
          <div class="col-md-6 col-sm-6 col-6">
          <img class="img-fluid float-right w-100 h-100" style="padding-bottom: 0; object-fit: cover; max-height: 60vh;" src="{% if entry.bild.one() is not null %}  {{ entry.bild.one().getUrl() }}  {% endif %}">
        </div>
        </div>
      </div> <!-- Nach dem ersten Durchlauf der for-schleife wird die Peru-Karte eingefuegt -->
    <div class="container achterspaltenlayout" style="padding-top: 5rem;">
    {% endif %}

      {% endfor %}
  {% endif %}

</div> <!--Bei der ersten For-Schleife wird das Bild eingefügt, danach kommen nur noch die Texte -->

{% set entry = craft.entries.section('fuerSie').slug('chancengeber').one() %}
<div class="container-fluid no-padding" style="background-image: url({{ entry.bild.one().url }})">
  <div class="container achterspaltenlayout text-center">
    {% set entries = entry.children().all() %}
    {% set entry = random(entries) %}
    <div id="zitat"  style="padding-bottom: 0px;"> {{ entry.text }}  </div>
    <div id="autor"> {{ entry.title }}  </div>
  </div>
</div> <!-- Das Wolkenbild mit den Zitaten drin -->

<div class="container achterspaltenlayout text-center" style="padding-top: 5rem; padding-bottom: 0;" id="kenia">
  {% set entry = craft.entries.section('projekte').slug('kenia').one() %}
  <h2 style="padding-bottom: 2rem;"> {{ entry.title }} </h2>
  <div id="anleser"> {{ entry.anleser }} </div>
</div>

  <div class="container zwoelferspaltenlayout" style="padding-top: 3rem;">
    <img class="img-fluid mx-auto d-block"  src="  {% if entry.bild.one() is not null %}  {{ entry.bild.one().getUrl() }}  {% endif %}" alt="Card image">
  </div> <!-- Projekte aus Kenia mit Bild -->

<div class="container achterspaltenlayout" style="padding-top: 3rem;">


  {% set entries = craft.entries.section('projekte').slug('kenia').one().children().all() %}

  {# If there are any entries, loop through them #}
  {% if entries | length %}
      {% set counter = 0 %}
      {% for entry in entries %}      {% set counter = counter + 1 %}

        <h4 style="padding-bottom: 1rem;">{{ entry.title }}</h4>
        <div id="copy" style="padding-bottom: 2rem;"> {{ entry.text }} </div>

        {% if counter == 2 %}   </div>
        <div class="container-fluid no-padding" style="background-color: #f8f5f2; padding-top: 0; margin-bottom: 3rem;">

          <div class="row">
            <div class="col-md-6 col-sm-6 col-6">
            <img class="img-fluid float-left w-100 h-100" style="padding-bottom: 0; object-fit: cover; max-height: 60vh;" src="{% if entry.bild.one() is not null %}  {{ entry.bild.one().getUrl() }}  {% endif %}">
          </div>
            <div class="col-md-3 col-sm-5 col-5" id="copy" style="display: flex; align-items: center;">
              <span style="width: 100%;">
              <strong> Narok County </strong>  <br> <br>
              19000 km² <br> <hr style="border-top: 1px solid #ed6e2c; margin-bottom: 1rem; margin-top: .5rem;">
              Savannen und Buschland <br> <hr style="border-top: 1px solid #ed6e2c; margin-bottom: 1rem; margin-top: .5rem;">
              Maasai-Ebenen <br> <hr style="border-top: 1px solid #ed6e2c; margin-bottom: 1rem; margin-top: .5rem;">
              900.000 Einwohner <hr style="border-top: 1px solid #ed6e2c; margin-bottom: 1rem; margin-top: .5rem;">
            </span>
            </div>
            <div class="col-md-3 col-sm-1 col-1"> </div>
          </div>
        </div> <!-- Nach dem zweiten Durchlauf der for-schleife wird die Kenia-Karte eingefuegt -->
      <div class="container achterspaltenlayout" style="padding-top: 2rem;">
      {% endif %}
      {% endfor %}

  {% endif %}
</div>

  <div class="container achterspaltenlayout text-center" style="padding-bottom: 4rem;">
    {% set entries = craft.entries.section('home').slug('zitate-home').one().children().all() %}
    {% set entry = random(entries) %}

    <hr style="background-color: #ed6e2c; margin: 1rem 0rem;">
    <div id="zitat"> {{ entry.anleser }}  </div>
    <div id="autor" > {{ entry.title }}  </div>
    <hr style="background-color: #ed6e2c; 1px; margin: 1rem 0rem;">
  </div> <!-- Zufälliges Zitat -->

  {% set entry = craft.entries.section('fuerSie').slug('fuelleintrag').one() %}
  <div class="container-fluid no-padding"  style="padding-top: 2.5rem; padding-bottom: 2.5rem; background-image: url({{ entry.bild.one().url }});">
    <div class="row">
      <div class="col-md-1">  </div>
      <div class="col-md-2">   <img class="img-fluid mx-auto d-block" src="{{ entry.bild2.inReverse().one().url }}" style="max-height: 150px; padding-bottom: 10px;"> </div>
      <div class="col-md-1">  </div>
      <div class="col-md-7" style="padding-left: 30px;">
        <h4 style="color: white;"> {{ entry.zusatzfeld2 }} </h4>
        <div id="copy" style="color: white;"> {{ entry.zusatzfeld3 }}</div>
        <a href="https://aufbau-website.de/craft/web/spenden" class="btn btn-primary" role="button">Jetzt Länderpate werden</a>
      </div>
    </div>
  </div> <!-- Der orange Berg mit dem Spendenaufruf -->

  <div class="container zwoelferspaltenlayout text-center">
    {% set entry = craft.entries.section('projekte').slug('programme').one() %}
    <div id="anleser" style="padding-bottom: 4rem;"> Erfahren sie mehr über unser Engagement vor Ort </div>
  </div>

  {% include '_layouts/weiterleitungkorrekt' %}

</div> <!-- Weißer Hintergrundcontainer -->


{% endblock %}
