
{% extends "_layouts/layoutHome.html" %}

{% block titelfuerseo %}
{% set entry = craft.entries.section('suchmaschinenoptimierung').slug('erfahrungsbericht-ausführlich').one() %}
{{ entry.titelfeldFuerJens }}
{% endblock %}

{% block block1 %}

<div class="container-fluid text-center" style="padding-top: 9rem; position: relative;">

  <nav aria-label="breadcrumb" id="info">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"> <a href="https://www.chance-international.org/projekte">Projekte</a></li>
      <li class="breadcrumb-item"> <a href="https://www.chance-international.org/projekte/erfahrungsberichte.html">Erfahrungsberichte</a></li>
      <li class="breadcrumb-item"> {{ entry.title }} </li>
    </ol>
  </nav>


<img class="img-fluid" id="welle" src="{{ craft.assets.filename('welle.png').one().getUrl() }}" style="position: absolute; left:0; width: 40%;">

  <div class="container achterspaltenlayout" style="position: relative;">
  <h1> {{ entry.title }} </h1>
  <span id="anleser"> <strong> {{ entry.beruf }}</strong> </span>
    <div id="anleser"> {{ entry.anleser }}</div>
  </div>
</div>

<div class="container zwoelferspaltenlayout" {% if entry.bild2.one() is null %} style = "height: 0; padding-top: 0;" {% else %} style = "padding-top: 0;" {% endif %}>
  <img class="img-fluid" src="{% if entry.bild2.one() is not null %} {{ entry.bild2.one().url }} {% endif %}" alt="">
</div>

{% if entry.slug == 'medalid-lang-1' %}
<div class="container achterspaltenlayout" style="padding-bottom: 4rem;">
  <div class="embed-responsive embed-responsive-16by9">
<iframe src="https://www.youtube.com/embed/ucReBc4Os7k?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>
{% endif %}

<div class="container achterspaltenlayout">
  <div id="copy">{{ entry.langerText }}
  </div>
</div>

<div class="container zwoelferspaltenlayout" style="padding-top: 2rem; padding-bottom: 4.5rem;">
  <hr> <div id="copy" class="text-center" style="padding-bottom: 3rem; padding-top: 4rem;"> Weitere Erfahrungsberichte  </div>

  {% set aktuellerTitle = entry.slug %}

<div class="card-columns">

  {% set entries = craft.entries.section('erfahrungsberichte').all() %}

      {% for entry in entries %}
        {% if entry.slug != aktuellerTitle %}
        <div class="card" style="border-width: 0; border-radius: 0; background-color: #f8f5f2; padding: 1rem 2rem;">
            <div class="row" style="background-color: white;">
              <div class="col-4" style="text-align: center; white-space: nowrap;">
                 <span class="helper" style="display: inline-block; height: 100%; vertical-align: middle;"></span>
                 <a href="{{ 'https://www.chance-international.org/projekte/erfahrungsberichte/' ~ entry.slug }}">
                  <img class="rounded-circle" style="width: 85%; margin-left: 12.5%; vertical-align: middle; max-height: 100px;" src=" {% if entry.bild.one() is not null %} {{ entry.bild.one().url }} {% endif %}">
                </a>
              </div>
                <div class="col-8">
                  <div class="card-body" style="padding: 0;">
                    <p class="card-text">
                      <h4 style="margin: 0;"> {{ entry.title }} </h4>
                      <span id="copy">
                        <a href="{{ 'https://www.chance-international.org/projekte/erfahrungsberichte/' ~ entry.slug }}"> {{ entry.beruf }}</a>
                      </span>
                    </p>
                  </div>
            </div>
          </div>
        </div>
        {% endif %} {# Damit der aktuelle Title nicht angezeigt wird #}
      {% endfor %}
  </div>
</div>

{% include '_layouts/codeschnipsel/spendenaufrufkindrund' %}

<div class="container-fluid no-padding" style="background-color: #ffffff; padding-bottom: 5rem; padding-top: 0;">

  <div class="container zwoelferspaltenlayout text-center">
   <div id="anleser" style="padding-bottom: 3rem;"> Erfahren Sie mehr über unsere Projekte vor Ort </div>
  </div>

  {% set entry = craft.entries.section('projekte').slug('projektberichte').one() %}
  {% include "_layouts/weiterleitungkorrekt" %}

</div> <!-- Weißer Hintergrundcontainer -->

<style media="screen"> /*Anpassen der auf einmal angezeigten weiteren Erfahrungsberichte, dazu werden die bootstrap breakpoints ueberschrieben */

@media (min-width: 576px) {
    .card-columns {
        column-count: 1;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 3;
    }
}

}
</style>

{% endblock %}
