
{% extends "_layouts/layoutHome.html" %}



{% block block1 %}


<div class="container-fluid text-center" style="padding-top: 7rem; position: relative;">

  <nav aria-label="breadcrumb" id="info">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"> <a href="https://aufbau-website.de/craft/web/fuerSie">Für Sie</a></li>
      <li class="breadcrumb-item"> <a href="https://aufbau-website.de/craft/web/fuerSie/freiwilligendienst.html">Freiwilligendienst</a></li>
      <li class="breadcrumb-item"> {{ entry.title }} </li>
    </ol>
  </nav>

  <img class="img-fluid" id="welle" src="{{ craft.assets.filename('welle.png').one().getUrl() }}" style="position: absolute; left:0; width: 40%;">

  <div class="container achterspaltenlayout" style="padding-top: 0px; position: relative;">
  <h1> {{ entry.title }} </h1>
  <span id="anleser"> <strong> {{ entry.beruf }}</strong> </span>
    <div id="anleser"> {{ entry.anleser }}</div>
  </div>
</div>

<div class="container zwoelferspaltenlayout" style="padding-top: 0;">
  <img class="img-fluid" src="{% if entry.bild2.one() is not null %} {{ entry.bild2.one().url }} {% endif %}" alt="">
</div>

<div class="container achterspaltenlayout">
  <div id="copy">{{ entry.langerText }}
  </div>
</div>

<div class="container zwoelferspaltenlayout" style="padding-top: 2rem; padding-bottom: 4.5rem;">
  <hr> <div id="copy" class="text-center" style="padding-bottom: 3rem; padding-top: 4rem;"> Weitere Freiwilligenberichte  </div>

<div class="card-columns">
  {% set ursprungseintrag = entry.slug %}
  {% set entries = craft.entries.section('freiwilligenberichte').all() %}

      {% for entry in entries %}
      {% if entry.slug != ursprungseintrag %}
      <div class="card">
            <div class="row">
              <div class="col-4">
                 <span class="helper" style="display: inline-block; height: 100%; vertical-align: middle;"></span>
                 <a href="{{ 'https://aufbau-website.de/craft/web/freiwilligenberichte/' ~ entry.slug }}">
                  <img class="rounded-circle w-75" style="margin-left: 12.5%; vertical-align: middle; max-height: 100px;" src=" {% if entry.bild.one() is not null %} {{ entry.bild.one().url }} {% endif %}">
                  </a>
                </div>
                <div class="col-8">
                  <div class="card-body" style="padding: 0; padding-right: 1rem;">
                    <p class="card-text">
                      <h4 style="margin: 0;"> {{ entry.title }} </h4>
                      <div id="copy">
                        <a href="{{ 'https://aufbau-website.de/craft/web/freiwilligenberichte/' ~ entry.slug }}"> Mehr erfahren</a>
                      </div>
                    </p>
                  </div>
            </div>
          </div>
        </div>
        {% endif %}
      {% endfor %}
  </div>
</div>
<style media="screen">
  .card {
    border-radius: 0;
    border-width: 0;
  }
</style>
{% include '_layouts/codeschnipsel/spendenaufrufkindrund' %}


<div class="container-fluid no-padding" style="background-color: white; padding-top: 0; padding-bottom: 5rem;">

    <div class="container zwoelferspaltenlayout text-center" style="margin-top: 0;">
     <div id="anleser" style="padding-bottom: 3rem;"> Weitere Informationen zum Freiwilligendienst </div>
    </div>

    {% set entry = craft.entries.section('fuerSie').slug('bewerbung-1').one() %}
    {% include '_layouts/weiterleitungkorrekt' %}

  </div>


{% endblock %}
