
{% extends "_layouts/layoutHome.html" %}

{% block titelfuerseo %}
{% set entry = craft.entries.section('suchmaschinenoptimierung').slug('projektbericht-ausführlich').one() %}
{{ entry.titelfeldFuerJens }}
{% endblock %}

{% block block1 %}

<div class="container-fluid text-center" style="padding-top: 8rem; position: relative;">

  <nav aria-label="breadcrumb" id="info">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"> <a href="https://aufbau-website.de/craft/web/projekte">Projekte</a></li>
    <li class="breadcrumb-item"> Projektberichte </li>
  </ol>
</nav>

  <img class="img-fluid" id="welle" src="{{ craft.assets.filename('welle.png').one().getUrl() }}" style="position: absolute; left:0; width: 40%;">

  <div class="container achterspaltenlayout" style="padding-top:0px; position: relative;">
    <div id="anleser"> {{ entry.anleserLang }}</div>
  </div>
</div>

<style>

    @media all and (max-width: 1200px) {
      #erfahrungsbericht {
        display: none;
      }
    }
</style>

<div class="container achterspaltenlayout">
  <img class="img-fluid mx-auto d-block" style="padding-bottom: 5rem; position: relative;" src="{% if entry.bild.one() is not null %} {{ entry.bild.one().getUrl() }}  {% endif %}">

      <div id="erfahrungsbericht" class="float-right" style="border-left:2px solid #ed6e2c; width: 40%; margin-left: 3rem; margin-right: -25%; margin-bottom: 3rem;">
        {% set entries = craft.entries.section('projekte').slug('erfahren-sie-mehr-1').one().children().all() %}
        {% set eintrag = random(entries) %}
        <div class="helper" style="padding-left: 1rem;"> <!-- Div zum Abstand setzen -->
        <img style="max-height: 100px;" class="rounded-circle" src="{% if eintrag.bild.one() is not null %} {{ eintrag.bild.one().url }}{% endif %}" alt="">
        <p style="padding-top: 2rem;" id="copy"> Erfahrungsbericht </p>
        <div id="zitat"> {{ eintrag.text }}  </div>
        <div id="autor" > {{ eintrag.zusatzfeld1 }}  </div>
        </div>
    </div>


  <div id="copy">{{ entry.restlichertext }} </div>
</div>


<div class="container zwoelferspaltenlayout" style="padding-bottom: 4.5rem;">

  <hr> <p class="text-center" id="anleser" style="padding-top: 2rem;"> Weitere Projektberichte</p>
  {% set slugUrsprung = entry.slug %}

  <div class="card-columns">

    {% set entries = craft.entries.section('projektberichte').all() %}
    {% for entry in entries %} {% if slugUrsprung != entry.slug %}

    <div class="card">
      <div class="card-body" style="padding: .5rem;">
        <p class="card-text">
          <h4 style="margin: 0;"> {{ entry.title }} </h4>
          <a id="copy" href="{{ 'https://aufbau-website.de/craft/web/projekte/projektberichte/' ~ entry.slug }}"> {{ entry.nurDerLink }}</a>
        </p>
      </div>
    </div>

    {% endif %}
    {% endfor %}
  </div>
</div> <!-- Die restlichen Projektberichte -->

{% include '_layouts/codeschnipsel/spendenaufrufkindrund' %}



<div class="container-fluid no-padding" style="background-color: white; padding-bottom: 5rem; padding-top: 3rem;">

<div class="container zwoelferspaltenlayout" style="padding-top: 0px;">
<p id="anleser" class="text-center"> Das könnte Sie auch interessieren </p>
</div>

{% set entry = craft.entries.section('spendenfelderUndSo').slug('fuer-sie').one() %}
{% include '_layouts/weiterleitungkorrekt' %}

</div>

{% endblock %}
