
{% extends "_layouts/layoutHome.html" %}



{% block block1 %}

<div class="container-fluid text-center" style="padding-top: 150px; position: relative;">

  <nav aria-label="breadcrumb" id="info">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"> <a href="https://aufbau-website.de/craft/web/projekte">Projekte</a></li>
    <li class="breadcrumb-item"> Erfahrungsberichte </li>
  </ol>
</nav>

<img class="img-fluid" id="welle" src="{{ craft.assets.filename('welle.png').one().getUrl() }}" style="position: absolute; left:0; width: 40%;">

<div class="container achterspaltenlayout" style="position: relative;">
  {% set entry = craft.entries.section('projekte').slug('erfahren-sie-mehr').one() %}
    <h1> {{ entry.title }} </h1>
    <div id="anleser"> {{ entry.anleser }}</div>
  </div>
</div>

<script>
$( document ).ready(function() {
    erfahrungenAnpassen();
});

$(window).resize(function(){
  erfahrungenAnpassen();
});

function erfahrungenAnpassen () {

  if ($(window).innerWidth() < 900 ) {

    $("#erfahrungenMobil").css("display", "block");
    $("#erfahrungenDesktop").css("display", "none"); /*Erfahrungsberichte werden angezeigt oder nicht, je nach bildschirmgröße */
  }
  else {

      $("#erfahrungenDesktop").css("display", "block");
      $("#erfahrungenMobil").css("display", "none");
    }
  }

</script>


<div class="container zwoelferspaltenlayout" id="erfahrungenDesktop" >
  <div class="card-columns">
  {% set entries = craft.entries.section('erfahrungsberichte').all() %}
  {% if entries | length %}
      {% for entry in entries %}
      <div class="card bg-white">
        <div class="wrapper" style="background-color: #f8f5f2; max-height: 95px;">
        <img class="card-img-top rounded-circle" style="border:8px solid #f8f5f2; max-height: 160px; max-width: 160px; display: block; margin-left: auto; margin-right: auto;  width: 50;"
        src="{% if entry.bild.one() is not null %}  {{ entry.bild.one().getUrl() }}  {% endif %}" alt="Card image">
      </div>
        <div class="card-body" style="padding-top: 3rem;">
          <p class="card-text">
            <h3> {{ entry.title }} </h3>
            <div id="copy"> <strong> {{ entry.beruf }} </strong> </div>
            <div id="copy"> {{ entry.anleser }}
              <a href="{{ 'https://aufbau-website.de/craft/web/projekte/erfahrungsberichte/' ~ entry.slug }}"> Weiterlesen</a>
            </div>
          </p>
        </div>
      </div>
      {% endfor %}
      {% endif %}
    </div>
  </div>

  <div class="container zwoelferspaltenlayout" id="erfahrungenMobil" style="padding-top: 0;">

  <div class="card-columns">

        {% for entry in entries %}
        <div class="card">
              <div class="row">
                <div class="col-4" style="text-align: center; white-space: nowrap;">
                   <span class="helper" style="display: inline-block; height: 100%; vertical-align: middle;"></span>
                    <img class="rounded-circle w-75" style="margin-left: 12.5%; vertical-align: middle; max-height: 100px;" src=" {% if entry.bild.one() is not null %} {{ entry.bild.one().url }} {% endif %}">
                  </div>
                  <div class="col-8">
                    <div class="card-body" style="padding: 0; padding-right: 1rem;">
                      <p class="card-text">
                        <h4 style="margin: 0;"> {{ entry.title }} </h4>
                        <div id="copy">
                          <a href="{{ 'https://aufbau-website.de/craft/web/projekte/erfahrungsberichte/' ~ entry.slug }}"> {{ entry.beruf }}</a>
                        </div>
                      </p>
                    </div>
              </div>
            </div>
          </div>

        {% endfor %}
    </div>
  </div>

{% set entry = craft.entries.section('fuerSie').slug('fuelleintrag').one() %}
<div class="container-fluid no-padding"  style="padding-top: 2.5rem; padding-bottom: 2.5rem; background-image: url({{ entry.bild.one().url }});">
  <div class="row">
    <div class="col-md-1">  </div>
    <div class="col-md-2">   <img class="img-fluid mx-auto d-block" src="{{ entry.bild2.one().url }}" style="max-height: 150px; padding-bottom: 10px;"> </div>
    <div class="col-md-1">  </div>
    <div class="col-md-7" style="padding-left: 30px;">
      <h4 style="color: white;"> {{ entry.zusatzfeld2 }} </h4>
      <div id="copy" style="color: white;"> {{ entry.zusatzfeld3 }}</div>
      <a href="https://aufbau-website.de/craft/web/spenden" class="btn btn-primary" role="button">Jetzt Spenden</a>
    </div>
  </div>
</div> <!-- Der orange Berg mit dem Spendenaufruf -->

<div class="container-fluid no-padding" style="background-color: #ffffff; padding-bottom: 3rem;">

  <div class="container zwoelferspaltenlayout text-center">
    {% set entry = craft.entries.section('projekte').slug('projektberichte').one() %}
   <div id="anleser" style="padding-bottom: 3rem;"> Erfahren Sie mehr über unsere Projekte vor Ort </div>
  </div>

  <div class="zwoelferspaltenlayout container" style="background-color: #f8f5f2; padding-top: 0px;">
  <div class="row">
    <div class="col-md-4">
      <img class="img-fluid w-100" style="padding-bottom: 0px;" src="{% if entry.bild.one() is not null %} {{ entry.bild.one().getUrl() }}  {% endif %}">
    </div>
    <div class="col-md-8" style="padding-top: 2rem;">
      <h3> {{ entry.title }} </h3>
      <div id="copy"> {{ entry.text }}</div>
    </div>
  </div>
  </div> <!-- Weitere Informationen zum Freiwilligendienst -->


</div> <!-- Weißer Hintergrundcontainer -->


{% endblock %}
