
{% extends "_layouts/layoutHome.html" %}


{% block headerbildPosition1 %}

<div class="container-fluid no-padding" style="padding-top: 70px;">
  <img class="img-fluid" src=" {{ craft.assets.filename('chance-projekte-header.jpg').one().getUrl() }} ">
</div>


{% endblock %}

{% block block1 %}



<div class="container-fluid text-center" id="ersterContainer" style="padding-top: 80px; position: relative;">


  <img class="img-fluid" src="{{ craft.assets.filename('welle.png').one().getUrl() }}" style="position: absolute; left:0; width: 40%;  z-index: -999;">


  <div class="container achterspaltenlayout">
    <div style="padding-bottom:50px; ">
      <h1 style="padding-bottom: 30px;"> Mit drei nachhaltigen Programmen zum Ziel  </h1>
      <p id="anleser"> Durch die strategische Verknüpfung drei nachhaltiger Entwicklungsprogramme bekämpfen wir Armut, geben Hoffnung und erreichen unser Ziel: starke Dörfer,
        gesunde Kinder und Familien, würdevolle Lebensperspektiven sowie ein verantwortlicher Umgang mit der Schöpfung.
      </p>
      </div>
    </div>
  </div>

  <div class="container zwoelferspaltenlayout">

      <div class="row">

        {% set entries = craft.entries.section('projekte').slug('programme').one().children().all() %}

    {# If there are any entries, loop through them #}
    {% if entries | length %}

        {% set counter = 0 %}

        {# For each entry we find, do this #}
        {% for entry in entries %}      {% set counter = counter + 1 %}

        <div class="col-sm-4">
          <div class="row">
                 <div class="col-11">
              <h3>{{ entry.anleser }}</h3>
              <div id="copy"> {{ entry.text }} </div>
            </div>
          </div>
      </div>

        {% endfor %}

    {% endif %}
      </div>
    </div>


{% endblock %}
