
{% extends "_layouts/layoutHome.html" %}

{% block titelfuerseo %}
{% set entry = craft.entries.section('suchmaschinenoptimierung').slug('programme').one() %}
{{ entry.titelfeldFuerJens }}
{% endblock %}


{% block block1 %}


<div class="container-fluid text-center" id="ersterContainer" style="padding-top: 4rem; position: relative;">

  <nav aria-label="breadcrumb" id="info" style="padding-top: 3rem; margin-bottom: 0;">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"> <a href="https://aufbau-website.de/craft/web/projekte">Projekte</a></li>
    <li class="breadcrumb-item"> Programme </li>
  </ol>
</nav>

  <img class="img-fluid " id="welle" src="{{ craft.assets.filename('welle.png').one().getUrl() }}" style="position: absolute; left:0; width: 40%;">


  <div class="container achterspaltenlayout" style="padding-top: 0px; padding-bottom: 0; position: relative">
    <div style="padding-bottom:3rem; ">
      <h1 style="padding-bottom: 2rem;"> Mit drei nachhaltigen Programmen zum Ziel  </h1>
      <p id="anleser" style="padding-bottom: 2rem;"> Durch die strategische Verknüpfung drei nachhaltiger Entwicklungsprogramme bekämpfen wir Armut, geben Hoffnung und erreichen unser Ziel: starke Dörfer,
        gesunde Kinder und Familien, würdevolle Lebensperspektiven sowie ein verantwortlicher Umgang mit der Schöpfung.
      </p>
      </div>
    </div>
  </div>


    <div class="container zwoelferspaltenlayout" style="padding-top: 0; padding-bottom: 2rem;">
      <div class="card-deck">
        <div class="row">

          {% set entries = craft.entries.section('projekte').slug('programme').one().children().all() %}
          {% set counter = 0 %}

          {% for entry in entries %}
          {% set counter = counter + 1 %}
          <div class="col-lg-4 col-md-6 col-sm-6" style="padding-bottom: 40px;">

          <div class="card border-light h-100" style="margin: 0 5px;">
            <img class="card-img-top"  src="  {% if entry.bild.one() is not null %}  {{ entry.bild.one().getUrl() }}  {% endif %}" alt="Card image">
            <div class="card-body">
                <h3>{{ entry.anleser }}</h3>
                <div id="copy"> {{ entry.text }} </div>
            </div>
          </div>
        </div>
        {% if counter == 2 %}  <div class="col-3" id="verschwinde-gros"> </div> {% endif %}
          {% endfor %}
          </div>
        </div>
      </div>

    {% set entry = craft.entries.section('fuerSie').slug('chancengeber').one() %}
    <div class="container-fluid no-padding" style="background-image: url({{ entry.bild.one().url }})">
      <div class="container achterspaltenlayout text-center">
        {% set entries = entry.children().all() %}
        {% set entry = random(entries) %}
        <div id="zitat"  style="padding-bottom: 0px;"> {{ entry.text }}  </div>
        <div id="autor"> {{ entry.title }}  </div>
      </div>
    </div> <!-- Das Wolkenbild mit den Zitaten drin -->

{% endblock %}
