
{% extends "_layouts/layoutHome.html" %}

{% block titelfuerseo %}
{% set entry = craft.entries.section('suchmaschinenoptimierung').slug('projektberichte').one() %}
{{ entry.titelfeldFuerJens }}
{% endblock %}

{% block block1 %}

<div class="container-fluid text-center" id="ersterContainer" style="padding-top: 120px; position: relative;">

  <nav aria-label="breadcrumb" id="info">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"> <a href="https://aufbau-website.de/craft/web/projekte">Projekte</a></li>
    <li class="breadcrumb-item"> Projektberichte </li>
  </ol>
</nav>

  <img class="img-fluid" id="welle" src="{{ craft.assets.filename('welle.png').one().getUrl() }}" style="position: absolute; left:0; width: 40%;">


  <div class="container achterspaltenlayout" style="padding-top:0px; position: relative;">
    {% set entry = craft.entries.section('projekte').slug('geschichten').one() %}

    <div style="padding-bottom:50px; ">
      <h1 style="padding-bottom: 30px;"> {{ entry.title }}  </h1>
      <div id="anleser"> {{ entry.zusatzfeld1 }}</div>
      </div>
    </div>
  </div>
  {% set entries = craft.entries.section('projektberichte').all() %}

  <div class="container zwoelferspaltenlayout" style="padding-top: 0;">
    <div class="card-deck">
      <div class="row">

        {% for entry in entries %}
        <div class="col-lg-4 col-md-6 col-sm-6" style="padding-bottom: 40px; padding-left: 5px; padding-right: 5px;">
        <div class="card border-light h-100">
          <img class="card-img-top"  src="  {% if entry.bild.one() is not null %}  {{ entry.bild.one().getUrl() }}  {% endif %}" alt="Card image">
          <div id="copy" class="card-body">
              <h3>{{ entry.title }}</h3>
              <div> {{ entry.anleser }} </div>
              <a href="{{ 'https://aufbau-website.de/craft/web/projekte/projektberichte/' ~ entry.slug }}"> {{ entry.nurDerLink }}</a>
          </div>
        </div>
      </div>
      {% endfor %}
        </div>
      </div>
    </div>

    <div class="container-fluid no-padding" style="background-color: #ffffff; padding-bottom: 3rem;">

      <div class="container zwoelferspaltenlayout text-center">
       <div id="anleser" style="padding-bottom: 3rem;"> Das könnte Sie auch interessieren </div>
      </div>

      {% set entry = craft.entries.section('spendenfelderUndSo').slug('fuer-sie').one() %}
      {% include '_layouts/weiterleitungkorrekt' %}

    </div> <!-- Weißer Hintergrundcontainer -->



{% endblock %}
