
{% extends "_layouts/layoutSpende.html" %}


{% block headerbildPosition1 %}

<div class="container-fluid no-padding" style="padding-top: 70px; background-color: #ee6e2d;">

</div>

  <img class="img-fluid w-100" src=" {{ craft.assets.filename('chance-spenden-header.jpg').one().getUrl() }} ">

{% endblock %}

{% block block1 %}


<div class="container-fluid text-center" id="ersterContainer" style="padding-top: 80px; position: relative;">
  <img class="img-fluid" id="welle" src="{{ craft.assets.filename('welle.png').one().getUrl() }}" style="position: absolute; left:0; width: 40%;  z-index: -999;">
  <div class="container achterspaltenlayout">
    {% set entry = craft.entries.section('spenden').slug('spende').one() %}
      <h1 style="padding-bottom: 30px;"> {{ entry.title }} </h1>
      <div id="anleser"> {{ entry.anleser }}  </div>
    </div>
  </div>



  <div class="container zwoelferspaltenlayout">
    <div class="card-deck">

    <div class="card" style="padding: 1.5rem; background-image: url({{ entry.bild.one().url }});">
      <img class="card-img-top mx-auto d-block"  src="  {% if entry.bild2.one() is not null %}  {{ entry.bild2.one().getUrl() }}  {% endif %}" alt="Card image"
      style="max-height: 160px; max-width: 160px;">
      <h3 style="color: white; padding-top: 2rem;"> {{ entry.text }} </h3>
      <div id="copy" style="color: white"> {{ entry.zusatzfeld2 }}  </div>
      <div class="row text-center">
        <div class="col-lg-1"> </div>
      <div class="col-lg-4" style="margin-right: -3%; ">
        <a href="https://aufbau-website.de/craft/web/projekte" class="btn btn-primary" role="button">Regelmäßig Spenden</a>
      </div>          <div class="col-lg-2"> <br> </div>
      <div class="col-lg-4">
        <a href="https://aufbau-website.de/craft/web/projekte" class="btn btn-primary" role="button">Einmalig Spenden</a>
      </div>         <div class="col-lg-1"> </div>
    </div> <br>
    </div>

    <div class="card" style="padding: 1.5rem; background-image: url({{ entry.bild.one().url }});">
      <img class="card-img-top mx-auto d-block"  src="  {% if entry.bild3.one() is not null %}  {{ entry.bild3.one().getUrl() }}  {% endif %}" alt="Card image"
      style="max-height: 160px; max-width: 160px;">
      <h3 style="padding-top: 2rem; color: white"> {{ entry.zusatzfeld1 }} </h3>
      <div id="copy" style="color: white"> {{ entry.zusatzfeld3 }}  </div> <br>
      <div class="row text-center">
        <div class="col-lg-1"> </div>
      <div class="col-lg-4" style="margin-right: -3%; ">
        <a href="https://aufbau-website.de/craft/web/projekte" class="btn btn-primary" role="button">Regelmäßig Spenden</a>
      </div>          <div class="col-lg-2"> <br> </div>
      <div class="col-lg-4">
        <a href="https://aufbau-website.de/craft/web/projekte" class="btn btn-primary" role="button">Einmalig Spenden</a>
      </div>         <div class="col-lg-1"> </div>
    </div> <br>
    </div>
  </div> <!-- Die zwei Spendenboxen -->

</div> <!-- zwoelferspaltenlayout-container -->

<div class="container achterspaltenlayout" style="padding-top: 2rem;">
  {% set entry = craft.entries.section('spenden').slug('spendenmultiplikator').one() %}
  <div class="text-center">
    <h2> {{ entry.title }} </h2>
    <div id="copy"> {{ entry.anleser }}  </div>
  </div>
    <div class="card-deck">
    <div class="card" style="background-color: #ffffff;">
      <div class="wrapper" style="background-image: url({{ entry.bild.one().url }});">
      <img class="card-img-top mx-auto d-block" style="max-height: 160px; max-width: 160px; margin-top: 2rem; margin-bottom: 2rem;"
       src="  {% if entry.bild2.one() is not null %}  {{ entry.bild2.one().getUrl() }}  {% endif %}" alt="Card image">
     </div>
     <div class="card-body">
      <h3> {{ entry.text }} </h3>
      <div id="copy"> {{ entry.zusatzfeld1 }}  </div>
    </div>
    </div>

    <div class="card" style="background-color: #ffffff;">
      <div class="wrapper" style="background-image: url({{ entry.bild.one().url }});">
      <img class="card-img-top mx-auto d-block" style="max-height: 160px; max-width: 160px; margin-top: 2rem; margin-bottom: 2rem;"
       src="  {% if entry.bild3.one() is not null %}  {{ entry.bild3.one().getUrl() }}  {% endif %}" alt="Card image">
     </div>
     <div class="card-body">
      <h3> {{ entry.zusatzfeld2 }} </h3>
      <div id="copy"> {{ entry.zusatzfeld3 }}  </div>
    </div>
    </div>
  </div>
</div> <!-- Die zwei Boxen mit Spenden/Schenken & Einkaufen/Spenden -->

<div class="container achterspaltenlayout">
  <div class="text-center">
    {% set entry = craft.entries.section('spenden').slug('eine-spende').one() %}
    <h2> {{ entry.title }} </h2>
    <div id="copy"> {{ entry.anleser }}</div>

    {% set akkordionBilder = craft.entries.section('spendenfelderUndSo').slug('akkordion-bilder').one() %}

    <div id="accordion">
      {% set entries = entry.children().all() %}
      {% if entries | length %}        {% set counter = 0 %}
      {% for entry in entries %} {% set counter = counter + 1 %}
      <div class="card" style=" border-color: white; border-top-color: #ed6e2c; border-width: 2px; margin-bottom: 20px;">
        <div class="card-header bg-white">
        <a class="collapsed card-link" data-toggle="collapse" href="#{{counter}}">
          <div class="row">
            <div class="col-11">
              <h4> {{ entry.title }} </h4>
            </div>
            <div class="col-1">
              <img src="{{ akkordionBilder.bild.one().url }}" style="height: 1rem; float: right; margin-top: .25rem;">
            </div>
          </div>
        </a>
          </div>
          <div id="{{counter}}" class="collapse" data-parent="#accordion">
            <div class="card-body" id="copy">
              {{ entry.text }}
            </div>
          </div>
        </div>
        {% endfor %}
        {% endif %}
      </div>

  </div>

</div>
{% endblock %}
