
{% extends "_layouts/layoutHome.html" %}

{% block block1 %}

<div class="container-fluid text-center" id="ersterContainer" style="padding-top: 120px; position: relative;">


  <img class="img-fluid" src="{{ craft.assets.filename('welle.png').one().getUrl() }}" style="position: absolute; left:0; width: 40%;  z-index: -999;">


  <div class="container achterspaltenlayout" style="padding-top:0px;">
    {% set entry = craft.entries.section('spenden').slug('menschen-chance1').one() %}

    <div style="padding-bottom:50px; ">
      <h1 style="padding-bottom: 30px;"> {{ entry.title }}  </h1>
    </div>
  </div>
</div>



<div class="container-fluid no-padding" style="background-image: url({{ entry.bild.one().url }}); padding-bottom: 30px;">
  <div class="container zwoelferspaltenlayout" style="background-color: #ffffff;">
    <div class="row">
      <div class="col-sm-8">
        <h2> {{ entry.anleser }} </h2>
        <div id="copy"> {{ entry.text }}</div>
        <div id="copy"> {{ entry.zusatzfeld1 }}</div>
      </div>
      <div class="col-sm-4">
        <a style="margin: 4%; margin-left: 0;" href="https://aufbau-Website.de/craft/web/spenden/spende.html" class="btn btn-primary" role="button">Jetzt Spenden</a>
        <div id="copy" style="padding-top: 10%"> {{ entry.zusatzfeld2 }}</div>
      </div>
    </div>
  </div>
</div>



{% endblock %}
{# Alles, was bis zu dem endblock-Tag kommt, überschreibt den Block in layoutHome #}
