
{% extends "_layouts/layoutHome.html" %}

{% block titelfuerseo %}
{% set entry = craft.entries.section('suchmaschinenoptimierung').slug('arbeitsweise').one() %}
{{ entry.titelfeldFuerJens }}
{% endblock %}

{% block block1 %}

<div class="container-fluid text-center no-padding" style="padding-top: 8rem; position: relative;">

<nav aria-label="breadcrumb" id="info">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"> <a href="https://aufbau-website.de/craft/web/ueberUns">Über Uns</a></li>
    <li class="breadcrumb-item"> Arbeitsweise</li>
  </ol>
</nav>

  <img class="img-fluid" id="welle" src="{{ craft.assets.filename('welle.png').one().getUrl() }}" style="position: absolute; width: 40%; left: 0px;">

<div class="container achterspaltenlayout" style="position: relative;">
    <h1 style="padding-bottom: 2rem;"> Unsere Zielsetzung: Ganzheitliche, nachhaltige
      und von den Menschen selbst bestimmte Entwicklung  </h1>
    <p id="anleser"> Vier Begriffe machen deutlich, wie wir dieses Ziel erreichen. </p>
    </div>
</div>

<div class="container-fluid no-padding" style="background-color: white; padding-bottom: 3rem; padding-top: 0;">
<div class="container zwoelferspaltenlayout" >

  <style> /*Größe der Icons begrenzen*/
  @media all and (max-width: 700px)  {
    #arbeitsweiseIcons {
      max-height: 100px;
    }
    }
  </style>

  <div class="row">
  {% set entries = craft.entries.section('ueberUns').slug('arbeitsweise').one().children().all() %}
  {# If there are any entries, loop through them #}
  {% if entries | length %}
      {% for entry in entries %}
      <div class="col-sm-1"></div>
      <div class="col-sm-2">
        <img class="img-fluid rounded-circle" id="arbeitsweiseIcons" src="{% if entry.bild.one() is not null %}  {{ entry.bild.one().getUrl() }}  {% endif %}" style="padding-bottom: 0; margin-bottom: 1rem;">
      </div>
      <div class="col-sm-1"></div>
      <div class="col-sm-8" style="padding-bottom: 2rem;">
        <h2 style="padding-bottom: 1rem;">{{ entry.title }}</h2>
        <div id="anleser" style="padding-bottom: .5rem;"> {{ entry.anleser}} </div>
        <div id="copy"> {{ entry.text }} </div>
      </div>
      {% endfor %}
  {% endif %}
  </div>
</div>

<div class="container achterspaltenlayout text-center" style="padding-bottom: 0; padding-top: 3rem;">
  {% set entries = craft.entries.section('ueberUns').slug('empfehlungen').one().children().all() %}
  {% set entry = random(entries) %}
  <hr style="background-color: #ed6e2c; margin-bottom: 1rem;">
  <div id="zitat"> {{ entry.text }}  </div>
  <div id="autor" > {{ entry.title }}  </div>
  <hr style="background-color: #ed6e2c; margin-top: 1rem;">
</div> <!-- Empfehlungen in ihrem schönen Kästchen -->

  <img class="img-fluid mx-auto d-block" style="padding-bottom: 0;" src=" {{ craft.assets.filename('chance-ueber-uns-arbeitsweise_farm.jpg').one().getUrl() }} ">

{% set entry = craft.entries.section('fuerSie').slug('chancengeber').one() %}
<div class="container-fluid no-padding" style="background-image: url({{ entry.bild.one().url }})">
  <div class="container achterspaltenlayout text-center">
    {% set entries = entry.children().all() %}
    {% set entry = random(entries) %}
    <div id="zitat"  style="padding-bottom: 0px;"> {{ entry.text }}  </div>
    <div id="autor"> {{ entry.title }}  </div>
  </div>
</div> <!-- Das Wolkenbild mit den Zitaten drin -->

  <div class="container zwoelferspaltenlayout" style="padding-top: 4rem;">
  <p id="anleser" class="text-center"> Erfahren Sie mehr über uns </p>
  </div>

  {% set entry = craft.entries.section('ueberUns').slug('konzept').one() %}

  {% include '_layouts/weiterleitungkorrekt' %}

</div> <!-- Weißer Hintergrundcontainer -->


{% endblock %}
