
{% extends "_layouts/layoutHome.html" %}

{% block titelfuerseo %}
{% set entry = craft.entries.section('suchmaschinenoptimierung').slug('empfehlungen').one() %}
{{ entry.titelfeldFuerJens }}
{% endblock %}

{% block block1 %}

<div class="container-fluid text-center no-padding" style="padding-top: 150px; position: relative;">

  <nav aria-label="breadcrumb" id="info">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"> <a href="https://aufbau-website.de/craft/web/ueberUns">Über Uns</a></li>
    <li class="breadcrumb-item"> Empfehlungen</li>
  </ol>
</nav>

  <img class="img-fluid" id="welle" src="{{ craft.assets.filename('welle.png').one().getUrl() }}" style="position: absolute; width: 40%; left: 0px;">

<div class="container achterspaltenlayout" style="position: relative;">
    <h1 style="padding-bottom: 30px;"> Erfahren Sie, was Partner und Freunde über unsere Arbeit sagen
    </h1>
    <p id="anleser"> Chance e.V. wird von ganz unterschiedlichen Kirchen und anderen Einrichtungen in ganz Deutschland begleitet, unterstützt und empfohlen. Hier
      erzählen einige unserer Partner, was sie über unsere Arbeit denken.
    </p>
  </div>
</div>

<div class="container zwoelferspaltenlayout" id="empfehlungenDesktop" style="padding-bottom: 3rem;">

  <div class="card-columns">
  {% set entries = craft.entries.section('ueberUns').slug('empfehlungen').one().children().all() %}
  {# If there are any entries, loop through them #}
  {% if entries | length %}
      {% for entry in entries %}
      <div class="card bg-white">
        <div class="wrapper" style="background-color: #f8f5f2; max-height: 95px;">
        <img class="card-img-top rounded-circle" style="border:8px solid #f8f5f2; max-height: 160px; max-width: 160px; display: block; margin-left: auto; margin-right: auto;  width: 50;"
        src="{% if entry.bild.one() is not null %}  {{ entry.bild.one().getUrl() }}  {% endif %}" alt="Card image">
      </div>
        <div class="card-body" style="padding-top: 3rem;">
          <p class="card-text">
            <h3> {{ entry.title }} </h3>
            <h4 style="margin-top: -.5rem;"> {{ entry.anleser }} </h4>
            <div id="copy"> {{ entry.text }}
              <a href="{{ 'https://aufbau-website.de/craft/web/ueber-uns/empfehlung/' ~ entry.slug }}"> Weiterlesen</a>
            </div>
          </p>
          </p>
        </div>
      </div>
      {% endfor %}
  {% endif %}
    </div>
</div>

<div class="container zwoelferspaltenlayout" id="empfehlungenMobil" style="padding-top: 0;">

<div class="card-columns">

  {% set entries = craft.entries.section('ueberUns').slug('empfehlungen').one().children().all() %}

      {% for entry in entries %}
      <div class="card">
            <div class="row">
              <div class="col-4" style="text-align: center; white-space: nowrap;">
                 <span class="helper" style="display: inline-block; height: 100%; vertical-align: middle;"></span>
                  <img class="rounded-circle w-75" style="margin-left: 12.5%; vertical-align: middle; max-height: 100px;" src=" {% if entry.bild.one() is not null %} {{ entry.bild.one().url }} {% endif %}">
                </div>
                <div class="col-8">
                  <div class="card-body" style="padding: 0; padding-right: 1rem;">
                    <p class="card-text">
                      <h4 style="margin: 0;"> {{ entry.title }} </h4>
                      <div id="copy">
                        <a href="{{ 'https://aufbau-website.de/craft/web/ueber-uns/empfehlung/' ~ entry.slug }}"> Mehr erfahren</a>
                      </div>
                    </p>
                  </div>
            </div>
          </div>
        </div>

      {% endfor %}
  </div>
</div>


<div class="container-fluid no-padding" style="background-color: white; padding-bottom: 3rem;">

<div class="container zwoelferspaltenlayout" style="padding-top: 2rem;">
<p id="anleser" class="text-center"> Erfahren Sie mehr über unser Engagement vor Ort </p>
</div>

{% set entry = craft.entries.section('projekte').slug('projekte').one() %}

<div class="zwoelferspaltenlayout container" style="background-color: #f8f5f2; padding-top: 0px;">
<div class="row">
  <div class="col-md-4">
    <img class="img-fluid w-100" style="padding-bottom: 0px;" src="{% if entry.bild.one() is not null %} {{ entry.bild.one().getUrl() }}  {% endif %}">
  </div>
  <div class="col-md-8" style="padding-top: 2rem;">
    <h3> {{ entry.title }} </h3>
    <div id="copy"> {{ entry.anleser }}</div>
  </div>
</div>
</div> <!-- Weitere Informationen zum Konzept -->

</div> <!-- Weißer Hintergrundcontainer -->

{% endblock %}
