
{% extends "_layouts/layoutHome.html" %}


{% block headerbildPosition1 %}

<div class="container-fluid no-padding" style="padding-top: 70px;">
  <img class="img-fluid mx-auto d-block" src=" {{ craft.assets.filename('chance-ueber-uns-header.jpg').one().getUrl() }} ">
</div>


{% endblock %}

{% block block1 %}

<div class="container-fluid text-center" style="padding-top: 50px; position: relative;">


  <img class="img-fluid" src="{{ craft.assets.filename('welle.png').one().getUrl() }}" style="position: absolute; left:0; width: 40%;  z-index: -999;">


  <div class="container achterspaltenlayout">
      <h1 style="padding-bottom: 30px;"> Für ein gelingendes, selbstbestimmtes Leben in Einklang mit der Schöpfung  </h1>
      <p id="anleser"> Begleiten, bestärken, befähigen und bewahren – unser Ansatz zu einem selbstbestimmten und gelingendem Leben.
        Motiviert von der Liebe Gottes für Mensch und Natur.
      </p>
    </div>
  </div>


  <div class="container zwoelferspaltenlayout">
    <div class="card-deck">
      <div class="row">

  {% set entries = craft.entries.section('ueberUns').level(1).all() %}
    {% set counter = 0 %}

        {% for entry in entries %}  {% set counter = counter + 1 %}
        <div class="col-lg-4 col-md-6 col-sm-6" style="padding-bottom: 30px;">

        <div class="card border-light h-100">
          <img class="card-img-top"  src="  {% if entry.bild.one() is not null %}  {{ entry.bild.one().getUrl() }}  {% endif %}" alt="Card image">
          <div class="card-body">
              <h3>{{ entry.title }}</h3>
              <div id="copy"> {{ entry.text }} </div>
          </div>
        </div>
      </div>

      {% if counter == 6 %}  <div class="col-lg-4 col-md-3 col-sm-3"> </div> {% endif %}

        {% endfor %}
        </div>
      </div>
    </div>

{% endblock %}
