
{% extends "_layouts/layoutHome.html" %}



{% block block1 %}

<div class="container-fluid text-center no-padding" style="padding-top: 8rem; position: relative;">

  <nav aria-label="breadcrumb" id="info">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"> <a href="https://aufbau-website.de/craft/web/ueberUns">Über Uns</a></li>
    <li class="breadcrumb-item"> Konzept</li>
  </ol>
</nav>

  <img class="img-fluid" id="welle" src="{{ craft.assets.filename('welle.png').one().getUrl() }}" style="position: absolute; width: 40%; left: 0px;">

<div class="container achterspaltenlayout" style="position: relative;">  <div style="padding-bottom:3rem; ">

    <h1> Die Arbeit von Chance e.V. ist christlich, sozial und ökologisch </h1>
    <p id="anleser"> Sie beruht auf drei Prinzipien, die den Rahmen und die Natur unseres Engagements in allen seinen Aspekten bestimmen. </p>
    </div>
  </div>
</div>


<div class="container-fluid no-padding" style="background-color: #ffffff; padding-bottom: 3rem;">

<div class="container zwoelferspaltenlayout">

  <div class="row">
  {% set entries = craft.entries.section('ueberUns').slug('konzept').one().children().all() %}

  <style> /*Größe der Icons begrenzen*/
  @media all and (max-width: 700px)  {
    #konzeptIcons {
      max-height: 100px;
    }
    }
  </style>


  {# If there are any entries, loop through them #}
  {% if entries | length %}
      {% for entry in entries %}

      <div class="col-sm-1"></div>
      <div class="col-sm-2">
        <img class="img-fluid rounded-circle" id="konzeptIcons" src="{% if entry.bild.one() is not null %}  {{ entry.bild.one().getUrl() }}  {% endif %}" style="padding-bottom: 0; margin-bottom: 1rem;">
      </div>
      <div class="col-sm-1"></div>
      <div class="col-sm-8" style="padding-bottom: 2rem;">
        <h2 style="padding-bottom: 1rem;">{{ entry.title }}</h2>
        <div id="anleser"> {{ entry.anleser}} </div>
        <div id="copy"> {{ entry.text }} </div>

      </div>
      {% endfor %}
  {% endif %}
  </div>
</div>

  <img class="img-fluid mx-auto d-block" src=" {{ craft.assets.filename('chance-ueber-uns-konzept-familie.jpg').one().getUrl() }} ">

<div class="container zwoelferspaltenlayout" style="padding-top: 0px;">
<p id="anleser" class="text-center"> Erfahren Sie mehr über uns </p>
</div>

{% set entry = craft.entries.section('ueberUns').slug('leitbild').one() %}

<div class="zwoelferspaltenlayout container" style="background-color: #f8f5f2; padding-top: 0px;">
<div class="row">
  <div class="col-md-4">
    <img class="img-fluid w-100" style="padding-bottom: 0px;" src="{% if entry.bild.one() is not null %} {{ entry.bild.one().getUrl() }}  {% endif %}">
  </div>
  <div class="col-md-8" style="padding-top: 2rem;">
    <h3> {{ entry.title }} </h3>
    <div id="copy"> {{ entry.text }}</div>
  </div>
</div>
</div> <!-- Weitere Informationen zum Konzept -->

</div> <!-- Weißer Hintergrundcontainer -->

{% endblock %}
