
{% extends "_layouts/layoutHome.html" %}



{% block block1 %}

<div class="container-fluid text-center no-padding" style="padding-top: 150px; position: relative;">

  <nav aria-label="breadcrumb" id="info">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"> <a href="https://aufbau-website.de/craft/web/ueberUns">Über Uns</a></li>
    <li class="breadcrumb-item"> Motivation </li>
  </ol>
</nav>

  <img class="img-fluid" id="welle" src="{{ craft.assets.filename('welle.png').one().getUrl() }}" style="position: absolute; width: 40%; left: 0px;">

<div class="container achterspaltenlayout" style="position: relative;">
  <div style="padding-bottom:4rem;">
    {% set entry = craft.entries.section('ueberUns').slug('motivation').one() %}
    <h1 style="padding-bottom: 2rem;"> {{ entry.langerText }}   </h1>
    <div id="anleser"> {{ entry.zusatzfeld1 }} </div>
    </div>
  </div>
</div>

<div class="container-fluid no-padding style" style="background-color: #ffffff;">

<div class="container zwoelferspaltenlayout">
  <div class="row">
    {% set entry = craft.entries.section('ueberUns').slug('entstehung').one() %}
      <div class="col-md-9">
        <h3>{{ entry.title }}</h3> </br>
        <div id="copy"> {{ entry.text }} </div>
      </div>
      <div class="col-md-3">
        {% set entry = craft.entries.section('fuerSie').slug('freiwilligendienst').one() %}

      <div class="card border-light">
        <img class="card-img-top"  src="  {% if entry.bild.one() is not null %}  {{ entry.bild.one().getUrl() }}  {% endif %}" alt="Card image">
        <div class="card-body" style="background-color: #f8f5f2;">
            <h3>{{ entry.title }}</h3>
            <div id="copy"> {{ entry.anleser }} </div>
        </div>
      </div></div>
      <div class="col-1"></div>

  </div>
</div>
</div>

{% set entry = craft.entries.section('ueberUns').slug('motivation').one() %}

  <img class="img-fluid mx-auto d-block" style="padding-bottom: 0;" src="{% if entry.bild.one() is not null %} {{ entry.bild.one().url }} {% endif %}">

<div class="container-fluid no-padding" style="background-color: white; padding-bottom: 3rem;">

  <div class="container zwoelferspaltenlayout" style="padding-top: 2rem;">
  <p id="anleser" class="text-center"> Erfahren Sie mehr über uns </p>
  </div>

  {% set entry = craft.entries.section('ueberUns').slug('der-verein').one() %}

  <div class="zwoelferspaltenlayout container" style="background-color: #f8f5f2; padding-top: 0px;">
  <div class="row">
    <div class="col-md-4" style="padding: 0;">
      <img class="img-fluid w-100" style="padding-bottom: 0px;" src="{% if entry.bild.one() is not null %} {{ entry.bild.one().getUrl() }}  {% endif %}">
    </div>
    <div class="col-md-8" style="padding-top: 2rem; padding-left: 30px;">
      <h3> {{ entry.title }} </h3>
      <div id="copy"> {{ entry.text }}</div>
    </div>
  </div>
</div> <!-- Weitere Informationen zum Konzept -->

</div>
{% endblock %}
