
{% extends "_layouts/layoutHome.html" %}



{% block block1 %}

<div class="container-fluid text-center" style="padding-top: 150px; position: relative;">

<img class="img-fluid" src="{{ craft.assets.filename('welle.png').one().getUrl() }}" style="position: absolute; left:0; width: 40%;  z-index: -999;">

<div class="container Achter-Spaltenlayout">
  <div style="padding-bottom:80px; ">
    <h1 style="padding-bottom: 30px;"> Ihre Spenden kommen an </h1>
    <p id="anleser"> Mit Ihrer Spende verbessern Sie das Leben von Menschen und Gemeinschaften zielgerichtet und effizient. Ihre Hilfe kommt bei den Menschen vor Ort
      an und setzt dort positive Prozesse in Gang, die die Selbstbestimmung, Armutsbekämpfung und nachhaltige Entwicklung fördern. Erfahren Sie mehr
      über unseren Umgang mit Spenden. </p>
    </div>
  </div>
</div>


<div class="container-fluid no-padding" style="background-color: #ffffff;">

<div class="container achterspaltenlayout">

  <div class="row">

  {% set entries = craft.entries.section('ueberUns').slug('transparenz').one().children().all() %}

  {# If there are any entries, loop through them #}
  {% if entries | length %}

      {# For each entry we find, do this #}
      {% for entry in entries %}

        <h2>{{ entry.title }}</h2>
        <div id="copy"> {{ entry.text }} </div>

      {% endfor %}

  {% endif %}
      </div>
    </div>
  </div>

<div class="container-fluid no-padding">
  <img class="img-fluid" src=" {{ craft.assets.filename('chance-ueber-uns-arbeitsweise_farm.jpg').one().getUrl() }} ">
</div>

{% endblock %}
