
{% extends "_layouts/layoutHome.html" %}



{% block block1 %}

<div class="container-fluid text-center" style="padding-top: 150px; position: relative;">

<img class="img-fluid" src="{{ craft.assets.filename('welle.png').one().getUrl() }}" style="position: absolute; left:0; width: 40%;  z-index: -999;">

<div class="container achterspaltenlayout">
  {% set entry = craft.entries.section('fuerSie').slug('gerechtigkeit').one() %}

  <div style="padding-bottom:30px; ">
    <h1 style="padding-bottom: 30px;"> {{ entry.title }}  </h1>
    <div id="anleser"> {{ entry.anleser }}  </div>
    </div>
  </div>
</div>

<div class="container zwoelferspaltenlayout">

    <div class="row">

{% set entries = entry.children().all() %}

  {# If there are any entries, loop through them #}
  {% set counter = 0 %}

      {# For each entry we find, do this #}
      {% for entry in entries %}  {% set counter = counter + 1 %}
        {% if counter == 4 %} <div class="col-sm-4">  </div>   {% endif %}

      <div class="col-sm-4">
        <div class="row" style="height: 100%;">
          <div class="col-1"> </div>
            <div class="col-10" style="background-color: #ffffff;  padding-top: 15px;">
            <h3>{{ entry.title }}</h3>
            <div id="copy"> {{ entry.anleser }} </div>
          </div>
        </div>
    </div>
      {% endfor %}

    </div>
  </div>

{% endblock %}
