
{% extends "_layouts/layoutHome.html" %}



{% block block1 %}

<div class="container-fluid text-center" id="ersterContainer" style="padding-top: 120px; position: relative;">


  <img class="img-fluid" id="welle" src="{{ craft.assets.filename('welle.png').one().getUrl() }}" style="position: absolute; left:0; width: 40%;  z-index: -999;">


  <div class="container achterspaltenlayout" style="padding-top:0px;">
    {% set entry = craft.entries.section('fuerSie').slug('chance-kommt').one() %}

    <div style="padding-bottom:50px; ">
      <h1 style="padding-bottom: 30px;"> {{ entry.text }}  </h1>
      <div id="anleser"> {{ entry.zusatzfeld1 }}</div>
      </div>
    </div>
  </div>

  <div class="container zwoelferspaltenlayout">
    <div class="card-deck">
      <div class="row">

        {% set entries = craft.entries.section('fuerSie').level(1).all() %}
        {% set counter = 0 %}
        {% for entry in entries %}  {% if entry.slug != 'fuelleintrag' %}
        {% set counter = counter + 1 %}
        <div class="col-lg-4 col-md-6 col-sm-6" style="padding-bottom: 50px;">
        <div class="card border-light h-100">
          <img class="card-img-top"  src="  {% if entry.bild.one() is not null %}  {{ entry.bild.one().getUrl() }}  {% endif %}" alt="Card image">
          <div class="card-body">
              <h3>{{ entry.title }}</h3>
              <div id="copy"> {{ entry.anleser }} </div>
          </div>
        </div>
      </div>
      {% if counter == 6 %}  <div class="col-lg-4 col-md-3 col-sm-3"> </div> {% endif %}
      {% endif %}
        {% endfor %}
        </div>
      </div>
    </div>

    {% set entry = craft.entries.section('fuerSie').slug('freundesbrief').one() %}
    <div class="container-fluid no-padding" style="background-color: #ffffff;">
      <div class="container zwoelferspaltenlayout">
        <div class="row">
          <div class="col-sm-6">
            <h3> {{ entry.title }} </h3>
            <div id="anleser"> {{ entry.anleser }}    </div>
          </div>
          <div class="col-sm-6">
            <form class="form-inline" action="/action_page.php" style="padding-bottom: 20px;">
             <input type="email" class="form-control" placeholder=" Ihre E-Mail-Adresse" style="margin-right: 30px; padding-right: 60px;">
             <button type="submit" class="btn btn-primary">Anmelden</button>
           </form>
           <div id="copy"> {{ entry.text }} </div>
          </div>
        </div>
      </div>
    </div> <!-- Weißer Hintergrundcontainer -->

    {% set entry = craft.entries.section('fuerSie').slug('fuelleintrag').one() %}

    <div class="container zwoelferspaltenlayout text-center">
      <h2> {{ entry.title }} </h2>
      <div id="anleser"> {{ entry.anleser }}  </div>
    </div>

    <div class="container zwoelferspaltenlayout">
      {% set entries = entry.children().all() %}

    <div class="row">

      {% for entry in entries %}
      <div class="col-sm-4">
        <img class="img-fluid rounded-circle" src="{% if entry.bild.one() is not null %}  {{ entry.bild.one().getUrl() }}  {% endif %}" style="width: 40%; padding-bottom: 0;">
        <h4 style="padding-top: 1.5rem;"> {{ entry.title }} </h4>
        <div id="copy"> {{ entry.anleser }}   </div>
    </div>
      {% endfor %}

    </div>
  </div>  <!-- Ende Container -->

  <div class="container achterspaltenlayout text-center">
    <div id="anleser"> {{ entry.text }}  </div>
  </div>

  <div class="container-fluid no-padding"  style="background-image: url({{ entry.bild.one().url }});">
    <div class="row">
      <div class="col-1">  </div>
      <div class="col-2">   <img class="img-fluid" src="{{ entry.bild2.one().url }}" style="max-height: 200px;"> </div>
      <div class="col-1">  </div>
      <div class="col-7">
        <h4 style="color: white;"> {{ entry.zusatzfeld2 }} </h4>
        <div id="copy" style="color: white;"> {{ entry.zusatzfeld3 }}</div>
        <a href="https://aufbau-website.de/craft/web/projekte" class="btn btn-primary" role="button" style="margin-bottom: 2rem;">Jetzt Spenden</a>
      </div>
    </div>
  </div> <!-- Der orange Berg mit dem Spendenaufruf -->

{% endblock %}
