<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Card</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <link href="http://localhost/craft/templates/_layouts/stylevorgaben.css" rel="stylesheet" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>



</head>


<body>

  {% include "_layouts/navbar" %}

  <div class="container-fluid text-center" id="ersterContainer" style="padding-top: 200px;">


    <div class="row">

    <div class="col-md-2 col-lg-3">
    </div>

   <div class="col-md-8 col-lg-6">


     <div id="text1">
      <h1 style="padding-bottom: 40px"> Für Mensch und Schöpfung </h1>   <p> Chance e.V. ist eine christliche, soziale und ökologische Initiative für
      nachhaltige Entwicklung im peruanischen Amazonasgebiet und bei den
      Maasai in Kenia. </p>
    </div>
</div>
</div>
 </div>

 <div class="container-fluid">
   <img class="img-fluid" src="{{ craft.assets.filename('hintergrund_home.jpg').one().getUrl() }}" >
</div>


  {% block block1 %} {% endblock %}

</body>
</html>
