<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Card</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <link href="http://localhost/craft/templates/_layouts/stylevorgaben.css" rel="stylesheet" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <script src="http://localhost/craft/templates/_layouts/javascript.js"> </script>



</head>


<body>


      <div class="container-fluid no-padding" style="padding-top: 100px;">
        <img class="img-fluid" src="{{ craft.assets.filename('chance-ueber-uns-header.jpg').one().getUrl() }}">
      </div>

  {% include "_layouts/navbar" %}

  <div class="container-fluid text-center" id="ersterContainer" style="padding-top: 50px; position: relative;">


      <img class="img-fluid" src="{{ craft.assets.filename('welle.png').one().getUrl() }}" style="position: absolute; left:0; width: 40%;  z-index: -999;">


      <div class="container Achter-Spaltenlayout">
        <div id="text1" style="padding-bottom:80px; ">
          <h1 style="padding-bottom: 30px;"> Für ein gelingendes, selbstbestimmtes Leben in Einklang mit der Schöpfung </h1>
          <p> Begleiten, bestärken, befähigen und bewahren – unser Ansatz zu einem
            selbstbestimmten und gelingendem Leben. Motiviert von der Liebe Gottes für Mensch und Natur.
          </p>
          </div>
        </div>
      </div>


    {% block block1 %} {% endblock %}

  </body>
  </html>
