@font-face {
 font-family: 'ueberschrift1';
 src: url('http://localhost/craft/public/fonts/nerisBlack.otf');
}



@font-face {
 font-family: belotaBoldItalic;
 src: url('http://localhost/craft/public/fonts/bellota-bold-italic.otf');
}

@font-face {
 font-family: nerisLight;
 src: url('http://localhost/craft/public/fonts/neris-light.otf');
}

@font-face {
 font-family: sourceSansProLight;
 src: url('http://localhost/craft/public/fonts/source-sans-pro-light.ttf');
}

@font-face {
 font-family: 'Anleser';
 src: url('http://localhost/craft/public/fonts/source-sans-pro-light.ttf') format('ttf');
}

@font-face {
 font-family: sourceSansProLightItalic;
 src: url('http://localhost/craft/public/fonts/source-sans-pro-light-italic.ttf');
}

@font-face {
 font-family: sourceSansProSemibold;
 src: url('http://localhost/craft/public/fonts/source-sans-pro-semibold.ttf');
}

@font-face {
 font-family: sourceSansProSemiboldItalic;
 src: url('http://localhost/craft/public/fonts/source-sans-pro-semibold-italic.ttf');
}



h1 {
  color: #ed6e2c;
}

body {
  background-color: #f8f5f2;
}

p {
  font-size: 24px;
}

.container-fluid {
  background-image:  url(" http://localhost/craft/bilder/welle.png ");
  background-size: 40%;
  background-repeat: no-repeat;

}

.rectangle {
  height: 80px;
  background-color: #f8f5f2;
