
@font-face {
    font-family: 'source_sans_proSBdIt';
    src: url('fonts/source-sans-pro-semibold-italic.woff2') format('woff2'),
         url('fonts/source-sans-pro-semibold-italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nerisblack';
    src: url('fonts/nerisblack-webfont.woff2') format('woff2'),
         url('fonts/nerisblack-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'source_sans_prolight';
    src: url('fonts/source-sans-pro-light-webfont.woff2') format('woff2'),
         url('fonts/source-sans-pro-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


/* Entfernt das standardmäßige Padding der container-fluid klassen */
.no-padding {
  padding-left: 0;
  padding-right: 0;
}

/* Die Stylevorgabe, die für Text in der Website verwendet wird. */
.Achter-Spaltenlayout {
  max-width: 760px;">
}

/* Die Stylevorgabe, die für Text in der Website verwendet wird. */
.Zwoelfer-Spaltenlayout {
  max-width: 1160px;
  padding-bottom: 50px;
}


h1 {
  font-size: 52px;
  font-weight: bold;
  color: #ed6e2c;
  font-family: 'nerisblack';
}

h3 {
  font-size: 24px;
  color: #ed6e2c;
  padding-bottom: 7px;
}

#Anleser {
  font-size: 24px;
  font-family: 'source_sans_prolight';
  color: #333333;
}


/*Die im Layout vereinbare copy-Schriftgröße */
.card {
  font-size: 18px;
}

.copy {
  font-size: 18px;
  line-height: 28px;
}


body {
  background-color: #f8f5f2;
}
