
{% extends "_layouts/layoutHome.html" %}


{% block titelfuerseo %}
{% set entry = craft.entries.section('suchmaschinenoptimierung').slug('chance-e-v-kommt').one() %}
{{ entry.titelfeldFuerJens }}
{% endblock %}

{% block block1 %}

<style>
 hr {
  border-width: 1px;
}
h3 {
  padding-bottom: 1rem; }
h2 {
  padding-bottom: .5rem;
}
</style>

<div class="container-fluid text-center" style="padding-top: 10rem; position: relative;">

  <nav aria-label="breadcrumb" id="info">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"> <a href="https://aufbau-website.de/craft/web/fuerSie">Für Sie</a></li>
    <li class="breadcrumb-item"> Chance e.V. kommt zu Ihnen </li>
  </ol>
</nav>

<img class="img-fluid" id="welle" src="{{ craft.assets.filename('welle.png').one().getUrl() }}" style="position: absolute; left:0; width: 40%;">

<div class="container achterspaltenlayout" style="position: relative;">
    {% set entry = craft.entries.section('fuerSie').slug('informationen').one() %}
    <h1 style="padding-bottom: 2rem;"> {{ entry.title }}   </h1>
    <div id="anleser"> {{ entry.anleser }} </div>
  </div>
</div>

<div class="container-fluid no-padding style" style="background-color: white; padding-bottom: 5rem; padding-top: 5rem;">


  <div class="container achterspaltenlayout" id="anleser" style="padding-bottom: 4rem;">
    {{ entry.zusatzfeld2 }}
  </div>

  <div class="container achterspaltenlayout" id="saeulen" style="padding-top: 0rem; padding-bottom: 4rem;">
    {% set akkordionBilder = craft.entries.section('spendenfelderUndSo').slug('akkordion-bilder').one() %}
    {% set entries = craft.entries.section('fuerSie').slug('zitate-1').one().children().all() %}
    {% include '_layouts/codeschnipsel/accordion' %}

  </div>

  <div class="container zwoelferspaltenlayout" style="padding-top: 0;">
    <hr style="margin-top: 2rem; border-width: 1px;"> <br>
  <p id="anleser" class="text-center" style="padding-top: 2rem; padding-bottom: 3rem;"> Erfahre, wie du vor Ort helfen kannst  </p>
  </div>

  <style media="screen">
    .card-header.bg-white, .card {
      background-color: #f8f5f2 !important;
    }
  </style>

  {% set entry = craft.entries.section('fuerSie').slug('freiwilligendienst').one() %}

  {% include '_layouts/weiterleitungkorrekt' %}

</div>
{% endblock %}
