
{% extends "_layouts/layoutHome.html" %}

{% block titelfuerseo %}
{% set entry = craft.entries.section('suchmaschinenoptimierung').slug('für-sie-daheim').one() %}
{{ entry.titelfeldFuerJens }}
{% endblock %}

{% block block1 %}

<div class="container-fluid text-center" style="padding-top: 6.5rem; position: relative;">

  <nav aria-label="breadcrumb" id="info">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"> <a href="https://aufbau-website.de/craft/web/fuerSie">Für Sie</a></li>
    <li class="breadcrumb-item"> Für Sie daheim </li>
  </ol>
</nav>

  <img class="img-fluid" id="welle" src="{{ craft.assets.filename('welle.png').one().getUrl() }}" style="position: absolute; left:0; width: 40%;">

  <div class="container achterspaltenlayout" style="position: relative;">
    {% set entry = craft.entries.section('fuerSie').slug('gerechtigkeit').one() %}

      <h1 style="padding-bottom: 2rem;"> {{ entry.title }}  </h1>
      <div id="anleser"> {{ entry.anleser }}  </div>
  </div>
</div>


{% set entries = entry.children().all() %}

<div class="container zwoelferspaltenlayout" style="padding-top: 0;">
  <div class="card-deck">
    <div class="row">

      {% set counter = 0 %}

      {% for entry in entries %}
      {% set counter = counter + 1 %}
      <div class="col-lg-4 col-md-6 col-sm-6" style="padding-bottom: 5rem; padding-left: 5px; padding-right: 5px;">

        <div class="card border-light h-100">
          <img class="card-img-top"
          src="  {% if entry.bild.one() is not null %}  {{ entry.bild.one().getUrl() }}  {% endif %}" alt="Card image">
          <div class="card-body">
            <h3>{{ entry.title }}</h3>
            <div id="copy"> {{ entry.anleser }} </div>
          </div>
        </div>
      </div>
      {% if counter == 6 %}  <div class="col-lg-4 col-md-3 col-sm-3"> </div> {% endif %}
      {% endfor %}
    </div>
  </div>
</div>


{% set entry = craft.entries.section('fuerSie').slug('fuelleintrag').one() %}
{% include '_layouts/spendenaufrufmitherz' %}


{% endblock %}
