
{% extends "_layouts/layoutHome.html" %}

{% block titelfuerseo %}
{% set entry = craft.entries.section('suchmaschinenoptimierung').slug('projektbesuch').one() %}
{{ entry.titelfeldFuerJens }}
{% endblock %}

{% block block1 %}

<div class="container-fluid text-center" style="padding-top: 7rem; position: relative;">

  <nav aria-label="breadcrumb" id="info">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"> <a href="https://aufbau-website.de/craft/web/fuerSie">Für Sie</a></li>
    <li class="breadcrumb-item"> Projektbesuch </li>
  </ol>
</nav>

<img class="img-fluid" id="welle" src="{{ craft.assets.filename('welle.png').one().getUrl() }}" style="position: absolute; left:0; width: 40%;">

<div class="container achterspaltenlayout" style="position: relative;">
  {% set entry = craft.entries.section('fuerSie').slug('besuchen-vor-ort').one() %}

    <h1 style="padding-bottom: 2rem;"> {{ entry.title }}  </h1>
    <div id="anleser"> {{ entry.anleser }}  </div>
    </div>
</div>

<div class="container-fluid no-padding" style="background-color: #ffffff; padding-top: 5rem; padding-bottom: 5rem;">
<div class="container achterspaltenlayout" style="padding-bottom: 5rem;">
  <img class="img-fluid" style="padding-bottom: 5rem;" src="{% if entry.bild.one() is not null %}  {{ entry.bild.one().getUrl() }}  {% endif %}">
  <div id="anleser" class="text-center" style="padding-bottom: 1rem;"> {{ entry.zusatzfeld1 }}</div>
  <div id="copy"> {{ entry.text }} </div>
</div>

  <div class="container achterspaltenlayout" id="info">
    <hr style="margin-bottom: 2rem;">
    {{ entry.zusatzfeld2 }}
  </div>

  <div class="container zwoelferspaltenlayout text-center">
    <hr style="margin-bottom: 2rem;">
   <div id="copy" style="padding-bottom: 5rem;"> Das könnte Sie auch interessieren</div>
  </div>

  {% set entry = craft.entries.section('fuerSie').slug('daheim').one() %}
  {% include '_layouts/weiterleitungkorrekt' %}

</div>

{% endblock %}
