
{% extends "_layouts/layoutHome.html" %}

{% block titelfuerseo %}
{% set entry = craft.entries.section('suchmaschinenoptimierung').slug('zitate').one() %}
{{ entry.titelfeldFuerJens }}
{% endblock %}

{% block block1 %}

<style>
 hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-width: 2px;
}
</style>

<div class="container-fluid text-center" id="ersterContainer" style="padding-top: 7rem; position: relative;">

  <nav aria-label="breadcrumb" id="info">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"> <a href="https://aufbau-website.de/craft/web/fuerSie">Für Sie</a></li>
    <li class="breadcrumb-item"> Zitate </li>
  </ol>
</nav>

  <img class="img-fluid" id="welle" src="{{ craft.assets.filename('welle.png').one().getUrl() }}" style="position: absolute; left:0; width: 40%;">

  <div class="container achterspaltenlayout" style="padding-top:0px; position: relative;">
    {% set entry = craft.entries.section('fuerSie').slug('zitate').one() %}

      <h1 style="padding-bottom: .5rem;"> {{ entry.zusatzfeld1 }}  </h1>
      <div id="anleser"> {{ entry.text }}</div>
    </div>
</div>

  <div class="container-fluid no-padding" style="background-color: #ffffff; padding: 5rem 0;">
    <div class="container achterspaltenlayout text-center">
      {% set entries = entry.children().all() %}

    {% for entry in entries %}
     <div id="copy" style="padding-bottom: 1rem;"> {{ entry.title }} </div>
     <div id="autor"> {{ entry.anleser }} </div>
     {% endfor %}

    </div>

    <div class="container zwoelferspaltenlayout" style="padding-top: 0px;">
    <hr> <br> <p id="anleser" class="text-center"> Wofür wir uns einsetzen </p>
    </div>

    {% set entry = craft.entries.section('projekte').slug('themen').one() %}
    {% include '_layouts/weiterleitungkorrekt' %}


  </div> <!-- Weißer Hintergrundcontainer -->



{% endblock %}
