<div class="container-fluid no-padding" style="background-color: #333333; padding-top: 0; color: #d7d7d7;" id="copy">

<div class="container" id="footer">
  <div class="row">
    <div class="col-lg-8 col-md-0">  </div>
    <div class="col-lg-4 col-md-11">
      <a href="www.mein-regenwald.de" class="btn btn-success">Der Chance-Regenwald <br> <strong>https://www.mein-regenwald.de</strong></a>
    </div>
  </div>
</div>

  <style>
  #footer .btn-success {
    background-image: linear-gradient(to right, #678a45 , #9eac50);
    text-align: left;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-width: 0;
    padding: 20px;
  }

  #footerDesktop {
    input[type="email"]::-webkit-input-placeholder {
      color: white !important;
    }

    input[type="email"]:-moz-placeholder { /* Firefox 18- */
      color: white !important;
    }

    input[type="email"]::-moz-placeholder {  /* Firefox 19+ */
      color: white !important;
    }

    input[type="email"]:-ms-input-placeholder {
      color: white !important;
    }
  }

  #footerHandy {
    input[type="email"]::-webkit-input-placeholder {
      color: white !important;
    }

    input[type="email"]:-moz-placeholder { /* Firefox 18- */
      color: white !important;
    }

    input[type="email"]::-moz-placeholder {  /* Firefox 19+ */
      color: white !important;
    }

    input[type="email"]:-ms-input-placeholder {
      color: white !important;
    }
  }
  #footerDesktop a { /* Die Links im Footer weiß einfärben */
      color: #d7d7d7;
  }

  #footerDesktop a:hover { /* Die Links im Footer weiß einfärben */
      color: #ffffff;
      text-decoration: none;
  }
  #footerDesktop h4 {
    color: #d7d7d7;
  }

  #footerHandy a { /* Die Links im Footer weiß einfärben */
      color: #d7d7d7;
  }
  #footerHandy h4 {
    color: #d7d7d7;
  }
  #footerHandy p {
    margin-bottom: 0;
  }

</style>

<div class="container" id="footerDesktop" style="padding-top: 0;">

  <div class="row">
    <div class="col-sm-7" style="margin-top: -12px;">

      <h4 style="color: #d7d7d7;"> Freundesbrief abbonnieren <h4>
        <p style="color: #d7d7d7;" id="copy"> Lassen Sie sich ungefähr einmal monatlich durch unseren kostenfreien
          Freundesbrief „Chance-Aktuell“ informieren. </p>

          {% macro errorList(errors) %}
          {% if errors %}
          <ul class="errors">
            {% for error in errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
          {% endif %}
          {% endmacro %}

          {% from _self import errorList %}

          <form class="form-inline" method="post" action="" accept-charset="UTF-8">
            {{ csrfInput() }}
            <input type="hidden" name="action" value="contact-form/send">
            {{ redirectInput('contact/thanks') }}

            <input id="from-email" required class="form-control" type="email" style="background-color: #333333; margin-right: 1rem; padding-right: 3rem;" name="fromEmail" placeholder="Ihre E-Mail-Adresse" value="{{ message.fromEmail ?? '' }}">
            {{ message is defined and message ? errorList(message.getErrors('fromEmail')) }}
            <input type="submit" value="Anmelden" class="btn btn-light">

            <textarea style="display: none;" rows="10" cols="40" id="message" name="message">Die oben genannte E-Mail-Adresse würde sich gerne für den Newsletter anmelden.</textarea>
            {{ message is defined and message ? errorList(message.getErrors('message')) }}

          </form>

          <p style="padding-top: 40px; margin-bottom: 0; color: #d7d7d7;" id="copy"> Zweimal im Jahr versenden wir einen längeren Freundesbrief per Post.
          <br> <a href="https://aufbau-website.de/craft/web/kontakt">Diesen können Sie hier bestellen</a>

          </div>

          <div class="col-sm-1">  </div>

          <div class="col-sm-4" style="padding-top: 40px;">
            <h4 style="margin-bottom: 0;"> Spendenkonto </h4>
            {% set entry = craft.entries.section('spendenfelderUndSo').slug('footer-mobile').one() %}
            {{ entry.textfeld }}
                </div>
              </div>


              <!-- Trennlinie für den Footer -->
              <hr style="border-top-color: #d7d7d7; margin-top: 35px; margin-bottom: 40px;">


              <!-- Der zweite Teil des Footers mit den Links -->
              {% set entries = craft.entries.section('spendenfelderUndSo').slug('footer').one().children().all() %}
              <div class="row" id="navlinksFooter">

                {% for entry in entries %}
                <div class="col-sm-3" id="copy">
                  {{ entry.text }}
                </div>
                {% endfor %}

              </div>

              <!-- Trennlinie für den Footer -->
              <hr style="border-top-color: #d7d7d7; margin-top: 24px; margin-bottom: 20px;">


              <!-- Der letzte Teil des Footers -->
              <div class="row" id="info" style="padding-bottom: 20px; line-height: 25px;">
                {% set entry = craft.entries.section('spendenfelderUndSo').slug('footer').one() %}
                        {{ entry.text}} <!-- Das col-layout ist in craft gespeichert -->

                        <div class="col-sm-1"> <a target="_blank" href="https://www.facebook.com/chanceinternational/"> <img class="img-fluid float-right" style="height: 25px; padding-bottom: 0;" src="{% if entry.bild.one() is not null %} {{ entry.bild.one().url }} {% endif %}"> </a> </div>
              </div>

            </div> <!-- Normaler Container -->



            <div class="container" id="footerHandy" style="padding-top: 1rem;"> <!-- Beginn Handy-footer -->
              <span >
              {% set entry = craft.entries.section('spendenfelderUndSo').slug('footer-mobile').one() %}
              {{ entry.text }}
              <hr style="margin: 1rem 0">
              <h4 style="margin-bottom: 0;"> Spendenkonto </h4>
              {{ entry.textfeld }}
              </span>

              <hr style="margin: 1rem 0">

              <div class="row" id="info" style="padding-bottom: 20px;">

                        {{ entry.zusatzfeld1}}
                        <div class="col-sm-12" style="padding-top: 2rem;"> <a target="_blank" href="https://www.facebook.com/chanceinternational/"> <img class="img-fluid float-right" style="height: 25px; padding-bottom: 0;" src="{% if entry.bild.one() is not null %} {{ entry.bild.one().url }} {% endif %}"> </a> </div>
              </div>
            </div> <!-- Footer für Mobilgeräte -->


          </div> <!-- Hintergrund-Container -->
