
<div id="navbarDesktop">

  <style>
    .nav-item {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }

    @media all and (max-width: 1220px) {

      .nav-item {
        padding-left: .5rem;
        padding-right: .5rem;
      }
    }

  </style>

  <!-- navbar-light links the colors with the background image -->
  <nav class="navbar navbar-expand-lg fixed-top navbar-light" data-toggle="affix" style="padding: 0px;">

    <div class="container zwoelferspaltenlayout" style="padding-top: 0; padding-bottom: 0;">

      <!-- Chance Logo -->
      <a class="navbar-brand"  href="https://www.chance-international.org/">
        <img src="{{ craft.assets.filename('chance-logo-rgb.png').one().getUrl() }}" id="logo" alt="Logo" style="width: 160px; height: 141.5px;">
      </a>



      <!-- Toggler/collapsibe Button -->
      <button class="navbar-toggler" id="hamburger" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navbar links -->
      <div class="collapse navbar-collapse" id="collapsibleNavbar" style="justify-content: center;">  <!-- Sehr wichtiger justify-content: center-->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="https://www.chance-international.org/" id="home"> HOME </a>
          </li>

          <div class="dropdown">
            <li class="nav-item dropdown" >
              <a class="nav-link" data-toggle="dropdown"
              href="https://www.chance-international.org/ueberUns" id="ueberUns"> ÜBER UNS </a>
              <div class="pfeil">  </div>
              <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu" id="naviSubmenu">
                <li class="dropdown-item"> <a href="https://www.chance-international.org/ueberUns"> Übersicht Über uns</a> </li>
                <li class="dropdown-divider"></li>
                <li class="dropdown-item"> <a href="https://www.chance-international.org/ueberUns/arbeitsweise.html"> Arbeitsweise</a> </li>
                <li class="dropdown-divider"></li>
                <li class="dropdown-item"> <a href="https://www.chance-international.org/ueberUns/konzept.html"> Konzept</a> </li>
                <li class="dropdown-divider"></li>
                <li class="dropdown-item"> <a href="https://www.chance-international.org/ueberUns/leitbild.html"> Leitbild</a> </li>
                <li class="dropdown-divider"></li>
                <li class="dropdown-item"> <a href="https://www.chance-international.org/ueberUns/motivation.html"> Motivation</a> </li>
                <li class="dropdown-divider"></li>
                <li class="dropdown-item"> <a href="https://www.chance-international.org/ueberUns/verein.html"> Der Verein</a> </li>
                <li class="dropdown-divider"></li>
                <li class="dropdown-item"> <a href="https://www.chance-international.org/ueberUns/transparenz.html"> Transparenz</a> </li>
                <li class="dropdown-divider"></li>
                <li class="dropdown-item">  <a tabindex="-1" href="https://www.chance-international.org/ueberUns/empfehlungen.html">Empfehlungen</a>  </li>
              </li>
            </ul>
          </div>

          <div class="dropdown">
            <li class="nav-item dropdown">
              <a class="nav-link" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false" href="https://www.chance-international.org/projekte" id="projekte"> PROJEKTE </a>

              <div class="pfeil">  </div>

              <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu" id="naviSubmenu">
                <li class="dropdown-item"> <a href="https://www.chance-international.org/projekte"> Übersicht Projekte </a> </li>
                <li class="dropdown-divider"></li>
                <li class="dropdown-item"> <a href="https://www.chance-international.org/projekte/wowirarbeiten.html"> Wo wir arbeiten</a> </li>
                <li class="dropdown-divider"></li>
                <li class="dropdown-submenu">
                  <a  class="dropdown-item obermenu" tabindex="-1" href="https://www.chance-international.org/projekte/programme.html">Programme</a>
                  <ul class="dropdown-menu ausklappbar">
                    <li class="dropdown-item"><a tabindex="-1" href="https://www.chance-international.org/projekte/programme/dorfentwicklung.html">Dorfentwicklung</a></li>
                    <li class="dropdown-divider"></li>
                    <li class="dropdown-item"><a href="https://www.chance-international.org/projekte/programme/kinderpate.html">Kinderpaten</a></li>
                    <li class="dropdown-divider"></li>
                    <li class="dropdown-item"><a href="https://www.chance-international.org/projekte/programme/naturschutz.html">Umwelt- und Naturschutz</a></li>
                  </ul>
                </li>
                <li class="dropdown-divider"></li>
                <li class="dropdown-item"> <a href="https://www.chance-international.org/projekte/themen.html"> Themen</a> </li>
                <li class="dropdown-divider"></li>
                <li class="dropdown-item">
                  <a  href="https://www.chance-international.org/projekte/erfahrungsberichte.html">Erfahrungsberichte</a>
                </li>
                <li class="dropdown-divider"></li>
                <li class="dropdown-item">
                  <a  href="https://www.chance-international.org/projekte/projektberichte.html">Projektberichte</a>
                </li>
              </li>
            </ul>
          </div>

          <div class="dropdown">
            <li class="nav-item dropdown">
              <a class="nav-link" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false" href="https://www.chance-international.org/spenden" id="spenden"> SPENDEN </a>
              <div class="pfeil">  </div>
              <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu" id="naviSubmenu">
                <li class="dropdown-item">
                  <a href="https://www.chance-international.org/spenden">Übersicht Spenden</a>
                </li>
                <li class="dropdown-divider"></li>
                <li class="dropdown-item">
                  <a href="https://www.chance-international.org/spenden/jetztspenden.html">Jetzt Spenden</a>
                </li>
                <li class="dropdown-divider"></li>
                <li class="dropdown-item">
                  <a href="https://www.chance-international.org/spenden/patewerden.html">Pate werden</a>
                </li>
                <li class="dropdown-divider"></li>
                <li class="dropdown-item">
                  <a  href="https://www.chance-international.org/spenden/schenkenundspenden.html">Schenken und Spenden</a>
                </li>
                <li class="dropdown-divider"></li>
                <li class="dropdown-item">
                  <a href="https://www.chance-international.org/spenden/einkaufenundspenden.html">Einkaufen und Spenden</a>
                </li>
              </li>
            </div>

            <div class="dropdown">
              <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false" href="https://www.chance-international.org/fuerSie" id="fuerSie"> FÜR SIE </a>
                <div class="pfeil">  </div>
                <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu" id="naviSubmenu">
                  <li class="dropdown-item"> <a href="https://www.chance-international.org/fuerSie"> Übersicht Für Sie </a> </li>
                  <li class="dropdown-divider"></li>
                  <li class="dropdown-item"> <a href="https://www.chance-international.org/fuerSie/chancekommt.html"> Chance e.V. kommt zu Ihnen</a> </li>
                  <li class="dropdown-divider"></li>
                  <li class="dropdown-submenu">
                    <a  class="dropdown-item" tabindex="-1" href="https://www.chance-international.org/fuerSie/freiwilligendienst.html">Freiwilligendienst</a>
                    <ul class="dropdown-menu">
                      <li class="dropdown-item"><a tabindex="-1" href="https://www.chance-international.org/fuerSie/freiwillig/weltwaerts.html">Mit "weltwärts" nach Peru</a></li>
                      <li class="dropdown-divider"></li>
                      <li class="dropdown-item"><a href="https://www.chance-international.org/fuerSie/freiwillig/peru.html">Weitere Einsatzmöglichkeiten in Peru</a></li>
                      <li class="dropdown-divider"></li>
                      <li class="dropdown-item"><a href="https://www.chance-international.org/fuerSie/freiwillig/bewerbung-1.html">Deine Bewerbung</a></li>
                      <li class="dropdown-divider"></li>
                      <li class="dropdown-item"><a href="https://www.chance-international.org/fuerSie/freiwillig/erfahrungsberichte.html">Erfahrungsberichte</a></li>
                    </ul>
                  </li>
                  <li class="dropdown-divider"></li>
                  <li class="dropdown-item"> <a href="https://www.chance-international.org/fuerSie/projektbesuch.html">Projektbesuch</a> </li>
                  <li class="dropdown-divider"></li>
                  <li class="dropdown-submenu">
                    <a  class="dropdown-item" tabindex="-1" href="https://www.chance-international.org/fuerSie/daheim.html">Für Sie daheim</a>
                    <ul class="dropdown-menu">
                      <li class="dropdown-item"><a tabindex="-1" href="https://www.chance-international.org/fuerSie/daheim/consumermission.html">"Consumer Missions"</a></li>
                      <li class="dropdown-divider"></li>
                      <li class="dropdown-item"><a href="https://www.chance-international.org/fuerSie/daheim/kaffee.html">Kaffee - unsere tägliche Chance</a></li>
                      <li class="dropdown-divider"></li>
                      <li class="dropdown-item"><a href="https://www.chance-international.org/fuerSie/daheim/blumen.html">Bäume für Kenia statt Blumen für Euro</a></li>
                    </ul>
                  </li>
                  <li class="dropdown-divider"></li>
                  <li class="dropdown-item"> <a href="https://www.chance-international.org/fuerSie/presse">Presse und Downloads</a> </li>
                  <li class="dropdown-divider"></li>
                  <li class="dropdown-item"> <a href="https://www.chance-international.org/fuerSie/literaturtipps.html">Literaturtipps</a> </li>
                  <li class="dropdown-divider"></li>
                  <li class="dropdown-item"> <a href="https://www.chance-international.org/fuerSie/zitate.html">Zitate</a> </li>

                </li>
              </ul>
            </div>
            <li class="nav-item">
              <a class="nav-link" href="https://www.chance-international.org/blog" id="blog"> BLOG </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.chance-international.org/kontakt" id="kontakt"> KONTAKT </a>
            </li>

          </ul>
        </div>
      </div>

    </nav>

    <div class="container-fluid no-padding" style="position:fixed; top:-2px; z-index: 900;">
      <div class="rectangle" id="rechteck"></div>
    </div>

</div>
