<div id="navbarHandy" style="display: none;">

{% include '_layouts/codeschnipsel/navbarmobile' %}

<div class="navbarMobilgeraet">

  <div style="background-color: #f8f5f2; position: fixed; top: 0; height: 5rem; width: 100%; z-index: 1;" id="grauerBalken"> </div>

<div class="nav" style="position: fixed; top: 0; overflow: hidden; z-index: 1; background-color: transparent;">
  {% set entry = craft.entries.section('spendenfelderUndSo').slug('navbar').one() %}

  <a href="https://aufbau-website.de/craft/web/">
    <img style="display: inline; margin-left: 2.5rem; width: 101.5px; height: 90px;" src="{{ craft.assets.filename('chance-logo-rgb.png').one().getUrl() }}" id="logoMobile" alt="Logo">
  </a>

  <input type="checkbox" id="menu"/> <!-- Hamburger Menu, das nach unten klappt -->
  <div id="copy" style="padding: 1rem; font-size: 18px; display: flex; justify-content: center;"> <span style="line-height: 32px;" id="menuSchrift">Menü</span>
  <label for="menu" id="nav-icon"><img id="hamburgerMobile" src=" {{ entry.bild3.one().url }} "> </label>
  </div>

  <div class="multi-level" style="width: 100vw; height: 100vh; padding-right: 2rem;">

    <div class="item" id="homeBox">
      <a href="https://aufbau-website.de/craft/web/" id="naviUeberschrift" style="padding-right: 20%; padding-top: 10%;">HOME</a>
      <hr> <!-- Horizontal Ruler für Abstände -->
    </div>

    <div class="item" id="ersteBox" >
      <a href="https://aufbau-website.de/craft/web/ueberUns" style="display: inline; padding-right: 20%;" id="linkUeberUns" >ÜBER UNS</a>
      <input type="checkbox" id="A"/>
      <label for="A">   <img src=" {{ entry.bild.one().url }} " id="pfeil1" class="arrow" style="float: right;">  </label>
      <br clear="all" /> <!-- Einen rabiaten Zeileumbruch am Ende -->
      <ul>
        <li id="ueberUnsSchrift" class="nichtklickbareUeberschriften"> ÜBER UNS</li> <hr>
        <li > <a href="https://aufbau-Website.de/craft/web/ueberUns/arbeitsweise.html"> Arbeitsweise</a> </li> <hr>

        <li > <a href="https://aufbau-Website.de/craft/web/ueberUns/konzept.html"> Konzept</a> </li> <hr>

        <li > <a href="https://aufbau-Website.de/craft/web/ueberUns/leitbild.html"> Leitbild</a> </li> <hr>

        <li > <a href="https://aufbau-Website.de/craft/web/ueberUns/motivation.html"> Motivation</a> </li> <hr>

        <li > <a href="https://aufbau-Website.de/craft/web/ueberUns/verein.html"> Der Verein</a> </li> <hr>

        <li > <a href="https://aufbau-Website.de/craft/web/ueberUns/transparenz.html"> Transparenz</a> </li> <hr>

        <li > <a href="https://aufbau-Website.de/craft/web/ueberUns/empfehlungen.html"> Empfehlungen</a> </li>
      </ul>
      <hr> <!-- Horizontal Ruler für Abstände -->
    </div>

    <div class="item" id="zweiteBox" >
      <a href="https://aufbau-Website.de/craft/web/projekte" id="linkProjekte" style="display: inline; padding-right: 20%;">PROJEKTE</a>
      <input type="checkbox" id="B"/>
      <label for="B">   <img src=" {{ entry.bild.one().url }} " class="arrow" id="pfeil2" style="float: right;">  </label>

      <br clear="all" /> <!-- Einen rabiaten Zeileumbruch am Ende -->
      <ul> <!-- Dropdown beginnt -->
        <li id="projekteSchrift" class="nichtklickbareUeberschriften"> PROJEKTE</li> <hr>
        <li> <a href="https://aufbau-Website.de/craft/web/projekte/wowirarbeiten.html"> Wo wir arbeiten</a> </li> <hr>

        <li>
          <div class="sub-item" id="subItemProjekte"> <!-- Zweite Dropdown-Ebene beginnt, also Programme -> Dorfentwicklung und so -->
            <a href="https://aufbau-Website.de/craft/web/projekte/programme.html" style="display: inline; padding-right: 20%;">Programme</a>
            <input type="checkbox" id="B-A"/>
            <label for="B-A">   <img src=" {{ entry.bild.one().url }} " class="pfeilErsteUnterebene" </label>
          </div>
        </li> <hr>
        <li> <a href="https://aufbau-Website.de/craft/web/projekte/themen.html"> Themen</a> </li> <hr>
        <li> <a href="https://aufbau-Website.de/craft/web/projekte/erfahrungsberichte.html">Erfahrungsberichte</a>  </li> <hr>
        <li> <a href="https://aufbau-Website.de/craft/web/projekte/projektberichte.html">Projektberichte</a>  </li>
      </ul>
      <hr> <!-- Horizontal Ruler für Abstände -->
    </div>

    <div id="projekteProgramme" style="display: none;">
      <input type="checkbox" id="B-A1"/>
      <label for="B-A1">   <img src=" {{ entry.bild2.one().url }} " id="pfeil12" class="pfeilUnterebene">  </label>
      <br clear="all" /> <!-- Einen rabiaten Zeileumbruch am Ende -->
      <ul>
        <li id="projekteProgramme"> Programme</li> <hr>
        <li> <a href="https://aufbau-Website.de/craft/web/projekte/programme/dorfentwicklung.html">Dorfentwicklung</a></li> <hr>
        <li> <a href="https://aufbau-Website.de/craft/web/projekte/programme/kinderpate.html">Kinderpaten</a></li> <hr>
        <li> <a href="https://aufbau-Website.de/craft/web/projekte/programme/naturschutz.html">Umwelt- und Naturschutz</a></li> <hr>
      </ul>
    </div>

    <div class="item" id="dritteBox" >
      <a href="https://aufbau-Website.de/craft/web/spenden" id="linkSpenden" style="display: inline; padding-right: 20%;">SPENDEN</a>
      <input type="checkbox" id="C"/>
      <label for="C">   <img src=" {{ entry.bild.one().url }} " class="arrow" id="pfeil3" style="float: right;">  </label>
      <br clear="all" /> <!-- Einen rabiaten Zeileumbruch am Ende -->

      <ul> <!-- Dropdown beginnt -->
        <li id="spendenSchrift" class="nichtklickbareUeberschriften"> SPENDEN</li> <hr>
        <li>  <a href="https://aufbau-Website.de/craft/web/spenden">Übersicht Spenden</a></li> <hr>
        <li> <a href="https://aufbau-Website.de/craft/web/spenden/jetztspenden.html">Jetzt Spenden</a></li> <hr>
        <li> <a href="https://aufbau-website.de/craft/web/spenden/patewerden.html">Pate werden</a></li> <hr>
        <li> <a href="https://aufbau-Website.de/craft/web/spenden/schenkenundspenden.html">Schenken und Spenden</a></li> <hr>
        <li> <a href="https://aufbau-Website.de/craft/web/spenden/einkaufenundspenden.html">Einkaufen und Spenden</a></li>
      </ul>
        <hr> <!-- Horizontal Ruler für Abstände -->
    </div> <!-- Dritte Box (Spenden) - Ende -->

    <div class="item" id="vierteBox" >
      <a href="https://aufbau-website.de/craft/web/fuerSie" id="linkFuerSie" style="display: inline; padding-right: 20%;">FÜR SIE</a>
      <input type="checkbox" id="D"/>
      <label for="D">   <img src=" {{ entry.bild.one().url }} " class="arrow" id="pfeil4" style="float: right;">  </label>
      <br clear="all" /> <!-- Einen rabiaten Zeileumbruch am Ende -->

      <ul> <!-- Dropdown beginnt -->
        <li id="fuerSieSchrift" class="nichtklickbareUeberschriften"> FÜR SIE</li> <hr>
        <li> <a href="https://aufbau-Website.de/craft/web/fuerSie/chancekommt.html"> Chance e.V. kommt zu Ihnen</a> </li> <hr>
        <li>
          <div class="sub-item" id="subItemFreiwilligendienst"> <!-- Zweite Dropdown-Ebene beginnt, also Programme -> Dorfentwicklung und so -->
            <a href="https://aufbau-website.de/craft/web/fuerSie/freiwilligendienst.html" style="display: inline; padding-right: 20%;">Freiwilligendienst</a>
            <input type="checkbox" id="D-A"/>
            <label for="D-A">   <img src=" {{ entry.bild.one().url }} " class="pfeilErsteUnterebene">  </label>
          </div>
        </li> <hr>
        <li> <a href="https://aufbau-Website.de/craft/web/fuerSie/projektbesuch.html">Projektbesuch</a> </li> <hr>
        <li>
          <div class="sub-item" id="subItemDaheim"> <!-- Zweite Dropdown-Ebene beginnt, also Programme -> Dorfentwicklung und so -->
            <a href="https://aufbau-website.de/craft/web/fuerSie/daheim.html" style="display: inline; padding-right: 20%;">Für Sie daheim</a>
            <input type="checkbox" id="D-B"/>
            <label for="D-B">   <img src=" {{ entry.bild.one().url }} " class="pfeilErsteUnterebene">  </label>
          </div>
        </li> <hr>
        <li> <a href="https://aufbau-website.de/craft/web/fuerSie/presse">Presse und Downloads</a> </li> <hr>
        <li> <a href="https://aufbau-Website.de/craft/web/fuerSie/literaturtipps.html">Literaturtipps</a> </li> <hr>
        <li> <a href="https://aufbau-Website.de/craft/web/fuerSie/zitate.html">Zitate</a> </li>
      </ul>
      <hr> <!-- Horizontal Ruler für Abstände -->
    </div>


    <div id="fuerSieFreiwilligendienst" style="display: none;">
      <input type="checkbox" id="D-A1"/>
      <label for="D-A1">   <img src="https://aufbau-website.de/craft/web/bilder/header-bilder/arrow-boxes-35px-left.png" class="pfeilUnterebene">  </label>
      <br clear="all" /> <!-- Einen rabiaten Zeileumbruch am Ende -->
      <ul>
        <li> Freiwilligendienst </li> <hr>
        <li><a tabindex="-1" href="https://aufbau-Website.de/craft/web/fuerSie/freiwillig/weltwaerts.html">Mit "weltwärts" nach Peru oder Kenia</a></li> <hr>
        <li><a href="https://aufbau-Website.de/craft/web/fuerSie/freiwillig/peru.html">Weitere Einsatzmöglichkeiten in Peru</a></li> <hr>
        <li><a href="https://aufbau-Website.de/craft/web/fuerSie/freiwillig/bewerbung-1.html">Deine Bewerbung</a></li> <hr>
        <li><a href="https://aufbau-Website.de/craft/web/fuerSie/freiwillig/erfahrungsberichte.html">Erfahrungsberichte</a></li> <hr>
      </ul>
    </div>

    <div id="fuerSieDaheim" style="display: none;">
      <input type="checkbox" id="D-B1"/>
      <label for="D-B1">   <img src=" {{ entry.bild2.one().url }} " class="pfeilUnterebene">  </label>
      <br clear="all" /> <!-- Einen rabiaten Zeileumbruch am Ende -->
      <ul>
        <li> Für Sie daheim </li> <hr>
        <li><a tabindex="-1" href="https://aufbau-Website.de/craft/web/fuerSie/daheim/consumermission.html">"Consumer Missions"</a></li> <hr>
        <li><a href="https://aufbau-Website.de/craft/web/fuerSie/daheim/kaffee.html">Kaffee - unsere tägliche Chance</a></li> <hr>
        <li><a href="https://aufbau-Website.de/craft/web/fuerSie/daheim/blumen.html">Bäume für Kenia statt Blumen für Euro</a></li> <hr>
      </ul>
    </div>

    <div style="padding-top: 5px; padding: 0 2rem;" id="blogBox">
      <a href="https://aufbau-website.de/craft/web/blog">BLOG</a>
      <hr> <!-- Horizontal Ruler für Abstände -->
    </div>

    <div style="padding-top: 20px; padding: 0 2rem;" id="kontaktBox">
      <a href="https://aufbau-website.de/craft/web/kontakt">KONTAKT</a>
      <hr> <!-- Horizontal Ruler für Abstände -->
    </div>

  </div>
</div>
</div>

</div>
