<div class="container-fluid no-padding" style="background-color: #333333; padding-top: 80px;">
  <div class="container">

  <div class="row">
    <div class="col-7">

<h4 style="color: #d7d7d7;"> Freundesbrief abbonnieren <h4>
  <p class="copy" style="color: #d7d7d7;"> Lassen Sie sich ungefähr einmal monatlich durch unseren konstenfreien
      Freundesbrief „Chance-Aktuell“ informieren. </p>

      <form class="form-inline" action="/action_page.php" style="padding-bottom: 40px;">
       <input type="email" class="form-control" placeholder=" Ihre E-Mail-Adresse" style="opacity: 0.1; margin-right: 30px; padding-right: 60px;">
       <button type="submit" class="btn btn-light">Anmelden</button>
     </form>

     <p class="copy" style="color: #d7d7d7; padding-bottom: 40px;"> Zweimal im Jahr versenden wir einen längeren Freundesbrief per Post.
       <br> Diesen können Sie hier bestellen  </p>

      </div>


      <div class="col-5" style="padding-left: 50px;">

  <h4 style="color: #d7d7d7;"> Spendenkonto <h4>
    <p class="copy" style="color: #d7d7d7;"> Chance e.V. <br> Bank für Kirche und Diakonie <br>
      IBAN: DE92 3506 0190 1014 4450 10 <br> BIC: GENO DE D1 DKD </p>

       <p class="copy" style="color: #d7d7d7; padding-bottom: 40px; padding-top: 20px;">
         Alle Spendenmöglichkeiten ansehen  </p>
        </div>
    </div>


    <!-- Trennlinie für den Footer -->
    <div class="rectangle" style="opacity: 0.1; height: 2px; background-color: #d7d7d7; margin-bottom: 40px;"></div>


    <!-- Der zweite Teil des Footers mit den Links -->
    <div class="row" style="padding-bottom: 40px;">
      <div class="col-3">

        <h4 style="color: #d7d7d7;"> Über uns <h4>

        <p class="copy" style="color: #d7d7d7;"> ~ Wie wir arbeiten <br> ~ Konzept <br> ~ Leitidee <br> ~ Motivation <br> ~ Der Verein
            <br> ~ Transparenz  <br> ~ Empfehlungen

        </div>


        <div class="col-3">

          <h4 style="color: #d7d7d7;"> Projekte <h4>
            <p class="copy" style="color: #d7d7d7;">  ~ Wo wir arbeiten <br> ~ Programme <br> ~ Themen <br> ~ Erfahrungsberichte
              <br> ~ Projektberichte <p>

        </div>

        <div class="col-3">

          <h4 style="color: #d7d7d7;"> Spenden <h4>
            <p class="copy" style="color: #d7d7d7;">  ~ Allgemein Spenden <br> ~ Projektbezogen Spenden <br>
              ~ Einkaufen & Spenden <br> ~ Schenken & Spenden   <p>

        </div>

        <div class="col-3">

          <h4 style="color: #d7d7d7;"> Für Sie <h4>
            <p class="copy" style="color: #d7d7d7;">  ~ Chance kommt zu Ihnen <br> ~ Freiwilligendienst <br> ~ Für Sie daheim <br>
              ~ Presse & Downloads  <br> ~ Literaturtipps <br> ~ Zitate <p>
        </div>
      </div>

      <!-- Trennlinie für den Footer -->
      <div class="rectangle" style="opacity: 0.1; height: 2px; background-color: #d7d7d7;"></div>


<!-- Der letzte Teil des Footers -->
      <div class="row" style="padding-bottom: 40px; padding-top: 20px; color: #d7d7d7; font-size: 14px;">

        <div class="col-7">
          © Chance e.V.
          </div>

          <div class="col-1">
            Datenschutz
          </div>


          <div class="col-1">
            Impressum
          </div>

          <div class="col-1">
            Sitemap
          </div>


          <div class="col-2">
            Facebook_logo
          </div>

      </div>

  </div>
</div>
