{% set entries = craft.entries.section('blog').level('1').all() %}
{% set counter = 4 %}

{% for entry in entries %}
    <div id="{{ 'eintrag' ~ counter }}">
      <img class="img-fluid"src="{% if entry.bild.one() is not null %} {{ entry.bild.one().url }} {% endif %}" alt="blogbild" style="padding-bottom: 1rem;">
      <div id="info"> Veröffentlicht am {{ entry.postDate | date("M d, Y") }} - {%if entry.blogKategorie.one() is not null %} in <a href="{{ entry.blogKategorie.one().url }}">{{ entry.blogKategorie.one().title }}</a> {% endif %}</div>
      <!-- Mit der oberen Zeile wird die Kategorie des Artikels abgerufen und angezeigt und sofort klickbar -->
      <h2 style="padding-bottom: 0;"> {{ entry.title}}</h2>
      <div id="copy" style="padding-top: 1rem; padding-bottom: 3.5rem;"> {{ entry.anleser }}
      <a href="{{ 'https://aufbau-website.de/craft/web/blog/' ~ entry.slug }}"> Weiterlesen</a> </div>
    </div>
    {% set counter = counter + 1 %}
{% endfor %}
