
{% extends "_layouts/layoutHome.html" %}



{% block block1 %}

<div class="container-fluid text-center" style="padding-top: 150px; position: relative;">

<img class="img-fluid" id="welle" src="{{ craft.assets.filename('welle.png').one().getUrl() }}" style="position: absolute; left:0; width: 40%;  z-index: -999;">

<div class="container achterspaltenlayout" style="padding-bottom: 0;">
  <h1> {{ entry.title }} </h1>
  <span id="anleser"> <strong> {{ entry.beruf }}</strong> </span>
    <div id="anleser"> {{ entry.anleser }}</div>
  </div>
</div>

<div class="container zwoelferspaltenlayout" style="padding-top: 0;">
  <img class="img-fluid" src="{% if entry.bild2.one() is not null %} {{ entry.bild2.one().url }} {% endif %}" alt="">
</div>

<div class="container achterspaltenlayout">
  <div id="copy">{{ entry.langerText }}
  </div>
</div>

<div class="container zwoelferspaltenlayout" style="padding-top: 0;">
  <hr> <div id="copy" class="text-center" style="padding-bottom: 3rem; padding-top: 1rem;"> Weitere Erfahrungsberichte  </div>

<div class="card-columns">

  {% set entries = craft.entries.section('erfahrungsberichte').all() %}

      {% for entry in entries %}
      <div class="card">
            <div class="row">
              <div class="col-4" style="text-align: center; white-space: nowrap;">
                 <span class="helper" style="display: inline-block; height: 100%; vertical-align: middle;"></span>
                  <img class="rounded-circle w-75" style="margin-left: 12.5%; vertical-align: middle; max-height: 100px;" src=" {% if entry.bild.one() is not null %} {{ entry.bild.one().url }} {% endif %}">
                </div>
                <div class="col-8">
                  <div class="card-body" style="padding: 0; padding-right: 1rem;">
                    <p class="card-text">
                      <h4 style="margin: 0;"> {{ entry.title }} </h4>
                      <span id="copy">
                        <a href="{{ 'https://aufbau-website.de/craft/web/projekte/erfahrungsberichte/' ~ entry.slug }}"> {{ entry.beruf }}</a>
                      </span>
                    </p>
                  </div>
            </div>
          </div>
        </div>

      {% endfor %}
  </div>
</div>

{% set entry = craft.entries.section('spendenfelderUndSo').slug('paten-dringend-gesucht').one() %}

<div class="container-fluid no-padding"  style="padding-top: 30px; padding-bottom: 30px; background-image: url({{ entry.bild.one().url }});">
  <div class="row">
    <div class="col-sm-2">  </div>
    <div class="col-lg-2 col-md-3 col-sm-3">   <img class="img-fluid rounded-circle mx-auto d-block" src="{{ entry.bild2.one().url }}" style="max-height: 150px; padding:0;"> </div>
    <div class="col-sm-1">  </div>
    <div class="col-sm-6" style="padding-left: 2rem; padding-right: 2rem;">
      <h4 style="color: white;"> {{ entry.title }} </h4>
      <div id="copy" style="color: white;"> {{ entry.text }}</div>
    </div>
  </div>
</div> <!-- Der orange Berg mit dem Spendenaufruf -->


{% endblock %}
