
{% extends "_layouts/layoutHome.html" %}



{% block block1 %}

<div class="container-fluid text-center" style="padding-top: 150px; position: relative;">

<img class="img-fluid" src="{{ craft.assets.filename('welle.png').one().getUrl() }}" style="position: absolute; left:0; width: 40%;  z-index: -999;">

<div class="container achterspaltenlayout">
    <h1> {{ entry.title }} </h1>
    <h4>  {{ entry.anleser }} </h4>
    <div id="anleser"> {{ entry.text }}</div>
  </div>
</div>

<div class="container achterspaltenlayout">
  <div id="copy">{{ entry.zusatzfeld2 }}
  </div>
</div>

<div class="container zwoelferspaltenlayout" >
  <hr>

<div class="card-columns">

  {% set entries = craft.entries.section('projekte').slug('erfahren-sie-mehr').one().children().all() %}

  {# If there are any entries, loop through them #}
  {% if entries | length %}

      {# For each entry we find, do this #}
      {% for entry in entries %}

      <div class="card bg-white">
        <div class="card-body">
          <p class="card-text">
            <h4> {{ entry.title }} </h4>
            <div id="copy"> {{ entry.anleser }} </div>
          </p>
        </div>
      </div>

      {% endfor %}

  {% endif %}

  </div>
</div>

{% endblock %}
