
{% extends "_layouts/layoutHome.html" %}

{% block block1 %}

<div class="container-fluid text-center" id="ersterContainer" style="padding-top: 120px; position: relative;">


  <img class="img-fluid" src="{{ craft.assets.filename('welle.png').one().getUrl() }}" style="position: absolute; left:0; width: 40%;  z-index: -999;">


  <div class="container achterspaltenlayout" style="padding-top:0px;">
    {% set entry = craft.entries.section('home').slug('mensch-schoepfung').one() %}

    <div style="padding-bottom:50px; ">
      <h1 style="padding-bottom: 30px;"> {{ entry.title }}  </h1>
      <div id="anleser"> {{ entry.anleser }}</div>
      </div>
    </div>
  </div>

<div class="container-fluid no-padding">
        <img class="img-fluid" src=" {{ craft.assets.filename('chance-home-header.jpg').one().getUrl() }} ">
</div>

  <div class="container achterspaltenlayout text-center" style="padding-top: 30px;">
    <div id="anleser"> {{ entry.text }}</div>
  </div>

  <div class="container zwoelferspaltenlayout text-center" style="padding-bottom: 30px;">
    {% set entry = craft.entries.section('home').slug('armut-entkommen').one() %}

    <div class="row">
      <div class="col-sm-3">
        <div id="anleser"> {{ entry.title }} </div>
      </div>
      <div class="col-sm-3">
        <div id="anleser"> {{ entry.anleser }} </div>
      </div>
      <div class="col-sm-3">
        <div id="anleser"> {{ entry.text }} </div>
      </div>
      <div class="col-sm-3">
        <div id="anleser"> {{ entry.zusatzfeld1 }} </div>
      </div>
    </div>

     <a href="https://aufbau-website.de/craft/web/ueberUns" class="btn btn-primary" role="button">Erfahren Sie mehr über uns</a>

  </div>

<div class="container-fluid no-padding" style="background-color: #ffffff;">

  <div class="container achterspaltenlayout text-center">
    Hier kommt ein zufälliges Zitat rein
  </div>
</div>




{# Alles, was bis zu dem endblock-Tag kommt, überschreibt den Block in layoutHome #}



{% endblock %}
