
{% extends "_layouts/layoutHome.html" %}

{% block titelfuerseo %}
{% set entry = craft.entries.section('suchmaschinenoptimierung').slug('deine-bewerbung').one() %}
{{ entry.titelfeldFuerJens }}
{% endblock %}

{% block block1 %}

<div class="container-fluid text-center" id="ersterContainer" style="padding-top: 7rem; position: relative;">

  <nav aria-label="breadcrumb" id="info">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"> <a href="https://aufbau-website.de/craft/web/fuerSie">Für Sie</a></li>
      <li class="breadcrumb-item"> <a href="https://aufbau-website.de/craft/web/fuerSie/freiwilligendienst.html">Freiwilligendienst</a></li>
      <li class="breadcrumb-item"> Deine Bewerbung </li>
    </ol>
  </nav>

  <img class="img-fluid" id="welle" src="{{ craft.assets.filename('welle.png').one().getUrl() }}" style="position: absolute; left:0; width: 40%;">


  <div class="container achterspaltenlayout" style="padding-top:0px; position: relative;">
    {% set entry = craft.entries.section('fuerSie').slug('chancengeber').one() %}

      <h1 style="padding-bottom: 2rem;"> {{ entry.title }}  </h1>
      <div id="anleser"> {{ entry.anleser }}</div>
    </div>
    <nav id="myScrollspy">
      <ul class="nav nav-pills flex-column" id="copy">
        <p class="uebersicht text-left"> Übersicht der Inhalte: </p>
           <li class="nav-item">   <a class="nav-link active" href="#profil"> <div>Dein Profil</div> </a> </li>
           <li class="nav-item">   <a class="nav-link" href="#bewerbung"> <div> Deine Bewerbung </div> </a> </li>
      </ul>
    </nav>

  </div>

<div class="container-fluid no-padding" style="background-color: #ffffff;">

  <div class="container achterspaltenlayout" style="padding-bottom: 0; padding-top: 3rem;">
    <h2 id="profil" class="text-center" style="padding-bottom: .5rem;"> {{ entry.zusatzfeld1 }} </h2>
    <div id="copy"> {{ entry.text}}</div>

  {% set entries = craft.entries.section('fuerSie').slug('1-joh-3-16-ff').one().children().all() %}
  {% set akkordionBilder = craft.entries.section('spendenfelderUndSo').slug('akkordion-bilder').one() %}
  {% include '_layouts/codeschnipsel/accordion' %}
  </div> <!-- Dein Profil -->

  <style media="screen">
  #accordion .card, #accordion .card-header{
    background-color: #f8f5f2 !important;
  }
  #accordion p {
    padding-left: 1.3rem;
    text-indent: -.8rem;
  }

  </style>

  <div class="container achterspaltenlayout" style="padding-bottom: 4rem;">
      <div id="copy"> {{ entry.zusatzfeld2 }} </div>
  </div>

<div class="container-fluid no-padding" style="background-image: url({{ entry.bild.one().url }})">
  <div class="container achterspaltenlayout text-center">
    {% set entries = entry.children().all() %}
    {% set entry = random(entries) %}
    <div id="zitat"  style="padding-bottom: 0px;"> {{ entry.text }}  </div>
    <div id="autor"> {{ entry.title }}  </div>
  </div>
</div> <!-- Das Wolkenbild mit den Zitaten drin -->
</div> <!-- Weißer Hintergrund-Div -->

  <div class="container achterspaltenlayout" style="padding-top: 5rem;" id="bewerbung">
    {% set entry = craft.entries.section('fuerSie').slug('bewerbung').one() %}
    <h2 class="text-center" style="padding-bottom: 2rem;"> {{ entry.title }} </h2>
    <div id="copy"> {{ entry.anleser }}</div>
  </div>

  <div class="container achterspaltenlayout" style="padding-top: 3rem;">
      <hr style="margin-bottom: 3rem;">
      <div id="info"> {{ entry.text }} </div>
  </div>
  <img class="img-fluid" style="padding-bottom: 0;"  src="{% if entry.bild.one() is not null %}  {{ entry.bild.one().getUrl() }}  {% endif %}">

<div class="container-fluid no-padding" style="background-color: white; padding-top: .5rem;">

  <div class="container zwoelferspaltenlayout text-center" style="margin-top: 2rem;">
    <hr style="margin-bottom: 3rem;">
   <div id="anleser" style="padding-bottom: 5rem;"> Weitere Informationen zum Freiwilligendienst </div>
  </div>

  {% set entry = craft.entries.section('fuerSie').slug('erfahrungsberichte').one() %}
  {% include '_layouts/weiterleitungkorrekt' %}

  <div style="padding-bottom: 5rem;">  </div>
</div>


{% endblock %}
